<!-- ========================== About Four Two Section start =============================== -->
<section class="about-four-two py-[120px] relative z-10 overflow-hidden">
    <img src="assets/images/bg/mash-gradient-bg3.png" alt="Gradient" class="absolute start-0 top-0 -z-[1]">
    
    <div class="container">
        <div class="row gy-4 flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="relative">
                    <div class="ps-14 relative">
                        <img src="assets/images/thumbs/about-four-two-thumb.png" alt="Thumb" class="w-full">
                    </div>
                    
                    <div class="absolute bottom-0 start-0 flex w-full justify-between align-items-end">
                        <img src="assets/images/thumbs/about-four-thumb-2.png" alt="Thumb" class="d-block common-shadow-twentyFour rounded-2xl animated-upDown">
                        <img src="assets/images/thumbs/robot-img.png" alt="Thumb" class="d-block ms-8 rounded-2xl animated-upDown animation-delay-1">
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="ps-xl-5">
                    <div class="mb-10">
                        <h4 class="mb-2 font-bold line-clamp-1 font-caveat capitalize text-orange">with the world's favorite CRM</h4>
                        <h2 class="splitTextStyleOne text-heading capitalize max-w-532-px">
                            Simple set up,easy to stay organized
                        </h2>
                        <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-570-px font-medium text-lg">Sassly-CRM in the past allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving pen</p>
                    </div>

                   <div class="flex flex-col gap-5">
                        <div class="flex items-center gap-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <span class="w-8 h-8 bg-neutral-200 text-heading flex justify-center items-center rounded-[50%]">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <p class="font-bold text-heading text-lg">Customizable pipeline views</p>
                        </div>
                        <div class="flex items-center gap-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                            <span class="w-8 h-8 bg-neutral-200 text-heading flex justify-center items-center rounded-[50%]">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <p class="font-bold text-heading text-lg">Increase your lead-to-deal conversion rates.</p>
                        </div>
                        <div class="flex items-center gap-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <span class="w-8 h-8 bg-neutral-200 text-heading flex justify-center items-center rounded-[50%]">
                                <i class="ph-bold ph-check"></i>
                            </span>
                            <p class="font-bold text-heading text-lg">Streamline data and tracking between softwares</p>
                        </div>
                   </div>
                   <div class="mt-9" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900">
                        <a href="pricing-plan.html" class="hover:-translate-y-1 active--translate-y-scale-9 btn button--stroke items-center justify-center gap-5 group active--translate-y-2 px-10 py-5.5 font-bold rounded-[50rem] btn-main hover:style-one common-shadow-inset-one" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Start your free trial</span>
                        </a>
                   </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ========================== About Four Two Section end =============================== --> 