<!-- ========================== About Two Section start =============================== -->
<section class="about-two py-[80px] sm:py-[100px] lg:py-[120px] relative z-10 overflow-hidden">
    <img src="assets/images/shapes/squre-box-shape.png" alt="Square shape" class="absolute top-50 start-0 ms-[128px] animate__wobble__two -z-[1] lg:block hidden">
    
    <div class="container">
        <div class="grid grid-cols-1 sm:grid-cols-12 gap-6 flex-wrap-reverse">
            <!-- About two thumbs slider start -->
            <div class="col-span-12 lg:col-span-5">
                <div class="rounded-lg background-img px-7 bg-img relative max-w-[570px]" data-background-image="assets/images/thumbs/about-two-img-bg.png">
                    <img src="assets/images/shapes/finger-shape.png" alt="Shape" class="flower animate__wobble__two absolute end-[100%] bottom-[100%] -m-[24px] -z-[1]">

                    <div class="flex gap-6 max-h-[588px]">
                        <!-- First Slider start -->
                        <div class="swiper overflow-hidden about-two-thumbs-slider-one w-50">
                            <div class="swiper-wrapper transition-timing-linear gap-6">
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img1.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img2.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img3.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img1.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img2.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img3.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img1.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img2.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img3.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- First Slider end -->
    
                        <!-- Second Slider start -->
                        <div class="swiper overflow-hidden about-two-thumbs-slider-two w-50">
                            <div class="swiper-wrapper transition-timing-linear gap-6">
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img1.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img2.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img3.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img1.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img2.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img3.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img1.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img2.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="rounded-2xl overflow-hidden">
                                        <img src="assets/images/thumbs/about-slide-img3.png" alt="Image" class="w-full h-full object-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second Slider end -->
                    </div>

                
                </div>
            </div>
            <!-- About two thumbs slider End -->


            <!-- About two content start -->
            <div class="col-span-12 lg:col-span-7 lg:ps-12">
                <div class="">
                    <div class="bg-neutral-100 py-3 px-3.5 rounded-[50rem] text-heading font-medium capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <span class="w-205 h-205 bg-yellow-600 rounded-[50%]"></span>
                        Up to <span class="text-yellow-600">70%</span> off managed cloud hosting
                    </div>
                    <h2 class="splitTextStyleOne text-heading capitalize">
                        Sasstech makes you a better
                        <span class="font-dm-serif fst-italic font-normal">elevating</span> 
                        your team's
                    </h2>
                    <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-[570px] font-medium text-lg">In today's competitive business, the demand for efficient In today's competitive cost-effective IT solutions has never been more critic. business</p>

                    <div class="mt-8"> 
                        <div class="flex items-center gap-16">
                            <div class="flex flex-col gap-3.5">
                                <div class="flex items-center gap-4.5 animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    <span class="w-11 h-10 text-heading bg-neutral-200 rounded-md flex justify-center items-center text-xl">
                                        <i class="animate__heartBeat ph-bold ph-magnifying-glass"></i>
                                    </span>
                                    <a href="pricing-plan.html" class="font-bold text-lg text-heading hover:underline">Domain</a>
                                </div>
                                <div class="flex items-center gap-4.5 animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    <span class="w-11 h-10 text-heading bg-neutral-200 rounded-md flex justify-center items-center text-xl">
                                        <i class="animate__heartBeat ph-bold ph-dresser"></i>
                                    </span>
                                    <a href="pricing-plan.html" class="font-bold text-lg text-heading hover:underline">Web Hosting ₹ 79.00/mo</a>
                                </div>
                                <div class="flex items-center gap-4.5 animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    <span class="w-11 h-10 text-heading bg-neutral-200 rounded-md flex justify-center items-center text-xl">
                                        <i class="animate__heartBeat ph-bold ph-certificate"></i>
                                    </span>
                                    <a href="pricing-plan.html" class="font-bold text-lg text-heading hover:underline">SSL Certificates</a>
                                </div>
                                <div class="flex items-center gap-4.5 animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    <span class="w-11 h-10 text-heading bg-neutral-200 rounded-md flex justify-center items-center text-xl">
                                        <i class="animate__heartBeat ph-bold ph-envelope"></i>
                                    </span>
                                    <a href="pricing-plan.html" class="font-bold text-lg text-heading hover:underline">Professional Email</a>
                                </div>
                            </div>
                            <div class="flex items-center gap-9 ms-[7.5] sm:flex hidden flex-shrink-0">
                                <span class="h-[114px] w-px bg-neutral-200"></span>
                                <span class="font-bold text-lg text-heading uppercase">OR</span>
                            </div>
                            <div class="ms-[2.5] left-right-animation sm:flex hidden">
                                <img src="assets/images/shapes/curve-arrow-two.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mt-8 max-w-[500px]" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                        <a href="pricing-plan.html" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke lg:flex hidden items-center justify-center gap-5 group active:-translate-y-2 px-15 rounded-md py-5.5 font-medium" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">See Plan & Pricing</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- About two content end -->

        </div>
    </div>
</section>
<!-- ========================== About Two Section end =============================== -->