<!-- ======================== About Six section start ============================ -->
<section class="about-six py-[120px] relative">
    <div class="container">
        <div class="row gy-4 flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="about-six-image">
                    <img src="assets/images/thumbs/about-six-img.png" alt="Thumbnail" data-aos="fade-up"
                        data-aos-duration="800" data-aos-delay="100">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <div class="">
                        <span class="capitalize font-caveat font-bold mb-3 h5 text-olive-green" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">With the world's
                            favorite
                            CRM</span>
                        <h2 class="text-heading capitalize splitTextStyleOne">Your data is encrypted, secure &
                            fully
                            compliant</h2>
                        <p class="text-neutral-600 text-lg mt-6 max-w-570-px" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="300">Sassly-CRM in the past allowing you
                            to
                            focus
                            more on
                            your business
                            or
                            simply enjoy
                            your newfound legal time to reflect leaving pen-and-paper.</p>
                    </div>
                    <div class="mt-9 flex flex-col gap-5">
                        <div class="flex items-center gap-5 animation-item" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="w-8 h-8 rounded-circle bg-neutral-100 flex justify-center items-center text-heading text-base">
                                <i class="ph-bold ph-check animate__heartBeat"></i>
                            </span>
                            <p class="font-semibold text-heading text-lg">PCI-DSS Level 1 Certified</p>
                        </div>
                        <div class="flex items-center gap-5 animation-item" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="w-8 h-8 rounded-circle bg-neutral-100 flex justify-center items-center text-heading text-base">
                                <i class="ph-bold ph-check animate__heartBeat"></i>
                            </span>
                            <p class="font-semibold text-heading text-lg">End-to-End Encryption</p>
                        </div>
                        <div class="flex items-center gap-5 animation-item" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="w-8 h-8 rounded-circle bg-neutral-100 flex justify-center items-center text-heading text-base">
                                <i class="ph-bold ph-check animate__heartBeat"></i>
                            </span>
                            <p class="font-semibold text-heading text-lg">2FA & Tokenization</p>
                        </div>
                        <div class="flex items-center gap-5 animation-item" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <span
                                class="w-8 h-8 rounded-circle bg-neutral-100 flex justify-center items-center text-heading text-base">
                                <i class="ph-bold ph-check animate__heartBeat"></i>
                            </span>
                            <p class="font-semibold text-heading text-lg">Fraud Monitoring & Alerts</p>
                        </div>
                    </div>
                    <div class="mt-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <a href="register.html"
                            class="hover:-translate-y-1 active--translate-y-scale-9 btn button--stroke inline-flex items-center justify-center gap-5 group active--translate-y-2 px-9 py-5.5 font-semibold rounded-[50rem] btn-main hover:style-one common-shadow-inset-one text-heading hover:text-white "
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Start Your Free Trial</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== About Six section end ============================ -->