<!-- ========================== About Four Three Section start =============================== -->
<section class="about-four-three relative z-10 overflow-hidden">
    <div
        class="gradient-bg-top-bottom pb-[80px] sm:pb-[100px] lg:pb-[120px] mx-4 md:mx-6 lg:mx-8 xl:mx-10 2xl:mx-[48px]">
        <img src="assets/images/bg/mash-gradient-bg4.png" alt="Gradient" class="absolute end-0 bottom-[100%] -z-[1]">

        <div class="container">
            <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">

                <div class="col-span-12 lg:col-span-6">
                    <div class="xl:pe-12">
                        <div class="mb-10">
                            <h2 class="h4 mb-2 font-bold line-clamp-1 font-caveat capitalize text-crm!">with the world's
                                favorite CRM</h2>
                            <h2 class="splitTextStyleOne text-heading capitalize font-bold">
                                Perfectly-timed and personal outreach
                            </h2>
                            <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-[570px] font-medium text-lg">
                                Sassly-CRM in the past allowing you to focus more on your business simply enjoy your
                                newfound legal time to reflect leaving pen</p>
                        </div>

                        <div id="accordion-collapse-two" data-accordion="collapse"
                            class="bg-white-style rounded-base overflow-hidden shadow-xs flex flex-col gap-6">

                            <!-- Item 1 -->
                            <div class="accordion-item">
                                <h2 id="accordion-two-heading-1">
                                    <button type="button"
                                        class="flex items-center justify-between w-full font-bold text-heading gap-3 xl:text-2xl text-xl py-6 bg-[#fff] rounded-xl px-6"
                                        data-accordion-target="#accordion-two-body-1" aria-expanded="true"
                                        aria-controls="accordion-two-body-1">

                                        <span>Automate everything</span>

                                        <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m5 15 7-7 7 7" />
                                        </svg>

                                    </button>
                                </h2>

                                <div id="accordion-two-body-1" class="hidden" role="region" aria-labelledby="accordion-two-heading-1">
                                    <div class="px-6 pb-6">
                                        <p class="text-neutral-500 text-lg">
                                            ERP provides a complete leave management system for your HR.
                                            Upcoming holidays and remaining leave balances
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 2 -->
                            <div class="accordion-item">
                                <h2 id="accordion-two-heading-2">
                                    <button type="button"
                                        class="flex items-center justify-between w-full font-bold text-heading gap-3 xl:text-2xl text-xl py-6 bg-[#fff] rounded-xl px-6"
                                        data-accordion-target="#accordion-two-body-2" aria-expanded="false"
                                        aria-controls="accordion-two-body-2">

                                        <span>Deploy AI</span>

                                        <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m5 15 7-7 7 7" />
                                        </svg>

                                    </button>
                                </h2>

                                <div id="accordion-two-body-2" class="hidden" role="region" aria-labelledby="accordion-two-heading-2">
                                    <div class="px-6 pb-6">
                                        <p class="text-neutral-500 text-lg">
                                            ERP provides a complete leave management system for your HR.
                                            Upcoming holidays and remaining leave balances
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 3 -->
                            <div class="accordion-item">
                                <h2 id="accordion-two-heading-3">
                                    <button type="button"
                                        class="flex items-center justify-between w-full font-bold text-heading gap-3 xl:text-2xl text-xl py-6 bg-[#fff] rounded-xl px-6"
                                        data-accordion-target="#accordion-two-body-3" aria-expanded="false"
                                        aria-controls="accordion-two-body-3">

                                        <span>Powerful reporting</span>

                                        <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m5 15 7-7 7 7" />
                                        </svg>

                                    </button>
                                </h2>

                                <div id="accordion-two-body-3" class="hidden" role="region" aria-labelledby="accordion-two-heading-3">
                                    <div class="px-6 pb-6">
                                        <p class="text-neutral-500 text-lg">
                                            ERP provides a complete leave management system for your HR.
                                            Upcoming holidays and remaining leave balances
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Item 4 -->
                            <div class="accordion-item">
                                <h2 id="accordion-two-heading-4">
                                    <button type="button"
                                        class="flex items-center justify-between w-full font-bold text-heading gap-3 xl:text-2xl text-xl py-6 bg-[#fff] rounded-xl px-6"
                                        data-accordion-target="#accordion-two-body-4" aria-expanded="false"
                                        aria-controls="accordion-two-body-4">

                                        <span>Smart analytics</span>

                                        <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m5 15 7-7 7 7" />
                                        </svg>

                                    </button>
                                </h2>

                                <div id="accordion-two-body-4" class="hidden" role="region" aria-labelledby="accordion-two-heading-4">
                                    <div class="px-6 pb-6">
                                        <p class="text-neutral-500 text-lg">
                                            ERP provides a complete leave management system for your HR.
                                            Upcoming holidays and remaining leave balances
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-span-12 lg:col-span-6">
                    <div class="relative">
                        <div class="ps-14 relative">
                            <img src="assets/images/thumbs/about-four-three-thumb1.png" alt="Thumb" class="w-full">
                        </div>

                        <div class="absolute bottom-0 start-0 mb-6">
                            <img src="assets/images/thumbs/about-four-three-thumb2.png" alt="Thumb"
                                class="common-shadow-twentyFour rounded-2xl mb-4 animated-upDown">
                            <img src="assets/images/thumbs/robot-img.png" alt="Thumb"
                                class="block ms-8 rounded-2xl animated-upDown animation-delay-1">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ========================== About Four Three Section end =============================== -->