<!-- ========================== About section start ============================= -->
<section class="py-[80px] sm:py-[100px] lg:py-[120px] drag-rotate-element-section">
    <div class="container">
        <div class="rounded-[50px] gradient-bg-one px-4 lg:px-5 xl:px-6 2xl:px-9 pt-9">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="pe-12 relative">
                        <div class="row g-2">
                            <div class="col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                                <div class="bg-main-600 rounded-3xl p-8 text-center h-full flex flex-col justify-center items-center">
                                    <h3 class="text-white inline-flex items-center gap-3 mb-9">
                                        <span class="flex">
                                            <img src="assets/images/icons/arrow-up.svg" alt="">
                                        </span>
                                        88%
                                    </h3>
                                    <p class="text-white text-sm">Average revenue growth for per successful clients</p>
                                </div>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                                <div class="bg-main-two-600 rounded-3xl h-[300px] flex flex-col justify-center items-center relative">
                                    <img src="assets/images/thumbs/model.png" alt="" class="absolute start-50 bottom-0 translate-x-50">
                                </div>

                                <div class="bg-white rounded-lg common-shadow-one border-bottom border-3 border-main-600 px-4 py-2 flex items-center gap-3 z-10 absolute top-0 end-0 mt-194-px">
                                    <span class="bg-neutral-200 w-10 h-10 rounded-xl flex justify-center items-center text-neutral-500">
                                        <i class="ph-bold ph-smiley"></i>
                                    </span>
                                    <div class="">
                                        <h6 class="">99.8%</h6>
                                        <p class="font-medium text-sm text-neutral-500">Client Satisfaction</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                                <div class="bg-main-two-600 rounded-3xl p-8 text-center flex flex-col justify-center items-center h-[300px]">
                                    <div class="circle-border inline-block">
                                        <svg class="radial-progress" data-percentage="78" viewBox="0 0 80 80">
                                            <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                            <circle class="complete" cx="40" cy="40" r="35"></circle>
                                            <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">78%</text>
                                        </svg>
                                    </div>
                                    <p class="text-white text-sm mt-5">Avarage revenew growth for per succesful clients</p>
                                </div>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                                <div class="myContainer relative flex flex-col justify-center items-center h-full gap-7.5 overflow-hidden">
                                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-1 font-semibold text-white bg-main-two-600 rounded-[50rem]">Cybersecurity</span>
                                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-4 py-1 font-semibold text-white bg-pink rounded-[50rem]">Infrastructure Management</span>
                                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-1 font-semibold text-white bg-main-600 rounded-[50rem]">Operational Excellence</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="common-shadow-three rounded-[40px] bg-white ps-56-px pe-6 py-6 md:py-6 lg:py-8 xl:py-9 2xl:py-[84px]">
                        <div class="mb-14">
                            <span class="py-1 px-7.5 bg-main-50 text-main-600 text-sm font-bold capitalize rounded-[50rem] mb-2.5">About Us</span>
                            <h3 class="splitTextStyleOne font-light leading-[1.4]"> 
                                <span class="inline-block font-semibold">Comprehensive</span> 
                                <span class="inline-block">IT</span> 
                                <span class="inline-block font-semibold">Solution</span> 
                                <span class="inline-block"> Growth </span> 
                                <span class="inline-block font-semibold"> & Efficiency</span> 
                            </h3>
                        </div>
                        <div class="flex flex-col gap-10">
                            <div class="flex items-start gap-26-px animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                <span class="w-14 flex justify-center items-center">
                                    <img src="assets/images/icons/about-icon1.svg" alt="" class=" animate__bounce">
                                </span>
                                <div class="">
                                    <h6 class="mb-4">Innovation at our core</h6>
                                    <p class="text-neutral-500 max-w-[400px]">In today's competitive business, the demand for efficient cost-effective IT solutions has never been more critic.</p>
                                </div>
                            </div>
                            <div class="flex items-start gap-26-px animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                <span class="w-14 flex justify-center items-center">
                                    <img src="assets/images/icons/about-icon2.svg" alt="" class=" animate__bounce">
                                </span>
                                <div class="">
                                    <h6 class="mb-4">Simplifying complexity</h6>
                                    <p class="text-neutral-500 max-w-[400px]">In today's competitive business, the demand for efficient cost-effective IT solutions has never been more critic.</p>
                                </div>
                            </div>
                            <div class="flex items-start gap-26-px animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                <span class="w-14 flex justify-center items-center">
                                    <img src="assets/images/icons/about-icon3.svg" alt="" class=" animate__bounce">
                                </span>
                                <div class="">
                                    <h6 class="mb-4">Empowering growth.</h6>
                                    <p class="text-neutral-500 max-w-[400px]">In today's competitive business, the demand for efficient cost-effective IT solutions has never been more critic.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== About section End ============================= -->