<!-- ========================== About Two Section start =============================== -->
<section class="about-two py-[80px] sm:py-[100px] lg:py-[120px] relative z-10 overflow-hidden">
    <img src="assets/images/bg/mash-gradient-bg3.png" alt="Gradient" class="absolute start-0 top-0 -z-[1]">
    
    <div class="container">
        <div class="row gy-4 flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="relative">
                    <div class="ps-14 relative">
                        <img src="assets/images/thumbs/about-four-thumb-1.png" alt="Thumb" class="w-full">
                        <img src="assets/images/shapes/revenue-shape.png" alt="" class="flower animate__wobble__two absolute start-0 bottom-100 -m-24-px -z-[1]">
                    </div>
                    
                    <div class="absolute bottom-0 start-0 mb-6">
                        <img src="assets/images/thumbs/about-four-thumb-3.png" alt="Thumb" class="d-sm-block d-none mb-4 animated-upDown">
                        <img src="assets/images/thumbs/about-four-thumb-2.png" alt="Thumb" class="d-block common-shadow-twentyFour rounded-2xl animated-upDown animation-delay-1">
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="ps-xl-5">
                    <div class="mb-10">
                        <h4 class="mb-2 font-bold line-clamp-1 font-caveat capitalize text-crm">with the world's favorite CRM</h4>
                        <h2 class="splitTextStyleOne text-heading capitalize">
                            improve <span class="text-crm">customer</span>
                            relationships today
                        </h2>
                        <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-570-px font-medium text-lg">Sassly-CRM in the past allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving pen</p>
                    </div>

                    <div class="accordion common-accordion" id="accordionExample">
                        <div class="accordion-item px-40-px rounded-xl section-bg-one border-0 mb-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <h5 class="accordion-header">
                                <button class="accordion-button py-6 shadow-none px-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-img="assets/images/thumbs/faq-thumb2.png">
                                    Automate everything
                                </button>
                            </h5>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body ps-0 pt-0 pe-0 pb-6">
                                    <p class="text-neutral-500">ERP provides a complete leave management system for your HR. Upcoming holidays and remaining leave balances.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item px-40-px rounded-xl section-bg-one border-0 mb-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <h5 class="accordion-header">
                                <button class="accordion-button py-6 shadow-none px-0 bg-transparent h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-img="assets/images/thumbs/faq-thumb1.png">
                                    Deploy AI
                                </button>
                            </h5>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body ps-0 pt-0 pe-0 pb-6">
                                    <p class="text-neutral-500">ERP provides a complete leave management system for your HR. Upcoming holidays and remaining leave balances.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item px-40-px rounded-xl section-bg-one border-0 mb-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <h5 class="accordion-header">
                                <button class="accordion-button py-6 shadow-none px-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" data-img="assets/images/thumbs/faq-thumb3.png">
                                    Powerful reporting
                                </button>
                            </h5>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body ps-0 pt-0 pe-0 pb-6">
                                    <p class="text-neutral-500">ERP provides a complete leave management system for your HR. Upcoming holidays and remaining leave balances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ========================== About Two Section end =============================== --> 