<!-- ================== About Features section Start ====================== -->
<section class="about-features">
    <div class="container">
        <div class="text-center mx-auto pb-15 max-w-910-px">
            <div class="bg-white py-2 px-7 rounded-[50rem] text-main-600 font-bold capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max common-shadow-twentyNine" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" > what we offering
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize leading-none">Simplifying your investment journey</h2>
            <p class="splitTextStyleOne text-neutral-500 max-w-602-px mx-auto font-medium mt-5">Discover how Upshift not only simplifies your investment process but also empowers you to make smarter, data-driven decisions.</p>
        </div>
        
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                <div class="rounded-2xl bg-neutral-50 bg-hover:app-landing py-14 px-7 border border-neutral-100 group animation-item group-item transition duration-200 h-full">
                    <span class="w-92-px h-92-px rounded-[50%] flex items-center justify-center common-shadow-fifteen mb-11">
                        <img src="assets/images/icons/about-features-two-icon1.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                    </span>
                    <h4 class="splitTextStyleOne mb-7 group-hover:text-white transition duration-200">Comprehensive Education</h4>
                    <p class="splitTextStyleOne group-hover:text-white font-medium text-neutral-500 transition duration-200">Web hosting provides everything idea online. From where your</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                <div class="rounded-2xl bg-neutral-50 bg-hover:app-landing py-14 px-7 border border-neutral-100 group animation-item group-item transition duration-200 h-full">
                    <span class="w-92-px h-92-px rounded-[50%] flex items-center justify-center common-shadow-fifteen mb-11">
                        <img src="assets/images/icons/about-features-two-icon2.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                    </span>
                    <h4 class="splitTextStyleOne mb-7 group-hover:text-white transition duration-200">User-friendly Interface</h4>
                    <p class="splitTextStyleOne group-hover:text-white font-medium text-neutral-500 transition duration-200">Web hosting provides everything idea online. From where your</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
                <div class="rounded-2xl bg-neutral-50 bg-hover:app-landing py-14 px-7 border border-neutral-100 group animation-item group-item transition duration-200 h-full">
                    <span class="w-92-px h-92-px rounded-[50%] flex items-center justify-center common-shadow-fifteen mb-11">
                        <img src="assets/images/icons/about-features-two-icon3.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                    </span>
                    <h4 class="splitTextStyleOne mb-7 group-hover:text-white transition duration-200">Bookkeeping & Cash Flow</h4>
                    <p class="splitTextStyleOne group-hover:text-white font-medium text-neutral-500 transition duration-200">Web hosting provides everything idea online. From where your</p>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
                <div class="rounded-2xl bg-neutral-50 bg-hover:app-landing py-14 px-7 border border-neutral-100 group animation-item group-item transition duration-200 h-full">
                    <span class="w-92-px h-92-px rounded-[50%] flex items-center justify-center common-shadow-fifteen mb-11">
                        <img src="assets/images/icons/about-features-two-icon4.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                    </span>
                    <h4 class="splitTextStyleOne mb-7 group-hover:text-white transition duration-200">Customized reminder alerts</h4>
                    <p class="splitTextStyleOne group-hover:text-white font-medium text-neutral-500 transition duration-200">Web hosting provides everything idea online. From where your</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- ================== About Features section End ====================== -->