<!-- ========================== About Two Section start =============================== -->
<section class="about-two py-[80px] sm:py-[100px] lg:py-[120px] relative z-10 overflow-hidden">
    <img src="assets/images/bg/mash-gradient-bg3.png" alt="Gradient" class="absolute start-0 top-0 -z-[1]">

    <div class="container">
        <div class="grid grid-cols-1 sm:grid-cols-12 gap-6 flex-wrap-reverse">
            <div class="col-span-12 lg:col-span-6">
                <div class="relative">
                    <div class="ps-14 relative">
                        <img src="assets/images/thumbs/about-four-thumb-1.png" alt="Thumb" class="w-full">
                        <img src="assets/images/shapes/revenue-shape.png" alt="Image"
                            class="flower animate__wobble__two absolute start-0 bottom-[100%] -m-[24px] -z-[1]">
                    </div>

                    <div class="absolute bottom-0 start-0 mb-6">
                        <img src="assets/images/thumbs/about-four-thumb-3.png" alt="Thumb"
                            class="sm:block hidden mb-4 animated-upDown">
                        <img src="assets/images/thumbs/about-four-thumb-2.png" alt="Thumb"
                            class="block common-shadow-twentyFour rounded-2xl animated-upDown animation-delay-1">
                    </div>
                </div>
            </div>

            <div class="col-span-12 lg:col-span-6">
                <div class="xl:ps-12">
                    <div class="mb-10">
                        <h2 class="h4 mb-2 font-bold line-clamp-1 font-caveat capitalize text-crm!">with the world's
                            favorite CRM</h2>
                        <h2 class="splitTextStyleOne text-heading capitalize font-bold">
                            improve <span class="text-crm!">customer</span>
                            relationships today
                        </h2>
                        <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-[570px] font-medium text-lg">Sassly-CRM
                            in the past allowing you to focus more on your business simply enjoy your newfound legal
                            time to reflect leaving pen</p>
                    </div>

                    <div id="accordion-collapse" data-accordion="collapse"
                        class="bg-dark-light-style rounded-base overflow-hidden shadow-xs flex flex-col gap-6">

                        <!-- Item 1 -->
                        <div class="accordion-item">
                            <h2 id="accordion-collapse-heading-1-two">
                                <button type="button"
                                    class="flex items-center justify-between w-full font-bold text-heading gap-3 xl:text-2xl text-xl py-6 bg-[#f5f5f8] rounded-xl px-6"
                                    data-accordion-target="#accordion-collapse-body-1-two" aria-expanded="true"
                                    aria-controls="accordion-collapse-body-1-two">

                                    <span>Automate everything</span>

                                    <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m5 15 7-7 7 7" />
                                    </svg>
                                </button>
                            </h2>

                            <div id="accordion-collapse-body-1-two" class="hidden" role="region"
                                aria-labelledby="accordion-collapse-heading-1-two">

                                <div class="px-6 pb-6">
                                    <p class="text-neutral-500 text-lg">
                                        ERP provides a complete leave management system for your HR.
                                        Upcoming holidays and remaining leave balances
                                    </p>
                                </div>
                            </div>
                        </div>


                        <!-- Item 2 -->
                        <div class="accordion-item">
                            <h2 id="accordion-collapse-heading-2-two">
                                <button type="button"
                                    class="flex items-center justify-between w-full font-bold text-heading gap-3 xl:text-2xl text-xl py-6 bg-[#f5f5f8] rounded-xl px-6"
                                    data-accordion-target="#accordion-collapse-body-2-two" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-2-two">

                                    <span>Deploy AI</span>

                                    <svg data-accordion-icon class="w-5 h-5 shrink-0" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m5 15 7-7 7 7" />
                                    </svg>
                                </button>
                            </h2>

                            <div id="accordion-collapse-body-2-two" class="hidden" role="region"
                                aria-labelledby="accordion-collapse-heading-2-two">

                                <div class="px-6 pb-6">
                                    <p class="text-neutral-500 text-lg">
                                        ERP provides a complete leave management system for your HR.
                                        Upcoming holidays and remaining leave balances
                                    </p>
                                </div>
                            </div>
                        </div>


                        <!-- Item 3 -->
                        <div class="accordion-item">
                            <h2 id="accordion-collapse-heading-3-two">
                                <button type="button"
                                    class="flex items-center justify-between w-full font-bold text-heading gap-3 xl:text-2xl text-xl py-6 bg-[#f5f5f8] rounded-xl px-6"
                                    data-accordion-target="#accordion-collapse-body-3-two" aria-expanded="false"
                                    aria-controls="accordion-collapse-body-3-two">

                                    <span>Powerful reporting</span>

                                    <svg data-accordion-icon class="w-5 h-5 shrink-0" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m5 15 7-7 7 7" />
                                    </svg>
                                </button>
                            </h2>

                            <div id="accordion-collapse-body-3-two" class="hidden" role="region"
                                aria-labelledby="accordion-collapse-heading-3-two">

                                <div class="px-6 pb-6">
                                    <p class="text-neutral-500 text-lg">
                                        ERP provides a complete leave management system for your HR.
                                        Upcoming holidays and remaining leave balances
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ========================== About Two Section end =============================== -->