<!-- ================================= App screenshot section start =================================== -->
<section class="app-screenshot relative gradient-bg-nine z-10 overflow-hidden">
    <img src="assets/images/shapes/arrow-synchronize.png" alt="Arrow Synchronize Shape" class="absolute top-0 start-0 ms-17 mt-[160px] animation-rotate-center md:block hidden">
    <img src="assets/images/shapes/pattern-shape1.png" alt="Pattern Shape" class="absolute top-0 start-0 -z-[1]">
    
    <div class="container">
        <div class="text-center mx-auto pb-15 max-w-[910px]">
            <div class="bg-white py-2 px-7 rounded-[50rem]! text-main-600 font-bold capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max common-shadow-twentyNine" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" > what we offering
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize leading-none">Simplifying your investment journey</h2>
            <p class="splitTextStyleOne text-neutral-500 max-w-[602px] text-lg mx-auto font-medium mt-5">Discover how Upshift not only simplifies your investment process but also empowers you to make smarter, data-driven decisions.</p>
        </div>

        <div class="text-center">
            <img src="assets/images/thumbs/app-download-thumb.png" alt="Screenshot Images" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
        </div>
    </div>
</section>
<!-- ================================= App screenshot section End =================================== -->