<!-- ============================= Banner Section Start ============================== -->
<section class="banner tw-py-80-px overflow-hidden section-bg-three relative">
    <img src="assets/images/shapes/sqaure_shape.png" alt="Shape" class="absolute top-0 tw-end-0 tw-me-12-percent">
    
    <div class="container max-w-1400-px">
        <div class="row gy-4 items-center">
            <div class="col-lg-6">
                <div class="">
                    <h1 class="splitTextStyleOne fw-light tw-leading-104"> 
                        <span class="d-inline-block ">Transform </span> 
                        <span class="d-inline-block fw-semibold"> Your </span> 
                        <span class="d-inline-block fw-semibold">Business</span> 
                        <span class="d-inline-block fw-semibold">Through</span> 
                        <span class="d-inline-block fw-semibold">Strategic</span> 
                        <span class="d-inline-block">IT Solutions</span>
                    </h1>
                    <p class="text-neutral-500 tw-text-lg max-w-500-px fw-medium tw-mt-8 splitTextStyleOne">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                    <div class="tw-mt-11 flex items-center tw-gap-42-px flex-wrap">
                        <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <a href="register.html" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke d-sm-inline-flex items-center justify-center tw-gap-5 group active--translate-y-2 tw-px-56-px tw-py-5 fw-semibold rounded-pill" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started</span>
                            </a>
                        </div>
                        <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                            <div class="flex items-center tw-gap-4">
                                <div class="flex items-center">
                                    <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 relative z-2">
                                        <img src="assets/images/thumbs/client-img1.png" alt="Client Image" class="w-full h-100 object-fit-cover">
                                    </div>
                                    <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 relative tw--ms-10-px z-1">
                                        <img src="assets/images/thumbs/client-img2.png" alt="Client Image" class="w-full h-100 object-fit-cover">
                                    </div>
                                    <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 relative tw--ms-10-px">
                                        <img src="assets/images/thumbs/client-img3.png" alt="Client Image" class="w-full h-100 object-fit-cover">
                                    </div>
                                </div>
                                <span class="h5 counter">2.3M+</span>
                            </div>
                            <p class="fw-bold tw-text-sm font-heading text-heading tw-mt-2 counter">5000+ Client reviews</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="tw-ps-98-px relative tw-pb-8">
                    <div class="relative z-1">
                        <img src="assets/images/thumbs/banner-img.png" alt="" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
                    </div>
                    <!-- Review -->
                    <div class="bg-white tw-rounded-3xl tw-p-6 max-w-218-px absolute end-0 top-0 w-full tw--mt-8-px tw--me-8-px common-shadow-two z-1">
                        <div class="inline-flex items-center tw-gap-1 bg-green tw-py-05 tw-px-3 rounded-pill absolute top-0 tw-end-0 tw--mt-12-px tw--me-12-px">
                            <span class="text-white fw-bold tw-text-sm">4.9</span>
                            <span class="text-white flex">
                                <img src="assets/images/icons/star.svg" alt="">
                            </span>
                        </div>
                        <img src="assets/images/icons/ratings.svg" alt="" class="">
                        <div class="tw-mt-3 flex items-center justify-between max-w-154-px">
                            <span class="tw-text-lg text-heading fw-semibold">Trust pilot</span>
                            <img src="assets/images/icons/verified-icon.svg" alt="">
                        </div>
                    </div>
                    <!-- Review -->

                    <!-- Experience -->
                    <div class="bg-main-600 tw-p-12 tw-pe-6 d-inline-block tw-rounded-xl clip-path-one absolute bottom-0 tw-end-0 z-1 tw--me-70-px tw-mb-205" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900" >
                        <h2 class="text-white counter">8+</h2>
                        <span class="text-white">Years Experience</span>
                    </div>
                    <!-- Experience -->

                    <!-- Revenue -->
                    <div class="bg-white-7 tw-py-6 tw-px-7 tw-rounded-2xl border border-white bg-blur-20 absolute bottom-0 tw-start-0 z-1 flex items-center tw-gap-8 common-shadow-two" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                        <img src="assets/images/shapes/revenue-shape.png" alt="" class="flower animate__wobble__two absolute tw-end-100 bottom-100 tw--m-24-px z-n1">
                        
                        <div class="">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-Daily" role="tabpanel" aria-labelledby="pills-Daily-tab" tabindex="0">
                                    <span class="tw-text-sm text-neutral-500 tw-mb-1 text-uppercase">Revenue</span>
                                    <h5 class="tw-mb-6 counter">$4820.00</h5>
                                </div>
                                <div class="tab-pane fade" id="pills-Weekly" role="tabpanel" aria-labelledby="pills-Weekly-tab" tabindex="0">
                                    <span class="tw-text-sm text-neutral-500 tw-mb-1 text-uppercase">Revenue</span>
                                    <h5 class="tw-mb-6 counter">$2445.00</h5>
                                </div>
                                <div class="tab-pane fade" id="pills-Monthly" role="tabpanel" aria-labelledby="pills-Monthly-tab" tabindex="0">
                                    <span class="tw-text-sm text-neutral-500 tw-mb-1 text-uppercase">Revenue</span>
                                    <h5 class="tw-mb-6 counter">$8221.00</h5>
                                </div>
                            </div>

                            <ul class="nav nav-pills common-tab flex items-center tw-gap-205" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link bg-transparent hover--translate-y-1 tw-transition-all tw-duration-300 text-neutral-500 tw-text-sm fw-medium p-0 active" id="pills-Daily-tab" data-bs-toggle="pill" data-bs-target="#pills-Daily" type="button" role="tab" aria-controls="pills-Daily" aria-selected="true">Daily</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link bg-transparent hover--translate-y-1 tw-transition-all tw-duration-300 text-neutral-500 tw-text-sm fw-medium p-0" id="pills-Weekly-tab" data-bs-toggle="pill" data-bs-target="#pills-Weekly" type="button" role="tab" aria-controls="pills-Weekly" aria-selected="false">Weekly</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link bg-transparent hover--translate-y-1 tw-transition-all tw-duration-300 text-neutral-500 tw-text-sm fw-medium p-0" id="pills-Monthly-tab" data-bs-toggle="pill" data-bs-target="#pills-Monthly" type="button" role="tab" aria-controls="pills-Monthly" aria-selected="false">Monthly</button>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <img src="assets/images/thumbs/revenue-chart.png" alt="">
                        </div>
                    </div>
                    <!-- Revenue -->
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Banner Section End ============================== -->