<!-- =============================== Banner Two Start ================================== -->
<section class="banner-two relative z-10 gradient-bg-two">
    <img src="assets/images/shapes/cloud-shape.png" alt="Cloud Shape" class="absolute bottom-0 start-0 w-full -z-[1]">
    
    <div class="banner-two__inner relative">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="banner-two-content">
                        <div class="bg-white-06 py-3 px-3.5 rounded text-white font-medium capitalize leading-none inline-flex items-center gap-2 mb-[4.5] min-w-max" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                            <span class="w-205 h-205 bg-yellow-600 rounded-[50%]"></span>
                            Up to <span class="text-yellow-600">70%</span> off managed cloud hosting
                        </div>
                        <h1 class="splitTextStyleOne text-white capitalize leading-none">
                            Organized cloud & 
                            <span class="text-yellow-600 font-dm-serif fst-italic font-normal">web hosting</span> 
                            for your business
                        </h1>
                        <p class="splitTextStyleOne text-neutral-300 mt-8 max-w-388-px font-medium">Touch the success! Domain and Secure Web Hosting from <span class="text-yellow-600">$4.99</span> per month</p>
    
                        <div class="flex items-center gap-7 mt-11 flex-wrap" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                            <a href="register.html" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main hover:style-one button--stroke items-center justify-center gap-5 group active--translate-y-2 px-15 rounded-[50rem] py-5.5 font-medium" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Clients Area</span>
                            </a>
                            <p class="text-neutral-300 max-w-388-px font-medium" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                                Starting at only <span  class="text-yellow-600">$3.27/mo*</span> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-two-thumb">
                        <img src="assets/images/thumbs/banner-two-img.png" alt="Image" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Banner Two End ================================== -->