<!-- ========================== Banner six section start =============================== -->
<section class="banner-six relative z-1 overflow-hidden">
    <div class="background-img bg-img absolute top-0 tw-start-0 w-full h-100 z-n1"
        data-background-image="assets/images/bg/banner-six-gradient-bg.png"></div>

    <img src="assets/images/thumbs/payment-cards.png" alt="Payment Cards"
        class="payment-cards absolute tw-end-0 bottom-0 z-n1" data-aos="fade-left" data-aos-duration="800"
        data-aos-delay="300">

    <div class="container max-w-1400-px">
        <div class="banner-six__content max-w-910-px">
            <span class="text-capitalize font-caveat fw-bold tw-mb-3 h5 text-main-600" data-aos="fade-up"
                data-aos-duration="800" data-aos-delay="100">With the world's favorite
                CRM</span>
            <h1 class="text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">Simplify Payments.
                Empower <span class="text-main-600">Business.</span></h1>
            <p class="text-white tw-text-lg tw-mt-6 max-w-672-px" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="300">Sassly-CRM in the past allowing you to focus more on
                your business
                or
                simply enjoy
                your newfound legal time to reflect leaving pen-and-paper.</p>
            <div class="tw-mt-10 flex items-center flex-sm-nowrap flex-wrap tw-gap-3">
                <a href="register.html"
                    class="hover--translate-y-1 active--translate-y-scale-9 btn button--stroke inline-flex items-center justify-center tw-gap-5 group active--translate-y-2 px-xxl-5 px-xl-4 px-3 tw-py-405 fw-medium rounded-pill btn-main hover-style-one common-shadow-inset-one text-heading hover-text-white"
                    data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <span class="button__flair"></span>
                    <span class="button__label">Get Started</span>
                </a>
                <div class="flex items-center tw-gap-205" data-aos="fade-up" data-aos-duration="800"
                    data-aos-delay="450">
                    <span
                        class="tw-w-705 tw-h-705 rounded-circle bg-white-08 text-white flex justify-center items-center   ">
                        <i class="ph-bold ph-check"></i>
                    </span>
                    <span class="text-neutral-300">No credit card required</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Banner six section end =============================== -->