<!-- ============================== Banner Three Section start ========================== -->
<section class="banner-three gradient-bg-five relative z-1 overflow-hidden">
  <img src="assets/images/shapes/cloud-sky.png" alt="Cloud Shape"
    class="absolute top-50 tw-end-0 left-right-scale-animation d-sm-block d-none z-n1">

  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="banner-three-content max-w-570-px">
          <h1 class="splitTextStyleOne text-white text-capitalize tw-leading-none">
            Simplify task
            <span class="text-gradient-teal font-dm-serif fst-italic fw-normal">management</span>
            and prioritize work
          </h1>
          <p class="splitTextStyleOne text-white tw-text-lg tw-mt-8">
            Sassly-<span class="text-yellow">CRM</span> in the past allowing you
            to focus more on your business or simply enjoy your newfound legal
            time to reflect leaving
          </p>

          <div class="flex items-center tw-gap-7 tw-mt-11" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-duration="800">
            <a href="javascript:void(0)"
              class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke items-center justify-center tw-gap-5 group active--translate-y-2 tw-px-13 tw-rounded-md tw-py-6 fw-bold"
              data-block="button">
              <span class="button__flair"></span>
              <div class="flex items-center tw-gap-2 z-1">
                <span class="button__label">Start Free Trial</span>
                <span class="icon z-1">
                  <img src="assets/images/icons/download-cloud-icon.png" alt="Icon">
                </span>
              </div>
            </a>
          </div>

          <div class="flex items-center tw-gap-7 tw-mt-10">
            <div class="flex items-center tw-gap-205" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-duration="700">
              <span
                class="tw-w-7 tw-h-7 bg-white-08 rounded-circle flex justify-center items-center tw-text-sm text-white">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="text-white">3-Day Free Trial</span>
            </div>
            <div class="flex items-center tw-gap-205" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-duration="800">
              <span
                class="tw-w-7 tw-h-7 bg-white-08 rounded-circle flex justify-center items-center tw-text-sm text-white">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="text-white">No Credit Card</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-three-thumb position-lg-absolute tw-end-0 bottom-0 max-w-58-percent">
          <img src="assets/images/thumbs/banner-three-img.png" alt="Thumb" data-aos="fade-left" data-aos-duration="700">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================== Banner Three Section End ========================== -->