<!-- ============================== Banner Three Section start ========================== -->
<section class="banner-three gradient-bg-five relative z-10 overflow-hidden">
  <img src="assets/images/shapes/cloud-sky.png" alt="Cloud Shape"
    class="absolute top-50 end-0 left-right-scale-animation sm:block hidden -z-[1]">

  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="banner-three-content max-w-[570px]">
          <h1 class="splitTextStyleOne text-white capitalize leading-none">
            Simplify task
            <span class="text-gradient-teal font-dm-serif fst-italic font-normal">management</span>
            and prioritize work
          </h1>
          <p class="splitTextStyleOne text-white text-lg mt-8">
            Sassly-<span class="text-yellow-600">CRM</span> in the past allowing you
            to focus more on your business or simply enjoy your newfound legal
            time to reflect leaving
          </p>

          <div class="flex items-center gap-7 mt-11" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom" data-aos-duration="800">
            <a href="javascript:void(0)"
              class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke items-center justify-center gap-5 group active:-translate-y-2 px-13 rounded-md py-6 font-bold"
              data-block="button">
              <span class="button__flair"></span>
              <div class="flex items-center gap-2 z-10">
                <span class="button__label">Start Free Trial</span>
                <span class="icon z-10">
                  <img src="assets/images/icons/download-cloud-icon.png" alt="Icon">
                </span>
              </div>
            </a>
          </div>

          <div class="flex items-center gap-7 mt-10">
            <div class="flex items-center gap-2.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-duration="700">
              <span
                class="w-7 h-7 bg-white-08 rounded-[50%] flex justify-center items-center text-sm text-white">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="text-white">3-Day Free Trial</span>
            </div>
            <div class="flex items-center gap-2.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
              data-aos-duration="800">
              <span
                class="w-7 h-7 bg-white-08 rounded-[50%] flex justify-center items-center text-sm text-white">
                <i class="ph-bold ph-check"></i>
              </span>
              <span class="text-white">No Credit Card</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="banner-three-thumb lg:absolute end-0 bottom-0 max-w-[58%]">
          <img src="assets/images/thumbs/banner-three-img.png" alt="Thumb" data-aos="fade-left" data-aos-duration="700">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================== Banner Three Section End ========================== -->