<!-- ========================== Banner six section start =============================== -->
<section class="banner-six relative z-10 overflow-hidden">
    <div class="background-img bg-img absolute top-0 start-0 w-full h-full -z-[1]"
        data-background-image="assets/images/bg/banner-six-gradient-bg.png"></div>

    <img src="assets/images/thumbs/payment-cards.png" alt="Payment Cards"
        class="payment-cards absolute end-0 bottom-0 -z-[1]" data-aos="fade-left" data-aos-duration="800"
        data-aos-delay="300">

    <div class="container max-w-[1400px]">
        <div class="banner-six__content max-w-[910px]">
            <span class="capitalize font-caveat font-bold mb-3 h5 text-main-600" data-aos="fade-up"
                data-aos-duration="800" data-aos-delay="100">With the world's favorite
                CRM</span>
            <h1 class="text-white" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">Simplify Payments.
                Empower <span class="text-main-600">Business.</span></h1>
            <p class="text-white text-lg mt-6 max-w-[672px]" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="300">Sassly-CRM in the past allowing you to focus more on
                your business
                or
                simply enjoy
                your newfound legal time to reflect leaving pen-and-paper.</p>
            <div class="mt-10 flex items-center sm:flex-nowrap flex-wrap gap-3">
                <a href="register.html"
                    class="hover:-translate-y-1 active:-translate-y-scale-9 btn button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 2xl:px-12 xl:px-6 px-3 py-4.5 font-medium rounded-[50rem] btn-main hover:style-one common-shadow-inset-one text-heading hover:text-white"
                    data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <span class="button__flair"></span>
                    <span class="button__label">Get Started</span>
                </a>
                <div class="flex items-center gap-2.5" data-aos="fade-up" data-aos-duration="800"
                    data-aos-delay="450">
                    <span
                        class="w-705 h-705 rounded-[50%] bg-white-08 text-white flex justify-center items-center   ">
                        <i class="ph-bold ph-check"></i>
                    </span>
                    <span class="text-neutral-300">No credit card required</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Banner six section end =============================== -->