<!-- =================================== Banner Five section start =================================== -->
<section class="banner-five">
    <div class="pt-100-px mx-48-px relative gradient-bg-seven rounded-top-30-px z-10">
        <img src="assets/images/shapes/wave-line-shadow.png" alt="Wave Line shape" class="absolute start-0 w-full bottom-0 -z-[1] pb-[80px] sm:pb-[100px] lg:pb-[120px]">
        
        <div class="container">
            <div class="row justify-center">
                <div class="col-xxl-10">
                    <div class="text-center">
                        <div class="max-w-[780px] text-center mx-auto">
                            <div class="bg-white py-2 px-7 rounded-[50rem] text-main-600 font-bold capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max common-shadow-twentyEight" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                what we offering
                            </div>
                            <h1 class="splitTextStyleOne text-heading capitalize leading-none">Invest with confidence Grow your future </h1>
                            <p class="text-neutral-600 text-xl mt-6.5 splitTextStyleOne mx-auto font-medium leading-[1.45] max-w-[548px]">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                            <div class="flex items-center justify-center gap-4.5 mt-10">
                                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                                    <a href="https://play.google.com/store/apps" class="hover:-translate-y-1 active:-translate-y-scale-9 rounded-2xl common-shadow-twentyEight">
                                        <img src="assets/images/icons/store-two1.png" alt="App Store">
                                    </a>
                                </div>
                                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                                    <a href="https://www.apple.com/app-store" class="hover:-translate-y-1 active:-translate-y-scale-9 rounded-2xl common-shadow-twentyEight">
                                        <img src="assets/images/icons/store-two2.png" alt="Google Store">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="mt-14 inline-flex">
                            <img src="assets/images/thumbs/banner-five-thumb.png" alt="Thumbnail" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =================================== Banner Five section End =================================== -->