<!-- =================================== Banner Five section start =================================== -->
<section class="banner-five">
    <div class="tw-pt-100-px tw-mx-48-px relative gradient-bg-seven rounded-top-30-px z-1">
        <img src="assets/images/shapes/wave-line-shadow.png" alt="Wave Line shape" class="absolute tw-start-0 w-full bottom-0 z-n1 pb-120">
        
        <div class="container">
            <div class="row justify-center">
                <div class="col-xxl-10">
                    <div class="text-center">
                        <div class="max-w-780-px text-center mx-auto">
                            <div class="bg-white tw-py-2 tw-px-7 rounded-pill text-main-600 fw-bold text-capitalize tw-leading-none inline-flex items-center tw-gap-2 tw-mb-405 min-w-max common-shadow-twentyEight" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                what we offering
                            </div>
                            <h1 class="splitTextStyleOne text-heading text-capitalize tw-leading-none">Invest with confidence Grow your future </h1>
                            <p class="text-neutral-600 tw-text-xl tw-mt-605 splitTextStyleOne max-w-5 mx-auto fw-medium tw-leading-145 max-w-548-px">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                            <div class="flex items-center justify-center tw-gap-405 tw-mt-10">
                                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                                    <a href="https://play.google.com/store/apps" class="hover--translate-y-1 active--translate-y-scale-9 tw-rounded-2xl common-shadow-twentyEight">
                                        <img src="assets/images/icons/store-two1.png" alt="App Store">
                                    </a>
                                </div>
                                <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                                    <a href="https://www.apple.com/app-store" class="hover--translate-y-1 active--translate-y-scale-9 tw-rounded-2xl common-shadow-twentyEight">
                                        <img src="assets/images/icons/store-two2.png" alt="Google Store">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="tw-mt-14 inline-flex">
                            <img src="assets/images/thumbs/banner-five-thumb.png" alt="Thumbnail" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =================================== Banner Five section End =================================== -->