<!-- ===================================== Blog section start ============================== -->
<section class="blog">
    <div class="container">
        <div class="bg-white common-shadow-five py-120 px-90-px">
            <span class="line w-0 h-2 bg-main-600 mb-4"></span>
            <div class="flex items-center justify-between mb-12">
                <h6 class="">Insights to help you do what you do better, faster and more profitably.</h6>
                <a href="register.html" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main-two hover:style-two button--stroke d-sm-inline-flex d-none items-center justify-center gap-5 group active--translate-y-2 px-9 rounded-pill py-4" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Sign Up Now</span>
                </a>
            </div>

            <!-- Blog items start -->
            <div class="row gy-4">
                <div class="col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="200" >
                    <div class="group-item">  
                        <a href="blog-details.html" class="w-full h-100 overflow-hidden">
                            <img src="assets/images/thumbs/blog-img1.png" alt="Blog Image" class="w-full h-100 object-fit-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <div class="mt-7 flex items-center gap-5 flex-wrap">
                            <span class="text-heading font-medium py-05 px-405 border border-neutral-400 rounded-pill text-base">02 Apr 2021</span>
                            <span class="text-heading font-medium text-base">Comments (03)</span>
                        </div>
                        <h5 class="mt-4">
                            <a href="blog-details.html" class="hover:text-main-600 line-clamp-1 mb-3 hover:-translate-y-1">15 Best AI Apps for Android to Make Life Easier</a>
                        </h5>
                        <a href="blog-details.html" class="text-main-600 font-medium text-lg hover:-translate-y-1">
                            Learn More
                            <span class="inline-flex text-sm">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="400" >
                    <div class="group-item">  
                        <a href="blog-details.html" class="w-full h-100 overflow-hidden">
                            <img src="assets/images/thumbs/blog-img2.png" alt="Blog Image" class="w-full h-100 object-fit-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <div class="mt-7 flex items-center gap-5 flex-wrap">
                            <span class="text-heading font-medium py-05 px-405 border border-neutral-400 rounded-pill text-base">02 Apr 2021</span>
                            <span class="text-heading font-medium text-base">Comments (03)</span>
                        </div>
                        <h5 class="mt-4">
                            <a href="blog-details.html" class="hover:text-main-600 line-clamp-1 mb-3 hover:-translate-y-1">15 Best man-made intelligence Applications for Android to Make Life More straightforward</a>
                        </h5>
                        <a href="blog-details.html" class="text-main-600 font-medium text-lg hover:-translate-y-1">
                            Learn More
                            <span class="inline-flex text-sm">
                                <i class="ph-bold ph-arrow-up-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Blog items end -->
        </div>
    </div>
</section>
<!-- ===================================== Blog section End ============================== -->