<!-- ============================ brand slider start =========================== -->
<div class="brand-slider-wrapper">
    <div class="brand-slider swiper">
        <div class="swiper-wrapper items-center">
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img1.png" alt="Logo" class="">
                </div>
            </div>
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img2.png" alt="Logo" class="">
                </div>
            </div>
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img3.png" alt="Logo" class="">
                </div>
            </div>
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img4.png" alt="Logo" class="">
                </div>
            </div>
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img5.png" alt="Logo" class="">
                </div>
            </div>
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img6.png" alt="Logo" class="">
                </div>
            </div>
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img7.png" alt="Logo" class="">
                </div>
            </div>
            <div class="swiper-slide me-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700"> 
                <div class="text-center py-4 border border-dashed border-neutral-200 border-t-0 h-[114px] border-e-0 px-4 flex justify-center items-center">
                    <img src="assets/images/thumbs/brand-img3.png" alt="Logo" class="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ brand slider end =========================== -->
