<!-- ============================ Brand Three section start =========================== -->
<div class="brand-three">
    <div class="container">

        <div class="text-center mb-16" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
            <h4 class="mb-0 font-bold line-clamp-1 font-caveat">Loved by next-gen B2B <span class="text-orange">SaaS</span> compnaies.....</h4>
        </div>
        <div class="brand-three-slider swiper left-right-gradient gradient-width-200 relative">
            <div class="swiper-wrapper">
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img1.png" alt="Logo">
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img2.png" alt="Logo">
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img3.png" alt="Logo">
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img4.png" alt="Logo">
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img5.png" alt="Logo">
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img6.png" alt="Logo">
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img7.png" alt="Logo">
                    </div>
                </div>
                <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                    <div class="">
                        <img src="assets/images/thumbs/brand-three-img5.png" alt="Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Brand Three section end =========================== -->