 <!-- ============================ Brand Five section start =========================== -->
<div class="brand-three pt-120">
    <div class="container">

        <div class="tw-py-13 relative">
            <span class="gradient-line w-full tw-h-px absolute top-0 tw-start-0"></span>
            <span class="gradient-line w-full tw-h-px absolute bottom-0 tw-start-0"></span>
            
            <div class="text-center tw-mb-16">
                <h5 class="mb-0 line-clamp-1">Loved by next-gen B2B <span class="text-gradient-teal">SaaS</span> compnaies.....</h5>
            </div>
            <div class="brand-three-slider swiper left-right-gradient gradient-width-200">
                <div class="swiper-wrapper">
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img1.png" alt="Logo">
                        </div>
                    </div>
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img2.png" alt="Logo">
                        </div>
                    </div>
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img3.png" alt="Logo">
                        </div>
                    </div>
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img4.png" alt="Logo">
                        </div>
                    </div>
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img5.png" alt="Logo">
                        </div>
                    </div>
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img6.png" alt="Logo">
                        </div>
                    </div>
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img7.png" alt="Logo">
                        </div>
                    </div>
                    <div class="swiper-slide flex items-center justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                        <div class="">
                            <img src="assets/images/thumbs/brand-three-img5.png" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ============================ Brand Five section end =========================== -->