<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb section-bg-two mb-0">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-6 justify-center">
            <div class="col-span-12 lg:col-span-8">
                <div class="text-center">
                    <span class="mb-4 flex items-center justify-center flex-col d-block">
                        <img src="assets/images/logo/favicon-two.png" alt="Favicon Two">
                    </span>
                    <h1 class="mb-0 splitTextStyleOne capitalize font-bold"> @@pageTitle</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->