<!-- =============================== Choose Us section start ============================ -->
<section class="py-[120px] overflow-hidden">
    <div class="container">
        <div class="row gy-4 gx-5">
            <div class="col-lg-5 d-sm-block d-none">
                <div class="ps-8 relative z-10 overflow-hidden" id="box-wrapper">
                    <img src="assets/images/thumbs/choose-us-img.png" alt="Image" class="w-full h-full object-cover rounded-3xl">

                    <div class="bg-white max-w-150-px h-150-px w-full flex justify-center items-center rounded-xl common-shadow-four box absolute start-0 top-0 mt-705 z-10">
                        <img src="assets/images/thumbs/choose-us-icon1.png" alt="">
                    </div>
                    <div class="bg-white max-w-150-px h-150-px w-full flex justify-center items-center rounded-xl common-shadow-four box absolute end-0 top-0 mt-705 z-10 me-14">
                        <img src="assets/images/thumbs/choose-us-icon2.png" alt="">
                    </div>
                    <div class="bg-white max-w-150-px h-150-px w-full flex justify-center items-center rounded-xl common-shadow-four box absolute start-0 top-0 z-10 mt-194-px ms-148-px">
                        <img src="assets/images/thumbs/choose-us-icon3.png" alt="">
                    </div>
                    <div class="bg-white max-w-150-px h-150-px w-full flex justify-center items-center rounded-xl common-shadow-four box absolute end-0 bottom-0 me-90-px z-10 mb-148-px">
                        <img src="assets/images/thumbs/choose-us-icon4.png" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-7">
                <div class="ps-lg-5">
                    <span class="py-1 px-705 bg-main-600 text-white text-sm font-bold capitalize rounded-[50rem] mb-205">Why Choose Us</span>
                    <div class="max-w-672-px">
                        <h3 class="font-light leading-104 cursor-big mb-9 flex gap-2"> 
                            <span class="splitTextStyleOne inline-block font-medium"> 
                                <span class="font-semibold">SassTech</span> 
                                makes you a better elevating your team's wellness optimizing Business
                                <span class="font-semibold"> Growth.</span>
                            </span>
                        </h3>
                        <p class="splitTextStyleOne text-neutral-600 max-w-500-px">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                    </div>

                    <div class="mt-10">
                        <div class="row gy-4">
                            <div class="col-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                <div class="bg-neutral-50 ps-705 pe-4 py-9 border border-neutral-50 hover:border-main-600 rounded-lg duration-300">
                                    <h6 class="mb-2">Expertise & Specialization</h6>
                                    <p class="text-neutral-500">In today's competitive business demand cost-effective IT solutions has never</p>
                                </div>
                            </div>
                            <div class="col-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                <div class="bg-neutral-50 ps-705 pe-4 py-9 border border-neutral-50 hover:border-main-600 rounded-lg duration-300">
                                    <h6 class="mb-2">Expertise & Specialization</h6>
                                    <p class="text-neutral-500">In today's competitive business demand cost-effective IT solutions has never</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center gap-505 mt-8" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <h3 class="h1 text-main-600 inline-flex items-center gap-4">1.3m</h3>
                        <p class="text-main-two-600 font-medium max-w-228-px">Average revenue growth for per successful clients</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Choose Us section end ============================== -->
