<!-- ============================ Cta section start ========================== -->
<section class="cta py-md-0 py-5">
    <div class="container">
        <div class="row gy-4 items-center">
            <div class="col-md-6 d-md-block d-none">
                <div class="pe-lg-2">
                    <div class="relative">
                        <img src="assets/images/thumbs/model-img.png" alt="Model">
                        <img src="assets/images/shapes/arrow-right-curve.png" alt="Arrow shape" class="absolute top-0 end-0 mt-160-px animate__wobble__two">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ps-lg-4 max-w-532-px">
                    <span class="py-1 px-7.5 bg-main-600 text-white text-sm font-bold capitalize rounded-[50rem] mb-[2.5]">Have A Projects?</span>
                    <h3 class="splitTextStyleOne font-light leading-[1.4] mb-5 flex gap-2"> 
                        <span class="inline-block font-semibold"> 
                            <span class="font-normal">Have</span>
                            A Project? Speak
                            With Our 
                            <span class="font-normal"> expert.</span>
                        </span>
                    </h3>
                    <p class="text-neutral-600 text-lg splitTextStyleOne">Leave your contacts and get a free consultation from</p>
                    <a href="register.html" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main-two hover:style-two button--stroke d-sm-inline-flex d-none items-center justify-center gap-5 group active--translate-y-2 px-9 rounded-0 py-5 w-full mt-10" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800"  data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Get Started Today</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Cta section End ========================== -->