<!-- ======================= degree view Section Start ============================ -->
<section class="degree-view pt-9">
    <div class="container">
        <div class="max-w-672-px text-center mx-auto mb-12">
            <div class="bg-neutral-100 py-3 px-3.5 rounded-[50rem] text-heading font-medium capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <span class="w-205 h-205 bg-yellow-600 rounded-[50%]"></span>
                Up to <span class="text-yellow-600">70%</span> off managed cloud hosting
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize"> Get a 360-degree <br> view of your
                <span class="font-dm-serif fst-italic font-normal">cloud</span> spend
            </h2>
        </div>
        
        <div class="row gy-4">
            <div class="col-xl-8">
                <div class="flex common-shadow-eight rounded-3xl bg-white border border-neutral-100 flex-md-row flex-col" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <div class="rounded-3xl overflow-hidden flex-shrink-0">
                        <img src="assets/images/thumbs/degree-view-img1.png" alt="Thumb" class="w-full h-full object-cover">
                    </div>
                    <div class="py-13 pe-8 flex-grow-1 ps-11">
                        <span class="px-6 py-1 bg-purple text-white rounded-[50rem] font-medium mb-5">Hosting at should be</span>
                        <h4 class="mb-5">Web Hosting that's fast and reliable.</h4>
                        <p class="text-neutral-500">Web hosting provides everything you need to get your idea online. From where your website lives in the digital world, to where your files and data are securely stored find and manage it all in one place.</p>
                    </div>
                </div>
                <div class="flex common-shadow-eight rounded-3xl bg-white border border-neutral-100 flex-md-row flex-col mt-8" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700" >
                    <div class="rounded-3xl overflow-hidden flex-shrink-0">
                        <img src="assets/images/thumbs/degree-view-img2.png" alt="Thumb" class="w-full h-full object-cover">
                    </div>
                    <div class="py-13 pe-8 flex-grow-1 ps-11">
                        <h4 class="mb-5"> <span class="text-purple">SSL</span> certificates help secure User's important data.</h4>
                        <div class="flex items-center gap-4.5 mt-8">
                            <span class="w-11 h-10 text-heading bg-neutral-200 rounded-md flex justify-center items-center text-xl">
                                <i class="ph-bold ph-magnifying-glass"></i>
                            </span>
                            <a href="pricing-plan.html" class="font-bold text-lg text-heading hover:underline max-w-278-px">Helps your website search ranking with https</a>
                        </div>
                        <div class="mt-8">
                            <a href="pricing-plan.html" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main hover:style-one button--stroke inline-flex items-center justify-center gap-5 group active--translate-y-2 px-7.5 py-3.5 font-medium rounded-md text-sm group-hover:bg-white group-hover:text-main-two-600 hosting-plan-btn" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Get Started</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                <div class="flex common-shadow-eight rounded-3xl bg-white border border-neutral-100 flex-col h-full">
                    <div class="rounded-3xl overflow-hidden flex-shrink-0">
                        <img src="assets/images/thumbs/degree-view-img3.png" alt="Thumb" class="w-full h-full object-cover">
                    </div>
                    <div class="py-13 pe-8 flex-grow-1 ps-12">
                        <h4 class="mb-5">Give your website a good name</h4>
                        <p class="text-neutral-500">Web hosting provides everything you need to idea online. From where your website lives in the world, to where your files and data are securely find and manage it all in one place.</p>
                        <a href="pricing-plan.html" class="font-bold text-lg text-heading text-decoration-underline mt-11 hover:text-main-600">Pick your Domain Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= degree view Section End ============================ -->