<!-- ============================= Distraction section start ======================================== -->
<section class="distraction">
  <div class="container max-w-1290-px">
    <div class="relative distraction__inner">
      <div
        class="max-w-602-px w-full text-center mx-auto absolute z-10 start-50 translate-middle-x top-0 mt-5 pt-lg-5 pt-4">
        <h2 class="splitTextStyleOne text-heading capitalize capitalize">
          Avoid
          <span class="font-dm-serif fst-italic font-normal text-gradient-teal">distractions</span>
          with app integrations
        </h2>
      </div>

      <div class="">
        <img src="assets/images/shapes/net-shape.png" alt="Net Shape" data-aos="zoom-in" data-aos-duration="1500">
      </div>
      <div class="">
        <div class="distraction-icon one absolute z-10 animation-scalation">
          <img src="assets/images/thumbs/distraction-icon1.png" alt="Icon Image">
        </div>
        <div class="distraction-icon two absolute z-10 animation-upDown">
          <img src="assets/images/thumbs/distraction-icon2.png" alt="Icon Image">
        </div>
        <div class="distraction-icon three absolute z-10 animation-upDown animation-delay-1">
          <img src="assets/images/thumbs/distraction-icon3.png" alt="Icon Image">
        </div>
        <div class="distraction-icon four absolute z-10 animation-upDown animation-delay-2">
          <img src="assets/images/thumbs/distraction-icon4.png" alt="Icon Image">
        </div>
        <div class="distraction-icon five absolute z-10 animation-scalation animation-delay-1">
          <img src="assets/images/thumbs/distraction-icon5.png" alt="Icon Image">
        </div>
        <div class="distraction-icon six absolute z-10 animation-scalation animation-delay-2">
          <img src="assets/images/thumbs/distraction-icon6.png" alt="Icon Image">
        </div>
        <div class="distraction-icon seven absolute z-10">
          <img src="assets/images/thumbs/distraction-icon7.png" alt="Icon Image" class="">
        </div>
      </div>

      <div
        class="flex items-center justify-center gap-7 absolute z-10 start-50 translate-middle-x bottom-0 mb-2 w-full"
        data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
        <a href="javascript:void(0)"
          class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main hover:style-one button--stroke items-center justify-center gap-5 group active--translate-y-2 px-13 rounded-md py-6 font-bold"
          data-block="button">
          <span class="button__flair"></span>
          <div class="flex items-center gap-2 z-10">
            <span class="button__label">Start Free Trial</span>
            <span class="icon z-10">
              <img src="assets/images/icons/download-cloud-icon.png" alt="Icon">
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- ============================= Distraction section End ======================================== -->