<!-- ======================== Download App Six section start ============================ -->
<section class="download-app-six section-box py-[80px] sm:py-[100px] lg:py-[120px] relative z-10 overflow-hidden">
    <div class="background-img bg-img absolute top-0 start-0 w-full h-full -z-[1]"
        data-background-image="assets/images/bg/download-app-six-bg.png"></div>

    <img src="assets/images/shapes/pattern-shape-six.png" alt="Shape"
        class="absolute bottom-0 start-0 left-right-animation">
    <div class="absolute bottom-50 end-0 pe-100-px">
        <img src="assets/images/shapes/curve-shape-six.png" alt="Shape" class="animated-upDown">
    </div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-7">
                <div class="">
                    <div class="max-w-[780px] text-start mb-10">
                        <span class="capitalize font-caveat font-bold mb-3 h5 text-main-600" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">with the world's favorite CRM</span>
                        <h2 class="text-white capitalize splitTextStyleOne">Seamless Payments on the <br>
                            Go - Download the App</h2>
                        <p class="text-neutral-300 text-lg mt-6 max-w-[570px]" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="300">Sassly-CRM in the past allowing you to focus
                            more on your business
                            simply enjoy your newfound legal time to reflect leaving pen</p>
                    </div>
                    <div class="mt-10 flex gap-42-px" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="300">
                        <div class="">
                            <h3 class="text-main-600">1.75m</h3>
                            <span class="text-lg font-medium text-white">Total Active user</span>
                        </div>
                        <div class="my-2">
                            <span class="w-px h-full bg-main-600"></span>
                        </div>
                        <div class="">
                            <h3 class="text-main-600">1.75m</h3>
                            <span class="text-lg font-medium text-white">Total Active user</span>
                        </div>
                    </div>
                    <div class="mt-10 flex items-center gap-2.5">
                        <a href="https://www.playstore.com" class="" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="100">
                            <img src="assets/images/icons/download-app-six-img1.png" alt="Google Logo"
                                class="rounded-xl w-full h-full active:scale-09 duration-100">
                        </a>
                        <a href="https://www.playstore.com" class="" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="200">
                            <img src="assets/images/icons/download-app-six-img1.png" alt="Google Logo"
                                class="rounded-xl w-full h-full active:scale-09 duration-100">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-lg-block d-none">
                <div class="download-app-six-thumbs absolute bottom-0" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="300">
                    <img src="assets/images/thumbs/download-app-six-thumb.png" alt="Image">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ======================== Download App Six section End ============================ -->