<!-- =============================== FAQ section start ============================== -->
<section class="faq py-[80px] sm:py-[100px] lg:py-[120px] relative z-10 overflow-hidden">
    <img src="assets/images/shapes/faq-bg.png" alt="Image" class="absolute start-0 top-0 w-full h-full -z-[1]">

    <div class="container">
        <div class="mb-8">
            <span class="py-1 px-7.5 bg-white text-main-600 text-sm font-bold capitalize rounded-[50rem]! mb-2.5">tech
                solution</span>
            <div class="flex lg:flex-nowrap flex-wrap justify-between items-center">
                <div class="max-w-[672px]">
                    <h3 class="splitTextStyleOne font-light leading-[1.04]">
                        <span class="inline-block font-semibold">The Complete </span>
                        <span class="inline-block">Platform </span>
                        <span class="inline-block font-semibold">To </span>
                        <span class="inline-block font-semibold"> Power </span>
                        <span class="inline-block font-semibold">Your </span>
                        <span class="inline-block font-semibold">Operations</span>
                    </h3>
                </div>
                <a href="register.html"
                    class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke sm:inline-flex hidden items-center justify-center gap-5 group active:-translate-y-2 px-6 md:px-6 lg:px-8 xl:px-10 2xl:px-14 py-5 font-semibold rounded-[50rem]!"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Sign up Now</span>
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
            <div class="col-span-12 lg:col-span-5 lg:pe-5">
                <p class="splitTextStyleOne text-neutral-600 max-w-[500px] mb-15">
                    In today's competitive business, the demand for efficient and cost-effective IT solutions has never
                    been more critical.
                </p>


                <div id="accordion-collapse" data-accordion="collapse" class="rounded-base overflow-hidden flex flex-col gap-4">
                    
                    <div class="accordion-item">
                        <h2 id="accordion-collapse-heading-1">
                            <button type="button"
                                class="flex items-center justify-between cursor-pointer w-full p-5 font-medium text-start text-2xl rtl:text-right text-body rounded-t-base hover:text-heading hover:bg-neutral-secondary-medium gap-3 accordion-button"
                                data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
                                aria-controls="accordion-collapse-body-1" data-img="assets/images/thumbs/faq-thumb2.png">
                                <span>Tailored solution</span>
                                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m5 15 7-7 7 7" />
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-collapse-body-1"
                            class="hidden"
                            aria-labelledby="accordion-collapse-heading-1">
                            <div class="p-4 md:p-5">
                                <p class="text-neutral-500">We customize our technology to fit your specific need
                                    ensuring the best possible outcomes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 id="accordion-collapse-heading-2">
                            <button type="button"
                                class="flex items-center justify-between cursor-pointer w-full p-5 font-medium text-start text-2xl rtl:text-right text-body hover:text-heading hover:bg-neutral-secondary-medium gap-3 accordion-button"
                                data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
                                aria-controls="accordion-collapse-body-2" data-img="assets/images/thumbs/faq-thumb1.png">
                                <span>Cutting-edge technology</span>
                                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m5 15 7-7 7 7" />
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-collapse-body-2"
                            class="hidden"
                            aria-labelledby="accordion-collapse-heading-2">
                            <div class="p-4 md:p-5">
                                <p class="text-neutral-500">We customize our technology to fit your specific need
                                    ensuring the best possible outcomes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 id="accordion-collapse-heading-3">
                            <button type="button"
                                class="flex items-center justify-between cursor-pointer w-full p-5 font-medium text-start text-2xl rtl:text-right text-body hover:text-heading hover:bg-neutral-secondary-medium gap-3 accordion-button"
                                data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
                                aria-controls="accordion-collapse-body-3" data-img="assets/images/thumbs/faq-thumb3.png">
                                <span>Discovery & Analysis</span>
                                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m5 15 7-7 7 7" />
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                            <div class="p-4 md:p-5">
                                <p class="text-neutral-500">We customize our technology to fit your specific need
                                    ensuring the best possible outcomes.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 id="accordion-collapse-heading-3">
                            <button type="button"
                                class="flex items-center justify-between cursor-pointer w-full p-5 font-medium text-start text-2xl rtl:text-right text-body hover:text-heading hover:bg-neutral-secondary-medium gap-3 accordion-button"
                                data-accordion-target="#accordion-collapse-body-4" aria-expanded="false"
                                aria-controls="accordion-collapse-body-4" data-img="assets/images/thumbs/faq-thumb4.png">
                                <span>Deployment & Support</span>
                                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m5 15 7-7 7 7" />
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                            <div class="p-4 md:p-5">
                                <p class="text-neutral-500">We customize our technology to fit your specific need
                                    ensuring the best possible outcomes.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-span-12 lg:col-span-7">
                <div class="relative pb-8 ps-12 h-full">
                    <div class="bg-white p-2.5 rounded-3xl h-full min-h-[400px]">
                        <img src="assets/images/thumbs/faq-thumb1.png" id="faqImage" alt="Image"
                            class="w-full h-full object-cover rounded-2xl duration-300">
                    </div>
                    <img src="assets/images/thumbs/faq-img-1.png" alt="Image"
                        class="absolute top-0 end-0 mt-9 -me-[48px]">
                    <img src="assets/images/thumbs/faq-img-2.png" alt="Image"
                        class="absolute bottom-0 end-0 -me-[32px]">
                    <img src="assets/images/thumbs/faq-img-3.png" alt="Image"
                        class="absolute bottom-0 start-0 -ms-[24px]">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- =============================== FAQ section end ============================== -->