<!-- =============================== FAQ section start ============================== -->
<section class="faq py-[80px] sm:py-[100px] lg:py-[120px] relative z-10 overflow-hidden">
    <img src="assets/images/shapes/faq-bg.png" alt="" class="absolute start-0 top-0 w-full h-full -z-[1]">
    
    <div class="container">
        <div class="mb-8">
            <span class="py-1 px-7.5 bg-white text-main-600 text-sm font-bold capitalize rounded-[50rem] mb-2.5">tech solution</span>
            <div class="flex flex-lg-nowrap flex-wrap justify-between items-center">
                <div class="max-w-[672px]">
                    <h3 class="splitTextStyleOne font-light leading-[1.4]"> 
                        <span class="inline-block font-semibold">The Complete </span> 
                        <span class="inline-block">Platform </span> 
                        <span class="inline-block font-semibold">To </span> 
                        <span class="inline-block font-semibold"> Power </span> 
                        <span class="inline-block font-semibold">Your </span> 
                        <span class="inline-block font-semibold">Operations</span> 
                    </h3>
                </div>
                <a href="register.html" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke d-sm-inline-flex d-none items-center justify-center gap-5 group active:-translate-y-2 px-56-px py-5 font-semibold rounded-[50rem]" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Sign up Now</span>
                </a>
            </div>
        </div>

        <div class="row gy-4">
          <div class="col-lg-5">
              <p class="splitTextStyleOne text-neutral-600 max-w-[500px] mb-15">
                  In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.
              </p>
              <div class="accordion common-accordion accordion-border-left" id="accordionExample">
                  <div class="accordion-item py-4 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                      <h5 class="accordion-header">
                          <button class="accordion-button pb-8 pt-4 shadow-none px-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-img="assets/images/thumbs/faq-thumb2.png">
                              Tailored solution
                          </button>
                      </h5>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body p-0">
                              <p class="text-neutral-500">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item py-4 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                      <h5 class="accordion-header">
                          <button class="accordion-button pb-8 pt-4 shadow-none px-0 bg-transparent h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-img="assets/images/thumbs/faq-thumb1.png">
                              Cutting-edge technology
                          </button>
                      </h5>
                      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                          <div class="accordion-body p-0">
                              <p class="text-neutral-500">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item py-4 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                      <h5 class="accordion-header">
                          <button class="accordion-button pb-8 pt-4 shadow-none px-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" data-img="assets/images/thumbs/faq-thumb3.png">
                              Discovery & Analysis
                          </button>
                      </h5>
                      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body p-0">
                              <p class="text-neutral-500">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item py-4 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                      <h5 class="accordion-header">
                          <button class="accordion-button pb-8 pt-4 shadow-none px-0 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" data-img="assets/images/thumbs/faq-thumb4.png">
                              Deployment & Support
                          </button>
                      </h5>
                      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body p-0">
                              <p class="text-neutral-500">We customize our technology to fit your specific need ensuring the best possible outcomes.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-7">
              <div class="relative pb-8 ps-12 h-full">
                <div class="bg-white p-2.5 rounded-3xl h-full min-h-[400px]">
                    <img src="assets/images/thumbs/faq-thumb1.png" id="faqImage" alt="Image" class="w-full h-full object-cover rounded-2xl duration-300">
                </div>
                <img src="assets/images/thumbs/faq-img-1.png" alt="" class="absolute top-0 end-0 mt-9 -me-48-px">
                <img src="assets/images/thumbs/faq-img-2.png" alt="" class="absolute bottom-0 end-0 -me-32-px">
                <img src="assets/images/thumbs/faq-img-3.png" alt="" class="absolute bottom-0 start-0 -ms-24-px">
              </div>
          </div>
      </div>

    </div>
</section>
<!-- =============================== FAQ section end ============================== -->