<!-- ============================ FAQ Six Two section start =============================== -->
<section class="faq-six-two py-[120px] mt-120 section-box relative z-10 overflow-hidden">
    <div class="background-img bg-img absolute top-0 start-0 w-full h-full -z-[1]"
        data-background-image="assets/images/bg/download-app-six-bg.png"></div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="">
                    <div class="max-w-780-px text-start mb-10">
                        <span class="capitalize font-caveat font-bold mb-3 h5 text-main-600" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">with the world's favorite CRM</span>
                        <h2 class="text-white capitalize splitTextStyleOne">Accept Every Major
                            Payment Method</h2>
                        <p class="text-neutral-300 text-lg mt-6 max-w-570-px" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="300">Sassly-CRM in the past allowing you to focus
                            more on your business
                            simply enjoy your newfound legal time to reflect leaving pen</p>
                    </div>
                    <div class="mt-10 flex gap-42-px" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="300">
                        <div class="">
                            <h3 class="text-main-600">1.75m</h3>
                            <span class="text-lg font-medium text-white">Total Active user</span>
                        </div>
                        <div class="my-2">
                            <span class="w-1-px h-full bg-main-600"></span>
                        </div>
                        <div class="">
                            <h3 class="text-main-600">1.75m</h3>
                            <span class="text-lg font-medium text-white">Total Active user</span>
                        </div>
                    </div>
                    <div class="mt-10 flex items-center gap-2.5">
                        <a href="register.html"
                            class="hover:-translate-y-1 active--translate-y-scale-9 btn button--stroke inline-flex items-center justify-center gap-5 group active--translate-y-2 px-9 py-4.5 font-medium rounded-[50rem] btn-main hover:style-one common-shadow-inset-one text-heading hover:text-white"
                            data-block="button" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                            <span class="button__flair"></span>
                            <span class="button__label">Start Your Free Trial</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="accordion common-accordion style-two style-four" id="accordionExampleTwo">
                    <div class="accordion-item py-8 px-6 rounded-xl bg-transparent mb-0" data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button
                                class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 text-white collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoSixTwo"
                                aria-expanded="false" aria-controls="collapseTwoSixTwo">
                                How does GoDaddy help small business owners succeed?
                            </button>
                        </h5>
                        <div id="collapseTwoSixTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwo">
                            <div class="accordion-body p-0 mt-[6.5] max-w-620-px">
                                <p class="text-neutral-200 leading-[2.125]">GoDaddy offers more than just a platform to
                                    build your website, we offer
                                    everything you need to create an effective, memorable online presence.
                                    Already have a site? We offer hosting plans that will keep it fast.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item py-8 px-6 rounded-xl bg-transparent mb-0" data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button
                                class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 text-white collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoSixThree"
                                aria-expanded="false" aria-controls="collapseTwoSixThree">
                                Why do I need a website for my business?
                            </button>
                        </h5>
                        <div id="collapseTwoSixThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwo">
                            <div class="accordion-body p-0 mt-[6.5] max-w-620-px">
                                <p class="text-neutral-200 leading-[2.125]">GoDaddy offers more than just a platform to
                                    build your website, we offer
                                    everything you need to create an effective, memorable online presence.
                                    Already have a site? We offer hosting plans that will keep it fast.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item py-8 px-6 rounded-xl bg-transparent mb-0" data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button
                                class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 text-white collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoSixFour"
                                aria-expanded="false" aria-controls="collapseTwoSixFour">
                                Why do I need a professional email?
                            </button>
                        </h5>
                        <div id="collapseTwoSixFour" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwo">
                            <div class="accordion-body p-0 mt-[6.5] max-w-620-px">
                                <p class="text-neutral-200 leading-[2.125]">GoDaddy offers more than just a platform to
                                    build your website, we offer
                                    everything you need to create an effective, memorable online presence.
                                    Already have a site? We offer hosting plans that will keep it fast.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item py-8 px-6 rounded-xl bg-transparent mb-0" data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button
                                class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 text-white collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoSixFive"
                                aria-expanded="false" aria-controls="collapseTwoSixFive">
                                What makes GoDaddy Web Hosting the world leader?
                            </button>
                        </h5>
                        <div id="collapseTwoSixFive" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwo">
                            <div class="accordion-body p-0 mt-[6.5] max-w-620-px">
                                <p class="text-neutral-200 leading-[2.125]">GoDaddy offers more than just a platform to
                                    build your website, we offer
                                    everything you need to create an effective, memorable online presence.
                                    Already have a site? We offer hosting plans that will keep it fast.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item py-8 px-6 rounded-xl bg-transparent mb-0" data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button
                                class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 text-white collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoSixSix"
                                aria-expanded="false" aria-controls="collapseTwoSixSix">
                                Why choose GoDaddy for WordPress?
                            </button>
                        </h5>
                        <div id="collapseTwoSixSix" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwo">
                            <div class="accordion-body p-0 mt-[6.5] max-w-620-px">
                                <p class="text-neutral-200 leading-[2.125]">GoDaddy offers more than just a platform to
                                    build your website, we offer
                                    everything you need to create an effective, memorable online presence.
                                    Already have a site? We offer hosting plans that will keep it fast.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item py-8 px-6 rounded-xl bg-transparent mb-0" data-aos="fade-up"
                        data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                        <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button
                                class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 text-white collapsed"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoSixSeven"
                                aria-expanded="false" aria-controls="collapseTwoSixSeven">
                                Why should I transfer my domain, website or web hosting to GoDaddy?
                            </button>
                        </h5>
                        <div id="collapseTwoSixSeven" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleTwo">
                            <div class="accordion-body p-0 mt-[6.5] max-w-620-px">
                                <p class="text-neutral-200 leading-[2.125]">GoDaddy offers more than just a platform to
                                    build your website, we offer
                                    everything you need to create an effective, memorable online presence.
                                    Already have a site? We offer hosting plans that will keep it fast.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ FAQ Six Two section end =============================== -->