<!-- ============================== Faq Two Section Start ============================== -->
<section class="faq-two py-[80px] sm:py-[100px] lg:py-[120px]">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="">
                    <div class="bg-neutral-100 py-3 px-3.5 rounded-[50rem] text-heading font-medium capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <span class="w-205 h-205 bg-yellow-600 rounded-[50%]"></span>
                        Up to <span class="text-yellow-600">70%</span> off managed cloud hosting
                    </div>
                    <h2 class="splitTextStyleOne text-heading capitalize">
                        Frequently ask
                        <span class="font-dm-serif fst-italic font-normal">Questions</span> 
                    </h2>
                    <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-[350px] font-medium">In today's competitive business, the demand for efficient In today's competitive  cost-effective</p>

                    <div class="mt-9" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900" >
                        <a href="javascript:void(0)" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main hover:style-one button--stroke gap-5 group active--translate-y-2 px-17 rounded-[50rem] py-5.5 font-medium" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Clients Area</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ps-xl-5">
                    <div class="accordion common-accordion style-two" id="accordionExample">
                        <div class="accordion-item py-8 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                          <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How does GoDaddy help small business owners succeed?
                            </button>
                          </h5>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 mt-6.5 max-w-620-px">
                              <p class="text-neutral-500">GoDaddy offers more than just a platform to build your website, we offer everything you need to create an effective, memorable online presence. Already have a site? We offer hosting plans that will keep it fast, secure and online. Our professional</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item py-8 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                          <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Why do I need a website for my business?
                            </button>
                          </h5>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 mt-6.5 max-w-620-px">
                              <p class="text-neutral-500">GoDaddy offers more than just a platform to build your website, we offer everything you need to create an effective, memorable online presence. Already have a site? We offer hosting plans that will keep it fast, secure and online. Our professional</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item py-8 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                          <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Why do I need a professional email?
                            </button>
                          </h5>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 mt-6.5 max-w-620-px">
                              <p class="text-neutral-500">GoDaddy offers more than just a platform to build your website, we offer everything you need to create an effective, memorable online presence. Already have a site? We offer hosting plans that will keep it fast, secure and online. Our professional</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item py-8 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                          <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What makes GoDaddy Web Hosting the world leader?
                            </button>
                          </h5>
                          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 mt-6.5 max-w-620-px">
                              <p class="text-neutral-500">GoDaddy offers more than just a platform to build your website, we offer everything you need to create an effective, memorable online presence. Already have a site? We offer hosting plans that will keep it fast, secure and online. Our professional</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item py-8 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                          <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Why choose GoDaddy for WordPress?
                            </button>
                          </h5>
                          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 mt-6.5 max-w-620-px">
                              <p class="text-neutral-500">GoDaddy offers more than just a platform to build your website, we offer everything you need to create an effective, memorable online presence. Already have a site? We offer hosting plans that will keep it fast, secure and online. Our professional</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item py-8 px-4 lg:px-6 xl:px-8 2xl:px-10 rounded-xl bg-transparent border-0 mb-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                          <h5 class="accordion-header flex items-center justify-between gap-3">
                            <button class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Why should I transfer my domain, website or web hosting to GoDaddy?
                            </button>
                          </h5>
                          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0 mt-6.5 max-w-620-px">
                              <p class="text-neutral-500">GoDaddy offers more than just a platform to build your website, we offer everything you need to create an effective, memorable online presence. Already have a site? We offer hosting plans that will keep it fast, secure and online. Our professional</p>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Faq Two Section End ============================== -->