<!-- =========================== FAQ Six section start ================================ -->
<section class="faq-six">
    <div class="container">
        <div class="pt-17 border-top border-neutral-200">
            <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
                <div class="col-span-12 lg:col-span-6">
                    <div class="xxl:pe-12">
                        <div class="">
                            <span class="capitalize font-caveat font-bold mb-3 h5 text-olive-green"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">With the world's
                                favorite
                                CRM</span>
                            <h2 class="text-heading capitalize splitTextStyleOne">Fast, Secure, Reliable Payments
                                system</h2>
                            <p class="text-neutral-600 text-lg mt-6 max-w-[570px]" data-aos="fade-up"
                                data-aos-duration="800" data-aos-delay="300">Sassly-CRM in the past allowing you to
                                focus
                                more on your business
                                simply enjoy your newfound legal time to reflect leaving pen.</p>
                        </div>

                        <div class="accordion common-accordion mt-15 style-three" id="accordionExample"
                            data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                            <div class="accordion-item border-0 rounded-0 border-bottom border-neutral-200 mb-0 pb-7 mt-7"
                                data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                                <h5 class="accordion-header flex items-center justify-between gap-3">
                                    <button
                                        class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        Choose Payment Method
                                    </button>
                                </h5>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body p-0 mt-4 max-w-[548px]">
                                        <p class="text-neutral-500">It only takes 5 minutes. Set-up is smooth and
                                            simple, with fully customizable page design to reflect your brand.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0 rounded-0 border-bottom border-neutral-200 mb-0 pb-7 mt-7"
                                data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                                <h5 class="accordion-header flex items-center justify-between gap-3">
                                    <button class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                        Enter Payment Details
                                    </button>
                                </h5>
                                <div id="collapseThree" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body p-0 mt-4 max-w-[548px]">
                                        <p class="text-neutral-500">It only takes 5 minutes. Set-up is smooth and
                                            simple, with fully customizable page design to reflect your brand.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0 rounded-0 border-bottom border-neutral-200 mb-0 pb-7 mt-7"
                                data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                                <h5 class="accordion-header flex items-center justify-between gap-3">
                                    <button
                                        class="accordion-button shadow-none p-0 line-clamp-3 bg-transparent h5 collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                        Confirm & Complete
                                    </button>
                                </h5>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body p-0 mt-4 max-w-[548px]">
                                        <p class="text-neutral-500">It only takes 5 minutes. Set-up is smooth and
                                            simple, with fully customizable page design to reflect your brand.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-span-12 lg:col-span-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="xl:ps-12 h-full">
                        <img src="assets/images/thumbs/faq-six-img.png" alt="Image"
                            class="rounded-3xl h-full w-full object-cover">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== FAQ Six section end ================================ -->