<!-- ============================ Features Three section start ============================ -->
<section class="features-three py-120 relative z-1">
    <img src="assets/images/shapes/gradient-blue-yellow.png" alt="Gradient" class="absolute tw-end-0 bottom-0 z-n1">
    
    <div class="container">
        <div class="flex items-center justify-between tw-gap-6 tw-mb-12">
            <div class="max-w-620-px">
                <h2 class="splitTextStyleOne text-heading text-capitalize"> Task management 
                    <span class="font-dm-serif fst-italic fw-normal text-gradient-teal"> features </span>
                    & capabilities
                </h2>
            </div>
            <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                <p class="splitTextStyleOne text-neutral-500 tw-mt-8 max-w-490-px fw-medium">Sassly-CRM in the past allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving pen</p>
            </div>
        </div>
        
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                <div class="tw-rounded-xl bg-goldenrod tw-p-7 h-100">
                    <div class="tw-pt-8 tw-pb-10 tw-ps-4"> 
                        <div class="relative h-100 flex flex-column">
                            <span class="z-3 relative tw-px-11 tw-py-205 fw-bold text-white gradient-bg-six rounded-pill transform-rotate--14-deg">Project management</span>
                            <span class="z-2 relative tw-px-11 tw-py-205 fw-bold text-heading bg-yellow rounded-pill">Performance tracking</span>
                            <span class="z-1 relative tw-px-6 tw-py-205 fw-bold text-white gradient-bg-five rounded-pill transform-rotate-8-deg">Seamless integrations tools</span>
                        </div>
                    </div>
                    
                    <div class="bg-white tw-rounded-lg common-shadow-twelve tw-py-5 tw-px-6">
                        <div class="flex items-center justify-between">
                            <span class="fw-bold tw-text-sm">Labels</span>
                            <div class="dropdown">
                                <button type="button" class="text-neutral-400" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ph-fill ph-dots-three-outline"></i>
                                </button>
                                <ul class="dropdown-menu border-0 min-w-max tw-p-4 common-shadow-eight">
                                    <li class="p-0">
                                        <a href="javascript:void(0)" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">Action</a>
                                    </li>
                                    <li class="p-0">
                                        <a href="javascript:void(0)" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">Another action</a>
                                    </li>
                                    <li class="p-0">
                                        <a href="javascript:void(0)" class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tw-mt-7">
                            <div class="flex items-center justify-between tw-pb-3 tw-mb-3 border-bottom border-neutral-100">
                                <label for="Copywriting" class="flex items-center tw-gap-405">
                                    <span class="text-neutral-400 flex"><i class="ph-fill ph-tag"></i></span>
                                    <span class="text-heading fw-medium tw-text-sm">Copywriting</span>
                                </label>
                                <div class="form-check common-check-two">
                                    <input class="form-check-input me-0 float-none tw-w-6 tw-h-6 tw-rounded shadow-none bg-main-50" type="checkbox" id="Copywriting">
                                </div>
                            </div>
                            <div class="flex items-center justify-between tw-pb-3 tw-mb-3 border-bottom border-neutral-100">
                                <label for="UIDesign" class="flex items-center tw-gap-405">
                                    <span class="text-neutral-400 flex"><i class="ph-fill ph-tag"></i></span>
                                    <span class="text-heading fw-medium tw-text-sm">UI Design</span>
                                </label>
                                <div class="form-check common-check-two">
                                    <input class="form-check-input me-0 float-none tw-w-6 tw-h-6 tw-rounded shadow-none bg-main-50" type="checkbox" id="UIDesign">
                                </div>
                            </div>
                            <div class="flex items-center justify-between">
                                <label for="Illustrations" class="flex items-center tw-gap-405">
                                    <span class="text-neutral-400 flex"><i class="ph-fill ph-tag"></i></span>
                                    <span class="text-heading fw-medium tw-text-sm">Illustrations</span>
                                </label>
                                <div class="form-check common-check-two">
                                    <input class="form-check-input me-0 float-none tw-w-6 tw-h-6 tw-rounded shadow-none bg-main-50" type="checkbox" id="Illustrations">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between tw-gap-3 tw-mt-4">
                        <div class="flex items-center tw-gap-2">
                            <div class="flex items-center">
                                <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 relative z-2 border border-white border-3">
                                    <img src="assets/images/thumbs/client-img1.png" alt="Client Image" class="w-full h-100 object-fit-cover">
                                </div>
                                <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 relative tw--ms-10-px z-1 border border-white border-3">
                                    <img src="assets/images/thumbs/client-img2.png" alt="Client Image" class="w-full h-100 object-fit-cover">
                                </div>
                                <div class="tw-w-9 tw-h-9 rounded-circle overflow-hidden tw-duration-300 hover-scale-14 tw-hover-z-9 relative tw--ms-10-px border border-white border-3">
                                    <img src="assets/images/thumbs/client-img3.png" alt="Client Image" class="w-full h-100 object-fit-cover">
                                </div>
                            </div>
                            <span class="text-neutral-600 tw-text-sm">+ 15 people</span>
                        </div>
                        <div class="">
                            <input type="file" id="uploadPhoto" hidden>
                            <label for="uploadPhoto" class="tw-w-7 tw-h-7 rounded-circle flex justify-center items-center border border-neutral-300 border-dashed border-2 tw-text-sm bg-white text-neutral-300 cursor-pointer hover-bg-main-600 hover-text-white hover-border-main-600">
                                <i class="ph-bold ph-plus"></i>
                            </label>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                <div class="row gy-4">
                    <div class="col-lg-12">
                        <div class="group-item tw-rounded-xl border border-neutral-200 tw-pt-12 tw-pb-15 tw-px-9 bg-neutral-50 hover-gradient-bg-five group animation-item tw-duration-300 relative z-1">
                            <div class="flex items-center justify-between tw-gap-2">
                                <h5 class="group-hover-text-white tw-duration-300 max-w-194-px splitTextStyleOne">Asynchronous Meetings</h5>
                                <span class="group-hover-item-text-invert tw-duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon1.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-278-px tw-mt-10 group-hover-text-white tw-duration-300">We are committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="group-item tw-rounded-xl border border-neutral-200 tw-pt-12 tw-pb-15 tw-px-9 bg-neutral-50 hover-gradient-bg-five group animation-item tw-duration-300 relative z-1">
                            <div class="flex items-center justify-between tw-gap-2">
                                <h5 class="group-hover-text-white tw-duration-300 max-w-194-px splitTextStyleOne">Monitoring your Time</h5>
                                <span class="group-hover-item-text-invert tw-duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon2.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-278-px tw-mt-10 group-hover-text-white tw-duration-300">We are committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                <div class="row gy-4">
                    <div class="col-lg-12 col-sm-6">
                        <div class="group-item tw-rounded-xl border border-neutral-200 tw-pt-12 tw-pb-15 tw-px-9 bg-neutral-50 hover-gradient-bg-five group animation-item tw-duration-300 relative z-1">
                            <div class="flex items-center justify-between tw-gap-2">
                                <h5 class="group-hover-text-white tw-duration-300 max-w-194-px splitTextStyleOne">built-in Automation</h5>
                                <span class="group-hover-item-text-invert tw-duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon3.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-278-px tw-mt-10 group-hover-text-white tw-duration-300">We are committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <div class="group-item tw-rounded-xl border border-neutral-200 tw-pt-12 tw-pb-15 tw-px-9 bg-neutral-50 hover-gradient-bg-five group animation-item tw-duration-300 relative z-1">
                            <div class="flex items-center justify-between tw-gap-2">
                                <h5 class="group-hover-text-white tw-duration-300 max-w-194-px splitTextStyleOne">Remote-Friendly Collaboration</h5>
                                <span class="group-hover-item-text-invert tw-duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon4.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-278-px tw-mt-10 group-hover-text-white tw-duration-300">We are committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Features Three section End ============================ -->

