<!-- ============================ Features Four section start ============================ -->
<section class="features-four">
    <div class="py-[80px] sm:py-[100px] lg:py-[120px] mx-48-px relative">
        <img src="assets/images/bg/mash-gradient-bg2.png" alt="Mash Gradient BG" class="w-full h-full absolute top-0 start-0 -z-[1]">
        
        <div class="max-w-[1820px] mx-auto">
            <div class="container">
                <div class="mb-12 max-w-570-px">
                    <h4 class="mb-4 font-bold line-clamp-1 font-caveat capitalize text-crm">with the world's favorite CRM</h4>
                    <h2 class="splitTextStyleOne text-heading capitalize">
                        improve customer relationships today
                    </h2>
                </div>
    
                <div class="row g-32-px">
                    <div class="col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
                        <div class="features-four-item bg-white rounded-40-px px-54-px pt-16 pb-180-px relative h-full">
                            <h3 class="mb-4 font-semibold max-w-[250px] splitTextStyleOne">Lead & Contact Management</h3>
                            <p class="text-neutral-600 text-lg font-medium">Sassly-CRM in the past allowing you to</p>
                            <a href="javascript:void(0)" class="hover:-translate-y-1 active--translate-y-scale-9 text-crm font-bold text-base text-blue text-decoration-underline mt-12 hover:underline-none">Transfer domain</a>
                            <img src="assets/images/thumbs/features-four-thumb101.png" alt="Thumbnail" class="max-w-[40%] absolute top-0 mt-5 end-0 me-5 common-shadow-twentyFive rounded-2xl d-xl-block d-none">
                            <img src="assets/images/thumbs/features-four-thumb102.png" alt="Thumbnail" class="max-w-[40%] absolute bottom-0 start-45 me-5 common-shadow-twentyFive rounded-2xl">
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
                        <div class="features-four-item bg-white rounded-40-px px-54-px pt-16 pb-180-px relative h-full">
                            <h3 class="mb-4 font-semibold max-w-[400px] splitTextStyleOne">Automate Workflows and Monitor your Sales.</h3>
                            <p class="text-neutral-600 text-lg font-medium">Sassly-CRM in the past allowing you to</p>
                            <a href="javascript:void(0)" class="hover:-translate-y-1 active--translate-y-scale-9 text-crm font-bold text-base text-blue text-decoration-underline mt-12 hover:underline-none">Transfer domain</a>
                            <img src="assets/images/thumbs/features-four-thumb2.png" alt="Thumbnail" class="max-w-[40%] absolute bottom-0 end-0 me-8 rounded-2xl">
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
                        <div class="features-four-item bg-white rounded-40-px px-54-px pt-16 pb-180-px relative h-full">
                            <h3 class="mb-4 font-semibold max-w-[400px] splitTextStyleOne">Artificial Intelligence</h3>
                            <p class="text-neutral-600 text-lg font-medium">Sassly-CRM in the past allowing you to</p>
                            <a href="javascript:void(0)" class="hover:-translate-y-1 active--translate-y-scale-9 text-crm font-bold text-base text-blue text-decoration-underline mt-12 hover:underline-none">Transfer domain</a>
                            <img src="assets/images/thumbs/features-four-thumb3.png" alt="Thumbnail" class="max-w-[40%] absolute bottom-0 end-0 me-10 rounded-2xl">
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
                        <div class="features-four-item bg-white rounded-40-px px-54-px pt-16 pb-180-px relative h-full">
                            <h3 class="mb-4 font-semibold max-w-[432px] splitTextStyleOne">involves organizing, tracking, and optimizing sales</h3>
                            <p class="text-neutral-600 text-lg font-medium">Sassly-CRM in the past allowing you to</p>
                            <a href="javascript:void(0)" class="hover:-translate-y-1 active--translate-y-scale-9 text-crm font-bold text-base text-blue text-decoration-underline mt-12 hover:underline-none">Transfer domain</a>
                            <img src="assets/images/thumbs/features-four-thumb4.png" alt="Thumbnail" class="max-w-[40%] absolute bottom-0 end-0 me-8 rounded-2xl">
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</section>
<!-- ============================ Features Four section End ============================ -->

