<!-- ============================ Features Three section start ============================ -->
<section class="features-three py-[80px] sm:py-[100px] lg:py-[120px] relative z-10">
    <img src="assets/images/shapes/gradient-blue-yellow.png" alt="Gradient" class="absolute end-0 bottom-0 -z-[1]">

    <div class="container">
        <div class="flex items-center justify-between gap-6 mb-12">
            <div class="max-w-[620px]">
                <h2 class="splitTextStyleOne text-heading capitalize"> Task management
                    <span class="font-dm-serif italic font-normal text-gradient-teal"> features </span>
                    & capabilities
                </h2>
            </div>
            <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-[490px] font-medium">Sassly-CRM in the past
                    allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving
                    pen</p>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
            <div class="col-span-12 sm:col-span-6 lg:col-span-4" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                <div class="rounded-xl bg-goldenrod p-7 h-full">
                    <div class="pt-8 pb-10 ps-4">
                        <div class="relative h-full flex flex-col">
                            <span
                                class="z-[3] relative px-11 py-2.5 font-bold text-white gradient-bg-six rounded-[50rem]! rotate-[-14deg]">Project
                                management</span>
                            <span
                                class="z-[2] relative px-11 py-2.5 font-bold text-heading bg-yellow-500 rounded-[50rem]!">Performance
                                tracking</span>
                            <span
                                class="z-[1] relative px-6 py-2.5 font-bold text-white gradient-bg-five rounded-[50rem]! rotate-[8deg]">Seamless
                                integrations tools</span>
                        </div>
                    </div>

                    <div class="bg-white rounded-lg common-shadow-twelve py-5 px-6">
                        <div class="flex items-center justify-between">
                            <span class="font-bold text-sm">Labels</span>

                            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                                class="text-neutral-400 text-xl flex"
                                type="button">
                               <i class="ph-fill ph-dots-three-outline"></i>
                            </button>

                            <!-- Dropdown menu -->
                            <div id="dropdown"
                                class="bg-white shadow-xl rounded-lg w-[162px] z-[99] hidden">
                                <ul class="p-2 text-sm text-body font-medium" aria-labelledby="dropdownDefaultButton">
                                    <li>
                                        <a href="#"
                                            class="hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            class="hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">Settings</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            class="hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">Earnings</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            class="hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">Sign
                                            out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="mt-7">
                            <div class="flex items-center justify-between pb-3 mb-3 border-b border-neutral-100">
                                <label for="Copywriting" class="flex items-center gap-4.5">
                                    <span class="text-neutral-400 flex"><i class="ph-fill ph-tag"></i></span>
                                    <span class="text-heading font-medium text-sm">Copywriting</span>
                                </label>
                                <div class="form-check common-check-two">
                                    <input
                                        class="form-check-input me-0 float-none w-6 h-6 rounded shadow-none bg-main-50"
                                        type="checkbox" id="Copywriting">
                                </div>
                            </div>
                            <div class="flex items-center justify-between pb-3 mb-3 border-b border-neutral-100">
                                <label for="UIDesign" class="flex items-center gap-4.5">
                                    <span class="text-neutral-400 flex"><i class="ph-fill ph-tag"></i></span>
                                    <span class="text-heading font-medium text-sm">UI Design</span>
                                </label>
                                <div class="form-check common-check-two">
                                    <input
                                        class="form-check-input me-0 float-none w-6 h-6 rounded shadow-none bg-main-50"
                                        type="checkbox" id="UIDesign">
                                </div>
                            </div>
                            <div class="flex items-center justify-between">
                                <label for="Illustrations" class="flex items-center gap-4.5">
                                    <span class="text-neutral-400 flex"><i class="ph-fill ph-tag"></i></span>
                                    <span class="text-heading font-medium text-sm">Illustrations</span>
                                </label>
                                <div class="form-check common-check-two">
                                    <input
                                        class="form-check-input me-0 float-none w-6 h-6 rounded shadow-none bg-main-50"
                                        type="checkbox" id="Illustrations">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between gap-3 mt-4">
                        <div class="flex items-center gap-2">
                            <div class="flex items-center">
                                <div
                                    class="w-9 h-9 rounded-[50%] overflow-hidden duration-300 hover:scale-[1.4] hover:z-[99] relative z-2 border border-white border-3">
                                    <img src="assets/images/thumbs/client-img1.png" alt="Client Image"
                                        class="w-full h-full object-cover">
                                </div>
                                <div
                                    class="w-9 h-9 rounded-[50%] overflow-hidden duration-300 hover:scale-[1.4] hover:z-[99] relative -ms-[10px] z-10 border border-white border-3">
                                    <img src="assets/images/thumbs/client-img2.png" alt="Client Image"
                                        class="w-full h-full object-cover">
                                </div>
                                <div
                                    class="w-9 h-9 rounded-[50%] overflow-hidden duration-300 hover:scale-[1.4] hover:z-[99] relative -ms-[10px] border border-white border-3">
                                    <img src="assets/images/thumbs/client-img3.png" alt="Client Image"
                                        class="w-full h-full object-cover">
                                </div>
                            </div>
                            <span class="text-neutral-600 text-sm">+ 15 people</span>
                        </div>
                        <div class="">
                            <input type="file" id="uploadPhoto" hidden>
                            <label for="uploadPhoto"
                                class="w-7 h-7 rounded-[50%] flex justify-center items-center border border-neutral-300 border-dashed border-2 text-sm bg-white text-neutral-300 cursor-pointer hover:bg-main-600 hover:text-white hover:border-main-600">
                                <i class="ph-bold ph-plus"></i>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 lg:col-span-4" data-aos="fade-up"
                data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
                    <div class="col-span-12 lg:col-span-12">
                        <div
                            class="group-item group rounded-xl border border-neutral-200 pt-12 pb-15 px-9 bg-neutral-50 hover-gradient-bg-five group animation-item duration-300 relative z-10">
                            <div class="flex items-center justify-between gap-2">
                                <h5 class="group-hover:text-white duration-300 max-w-[194px] splitTextStyleOne">
                                    Asynchronous Meetings</h5>
                                <span
                                    class="group-hover:invert group-hover:brightness-0 duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon1.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-[278px] mt-10 group-hover:text-white duration-300">We are
                                committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                    <div class="col-span-12 lg:col-span-12">
                        <div
                            class="group-item group rounded-xl border border-neutral-200 pt-12 pb-15 px-9 bg-neutral-50 hover-gradient-bg-five group animation-item duration-300 relative z-10">
                            <div class="flex items-center justify-between gap-2">
                                <h5 class="group-hover:text-white duration-300 max-w-[194px] splitTextStyleOne">
                                    Monitoring your Time</h5>
                                <span
                                    class="group-hover:invert group-hover:brightness-0 duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon2.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-[278px] mt-10 group-hover:text-white duration-300">We are
                                committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 lg:col-span-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
                data-aos-duration="800">
                <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
                    <div class="col-span-12 sm:col-span-6 lg:col-span-12">
                        <div
                            class="group-item group rounded-xl border border-neutral-200 pt-12 pb-15 px-9 bg-neutral-50 hover-gradient-bg-five group animation-item duration-300 relative z-10">
                            <div class="flex items-center justify-between gap-2">
                                <h5 class="group-hover:text-white duration-300 max-w-[194px] splitTextStyleOne">built-in
                                    Automation</h5>
                                <span
                                    class="group-hover:invert group-hover:brightness-0 duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon3.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-[278px] mt-10 group-hover:text-white duration-300">We are
                                committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 lg:col-span-12">
                        <div
                            class="group-item group rounded-xl border border-neutral-200 pt-12 pb-15 px-9 bg-neutral-50 hover-gradient-bg-five group animation-item duration-300 relative z-10">
                            <div class="flex items-center justify-between gap-2">
                                <h5 class="group-hover:text-white duration-300 max-w-[194px] splitTextStyleOne">
                                    Remote-Friendly Collaboration</h5>
                                <span
                                    class="group-hover:invert group-hover:brightness-0 duration-300 animate__heartBeat">
                                    <img src="assets/images/icons/features-three-icon4.svg" alt="Icon">
                                </span>
                            </div>
                            <p class="text-neutral-500 max-w-[278px] mt-10 group-hover:text-white duration-300">We are
                                committed to your success. Our platform is built to drive</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Features Three section End ============================ -->