<!-- ========================== Footer Three Section Start ========================= -->
<section class="footer-three bg-pink-more-light @@sectionClass">
    <div class="py-[80px] sm:py-[100px] lg:py-[120px]">
        <div class="container">
            <div class="grid grid-cols-1 sm:grid-cols-12 gap-12">
                <div class="col-span-12 sm:col-span-4 xl:col-span-3 col-xs-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="">
                        <h5 class="font-medium mb-8 splitTextStyleOne">Collaborate</h5>
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Partners</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Partners Program</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Affiliate Program</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Community</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">HR Partner Program</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-4 xl:col-span-2 col-xs-6" data-aos="fade-up" data-aos-duration="700">
                    <div class="">
                        <h5 class="font-medium mb-8 splitTextStyleOne">My account</h5>
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Company</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Customer Success</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Resources</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Talk an Expert</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-4 xl:col-span-2 col-xs-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="">
                        <h5 class="font-medium mb-8 splitTextStyleOne">Service</h5>
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Software Development</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Cloud Services</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">AI Machine Learning</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Data Security</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text-neutral-600 hover:text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9 font-bold">Software Development</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-6 xl:col-span-5" data-aos="fade-up" data-aos-duration="900">
                    <div class="xl:ps-12">
                        <a href="index.html" class="link hover:-translate-y-1 active:-translate-y-scale-9 mb-10">
                            <img src="assets/images/logo/logo-three.png" alt="Image">
                        </a>
                        <form action="#" class="flex md:flex-row flex-col gap-5 form-submit">
                            <div class="relative flex-grow-1">
                                <input type="email" class="h-14 rounded-lg bg-white ps-12 border border-transparent focus:border-main-600 text-heading focus:outline-0 w-full pe-6" placeholder="Email Address" required>
                                <span class="text-heading text-lg absolute top-50 start-0 -translate-y-50 ms-5 flex">
                                    <i class="ph ph-envelope-simple"></i>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-main hover-style-one button--stroke inline-flex items-center justify-center gap-2 group active:-translate-y-2 font-semibold flex-shrink-0 hover:-translate-y-1 active:-translate-y-scale-9" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Sign Up</span>
                                <span class="text-white text-sm rounded flex justify-center items-center relative group-hover:text-main-600 duration-500">
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </button>
                        </form>
                        <p class="text-heading font-semibold mt-9">By subscribing, you're accept
                            <a href="javascript:void(0)" class="text-heading text-decoration-underline hover:text-main-600 hover:-translate-y-1 active:-translate-y-scale-9">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="container">
        <!-- bottom Footer -->
        <div class="border-t border-neutral-200 border-0 py-8">
            <div class="container container-two">
                <div class="flex items-center justify-between gap-4 flex-wrap">
                    <p class="text-heading text-line-1 font-semibold"> 
                        &copy; 2025 
                        <a href="https://themeforest.net/user/wowtheme7" class="font-bold text-gradient-teal hover:underline hover:-translate-y-1 active:-translate-y-scale-9">WowTheme7</a>
                        - IT Services. All rights reserved.
                    </p>
                    <div class="flex items-center gap-6">
                        <a href="javascript:void(0)" class="text-neutral-600 font-semibold hover:text-heading hover:text-neutral-900 hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Faqs</a>
                        <a href="javascript:void(0)" class="text-neutral-600 font-semibold hover:text-heading hover:text-neutral-900 hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Setting</a>
                        <a href="javascript:void(0)" class="text-neutral-600 font-semibold hover:text-heading hover:text-neutral-900 hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Privacy</a>
                        <a href="javascript:void(0)" class="text-neutral-600 font-semibold hover:text-heading hover:text-neutral-900 hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</section>
<!-- ========================== Footer Three Section End ========================= -->