
<!-- ==================== Footer Start Here ==================== -->
<footer class="footer bg-black relative z-10 mt-auto pt-16 overflow-hidden">

    <!-- Footer Top Start -->
    <div class="container">
        <div class="flex items-center gap-5.5">
            <div class="flex-grow-1">
                <div class="flex items-center flex-lg-nowrap flex-wrap gap-100-px pb-13 border-bottom border-neutral-700">
                    <div class="max-w-[514px] w-full flex items-center gap-5.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                        <h3 class="h1 text-white mb-0 font-medium inline-flex items-center gap-4 flex-shrink-0"> 
                            <img src="assets/images/icons/arrow-up-main.svg" alt=""> 
                            88%
                        </h3>
                        <p class="text-neutral-300 max-w-[194px] ">Average revenue growth for per successful clients</p>
                    </div>
                    <div class="max-w-[514px] w-full flex items-center gap-5.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                        <h3 class="h1 text-white mb-0 font-medium inline-flex items-center gap-4 flex-shrink-0">1.3m</h3>
                        <div class="flex items-center gap-2">
                            <p class="text-neutral-300 max-w-[194px] ">Average revenue growth for per successful clients</p>
                        </div>
                    </div>
                </div>
                <div class="pt-8 flex items-center gap-8 flex-wrap">
                    <ul class="flex items-center gap-8 flex-wrap">
                        <li class="flex items-center gap-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <span class="w-5 h-5 bg-main-600 text-white flex justify-center  items-center text-xs rounded-[50%]">
                                <i class="ph ph-check"></i>
                            </span>
                            <p class="text-white font-medium">Various analysis options.</p>
                        </li>
                        <li class="flex items-center gap-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <span class="w-5 h-5 bg-main-600 text-white flex justify-center  items-center text-xs rounded-[50%]">
                                <i class="ph ph-check"></i>
                            </span>
                            <p class="text-white font-medium">Page Load (time, size, number of requests).</p>
                        </li>
                    </ul>
                    <div class="flex items-center justify-center gap-4.5">
                        <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <a href="https://play.google.com/store/apps" class="hover:-translate-y-1 active:-translate-y-scale-9">
                                <img src="assets/images/icons/store1.png" alt="">
                            </a>
                        </div>
                        <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <a href="https://www.apple.com/app-store" class="hover:-translate-y-1 active:-translate-y-scale-9">
                                <img src="assets/images/icons/store2.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0 gradient-overlay d-mblock hidden">
                <img src="assets/images/thumbs/footer-img.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    
    <div class="py-[80px] sm:py-[100px] lg:py-[120px] ">
        <div class="container container-two">
            <div class="row g-5">
                <div class="col-lg-5 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="">
                        <a href="index.html" class="link hover:-translate-y-1 active:-translate-y-scale-9 mb-10">
                            <img src="assets/images/logo/logo-white.png" alt="">
                        </a>
                        <form action="#" class="flex flex-md-row flex-col gap-5 form-submit">
                            <div class="relative flex-grow-1">
                                <input type="email" class="h-14 rounded-lg bg-white-08 ps-12 border border-neutral-700 focus:border-main-600 text-white focus:outline-0 w-full pe-6" placeholder="Email Address" required>
                                <span class="text-white text-lg absolute top-50 start-0 -translate-y-50 ms-5 flex">
                                    <i class="ph ph-envelope-simple"></i>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-main hover:style-three button--stroke inline-flex items-center justify-center gap-2 group active:-translate-y-2 font-semibold flex-shrink-0 hover:-translate-y-1 active:-translate-y-scale-9" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Sign Up</span>
                                <span class="text-white text-sm rounded flex justify-center items-center relative group-hover:text-main-600 duration-500">
                                    <i class="ph-bold ph-caret-right"></i>
                                </span>
                            </button>
                        </form>
                        <p class="text-neutral-500 font-semibold mt-9">By subscribing, you're accept
                            <a href="javascript:void(0)" class="text-white text-decoration-underline hover:text-main-600 hover:-translate-y-1 active:-translate-y-scale-9">Privacy Policy</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800">
                    <div class="">
                        <h5 class="font-medium text--white mb-8">My account</h5>
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Forum Support</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Help & FAQ</a>
                            </li>
                            <li>
                                <a href="contact.html" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Contact Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Pricing and plans</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Cookies Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000">
                    <div class="">
                        <h5 class="font-medium text--white mb-8">Service</h5>
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">It Consultation </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Cloud Services</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">AI Machine Learning</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Data Security</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Software Development</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)" class="hover:arrow-start text--white hover:text-white hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Cyber Security</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1200">
                    <div class="">
                        <h5 class="font-medium text--white mb-8">Locations</h5>
                        <div class="flex items-center gap-5">
                            <span class="flex text-3xl text-main-600">
                                <img src="assets/images/icons/map.svg" alt="">
                            </span>
                            <div class="">
                                <p class="text-neutral-400 block mb-1">55 Main Street, 2nd block Malborne, Australia</p>
                            </div>
                        </div>

                        <h5 class="font-medium text--white mt-10 mb-6">Contact</h5>
                        <a href="mailto:support@gmail.com" class="text-neutral-400 hover:-translate-y-1 active:-translate-y-scale-9">support@gmail.com</a>
                        <div class="flex items-center gap-5 mt-2">
                            <span class="flex text-3xl text-main-600">
                                <img src="assets/images/icons/phone.svg" alt="">
                            </span>
                            <div class="">
                                <a href="tel:+880(123)45688" class="block mb-1 text-2xl text-white hover:text-main-600 hover:-translate-y-1 active:-translate-y-scale-9">+880 (123) 456 88</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- bottom Footer -->
        <div class="border-top border-dashed border-neutral-600 border-0 py-8">
            <div class="container container-two">
                <div class="flex items-center justify-between gap-4 flex-wrap">
                    <p class="text--white text-line-1 font-normal"> 
                        &copy; 2025 <a href="https://themeforest.net/user/wowtheme7" class="font-medium hover:underline hover:-translate-y-1 active:-translate-y-scale-9">WowTheme7</a> - IT Services. All rights reserved.
                    </p>
                    <ul class="flex items-center gap-6" >
                        <li>
                            <a href="https://www.facebook.com" class="text--white text-2xl hover:-translate-y-1 active:-translate-y-scale-9 flex items-center gap-2.5 hover:text-white">
                                <span class="text-main-600 flex">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </span>
                                <span class="text-base">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" class="text--white text-2xl hover:-translate-y-1 active:-translate-y-scale-9 flex items-center gap-2.5 hover:text-white">
                                 <span class="text-main-600 flex">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </span>
                                <span class="text-base">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" class="text--white text-2xl hover:-translate-y-1 active:-translate-y-scale-9 flex items-center gap-2.5 hover:text-white">
                                <span class="text-main-600 flex">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </span>
                                <span class="text-base">Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com" class="text--white text-2xl hover:-translate-y-1 active:-translate-y-scale-9 flex items-center gap-2.5 hover:text-white">
                                <span class="text-main-600 flex">
                                    <i class="ph-fill ph-pinterest-logo"></i>
                                </span>
                                <span class="text-base">Pinterest</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->
  