<section class="footer-four">
    <div class="pt-[80px] sm:pt-[100px] lg:pt-[120px] mx-4 md:mx-6 lg:mx-8 xl:mx-10 2xl:mx-[48px] relative gradient-bg-bottom-top">
        <div class="container">
            <div
                class="flex gap-6 border-t border-b flex justify-between lg:flex-nowrap flex-wrap">
                <div class="pt-10 md:pt-12 lg:pt-15 xl:pt-[68px] 2xl:pt-[100px] pb-[80px]">
                    <a href="index.html" class="link hover:-translate-y-1 active:-translate-y-scale-9 mb-6">
                        <img src="assets/images/logo/logo-four.png" alt="">
                    </a>
                    <p class="max-w-[250px] text-lg text-neutral-600">Build a modern and creative website with
                        crealand</p>
                    <div class="mt-6 flex flex-col gap-4">
                        <div class="flex items-center gap-2.5">
                            <span class="">
                                <img src="assets/images/icons/phone-icon.png" alt="Icon">
                            </span>
                            <span class="font-semibold text-heading">+806 (000) 88 99</span>
                        </div>
                        <div class="flex items-center gap-2.5">
                            <span class="">
                                <img src="assets/images/icons/message-icon.png" alt="Icon">
                            </span>
                            <span class="font-semibold text-heading">contact@info.com</span>
                        </div>
                    </div>
                </div>
                <div class="lg:flex hidden">
                    <div class="w-px h-full bg-neutral-200"></div>
                </div>
                <div class="pt-10 md:pt-12 lg:pt-15 xl:pt-[68px] 2xl:pt-[100px] pb-[80px]">
                    <div class="">
                        <h5 class="font-semibold font-bold text-heading mb-8 uppercase">Our Location</h5>
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Overview</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Features</a>
                            </li>
                            <li>
                                <a href="contact.html"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Solutions</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Tutorials</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Pricing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:flex hidden">
                    <div class="w-px h-full bg-neutral-200"></div>
                </div>
                <div class="pt-10 md:pt-12 lg:pt-15 xl:pt-[68px] 2xl:pt-[100px] pb-[80px]">
                    <div class="">
                        <h5 class="font-semibold font-bold text-heading mb-8 uppercase">Contact info</h5>
                        <ul class="flex flex-col gap-4">
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Partners</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Partners
                                    Program</a>
                            </li>
                            <li>
                                <a href="contact.html"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Affiliate
                                    Program</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">Community</a>
                            </li>
                            <li class="mb-0">
                                <a href="javascript:void(0)"
                                    class="hover:arrow-start text-heading hover:underline hover:-translate-y-1 active:-translate-y-scale-9">HR
                                    Partner Program</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:flex hidden">
                    <div class="w-px h-full bg-neutral-200"></div>
                </div>
                <div class="pt-10 md:pt-12 lg:pt-15 xl:pt-[68px] 2xl:pt-[100px] pb-[80px]">
                    <div class="">
                        <h5 class="font-semibold font-bold text-heading mb-8 uppercase">Newsletter</h5>
                        <form action="#" class="relative common-shadow-twentySeven rounded-[50rem]">
                            <input type="text"
                                class="form-control shadow-none bg-white border border-white focus:border-main-600 text-heading font-medium px-6 py-4 rounded-[50rem] focus:outline-0 ps-12 pe-14"
                                placeholder="Enter your e-mail">
                            <span
                                class="text-neutral-600 text-xl absolute start-0 top-50 translate-middle-y ms-5 leading-none flex">
                                <i class="ph-bold ph-envelope-simple"></i>
                            </span>
                            <button type="button"
                                class="flex-grow-1 hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke items-center flex justify-center gap-5 group active:-translate-y-2 rounded-[50rem] font-bold p-0 w-11 h-11 bg-main-600 text-xl text-heading rounded-[50%] absolute end-0 top-50 translate-middle-y me-2"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-four-bottom pb-6 pt-7">
            <div class="container">
                <div class="flex items-center justify-between gap-4 flex-wrap">
                    <p class="font-semibold text-heading">Copyright &copy; 2024 by <a href="index.html"
                            class="text-blue hover:underline">wowtheme7</a> . All Rights Reserved</p>
                    <div class="flex items-center gap-3.5">
                        <button type="button"
                            class="font-bold p-0 w-11 h-11 border border-neutral-200 bg-white hover:bg-main-600 text-xl text-heading hover:border-main-600 duration-300 rounded-[50%]">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </button>
                        <button type="button"
                            class="font-bold p-0 w-11 h-11 border border-neutral-200 bg-white hover:bg-main-600 text-xl text-heading hover:border-main-600 duration-300 rounded-[50%]">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </button>
                        <button type="button"
                            class="font-bold p-0 w-11 h-11 border border-neutral-200 bg-white hover:bg-main-600 text-xl text-heading hover:border-main-600 duration-300 rounded-[50%]">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>