<!-- ==================== Header Three Start Here ==================== -->
<header class="header py-0 top-0 start-0 end-0 w-full z-99 mt-8 absolute">
  <div class="container">
    <div
      class="header-three__inner py-2 py-lg-0 lg-ps-12 ps-4 pe-7.5 bg-white-06 transition-all rounded-lg common-shadow-eleven">
      <nav class="flex items-center justify-between relative">
        <!-- Logo Start -->
        <div class="logo">
          <a href="index.html" class="link hover:-translate-y-1 active:-translate-y-scale-9">
            <img src="assets/images/logo/logo-white-two.png" alt="Logo" class="max-w-[200px]">
          </a>
        </div>
        <!-- Logo End  -->

        <!-- Menu Start  -->
        <div class="header-menu lg:block hidden">
          @@include('../partials/_nav-menu-three.html', { "class" : "gap-7"
          })
        </div>
        <!-- Menu End  -->

        <!-- Header Right start -->
        <div class="flex items-center gap-6">
          <div class="flex items-center gap-6">
            <a href="login.html" class="flex items-center gap-1.5 xl:flex hidden text-white">
              <span class="text-spring-green flex leading-none">
                <i class="ph-bold ph-user"></i>
              </span>
              <span class="font-semibold text-sm">Sign in</span>
            </a>

            <a href="register.html"
              class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main-two hover:style-two button--stroke lg:flex hidden items-center justify-center gap-5 group active:-translate-y-2 px-xl-4 px-3 rounded-md py-4.5 font-bold"
              data-block="button">
              <span class="button__flair"></span>
              <div class="flex items-center gap-2 z-10">
                <span class="button__label">Start Free Trial</span>
                <span class="icon z-10"><i class="ph-fill ph-cloud-arrow-down"></i></span>
              </div>
            </a>
          </div>
          <button type="button" class="toggle-mobileMenu leading-none lg:hidden text-white text-9">
            <i class="ph ph-list"></i>
          </button>
        </div>
        <!-- Header Right End  -->
      </nav>
    </div>
  </div>
</header>
<!-- ==================== Header Three End Here ==================== -->