<!-- =========================== Hosting plan section start =============================== -->
<section class="hosting-plan pt-224-px pb-[80px] sm:pb-[100px] lg:pb-[120px] relative z-10 overflow-hidden">
    <img src="assets/images/shapes/wave-shape.png" alt="Shape" class="absolute w-full h-full top-0 start-0 -z-[1]">
    <img src="assets/images/shapes/dots-circle-round.png" alt="Shape" class="absolute bottom-0 start-0 ms-80-px scale-animation lg:block hidden">
    
    <div class="container">
        <div class="flex items-center justify-between gap-6 mb-12">
            <div class="max-w-[724px]">
                <div class="bg-neutral-200 py-3 px-3.5 rounded-[50rem] text-heading font-medium capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >                   <span class="w-205 h-205 bg-yellow-600 rounded-[50%]"></span>
                    Up to <span class="text-yellow-600">70%</span> off managed cloud hosting
                </div>
                <h2 class="splitTextStyleOne text-heading capitalize"> Pick your perfect 
                    <span class="font-dm-serif fst-italic font-normal"> web hosting </span> plan. We got'em all.
                </h2>
            </div>
            <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >               <a href="register.html" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke lg:flex hidden items-center justify-center gap-5 group active:-translate-y-2 px-15 rounded-[50rem] py-5.5 font-medium" data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">Clients Area</span>
                </a>
            </div>
        </div>
        
        <div class="relative">
            <div class="bg-white common-shadow-seven rounded-2xl overflow-hidden">
                <div class="hosting-plan-slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide h-full" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                            <div class="group hosting-plan-item ps-48-px pe-4 pt-90-px pb-9 hover:bg-main-600 h-full flex flex-col justify-between animation-item duration-300">
                                <div class="">
                                    <span class="">
                                        <img src="assets/images/icons/hosting-plan-icon1.png" alt="Icon" class="animate__swing">
                                    </span>
                                    <div class="mt-10">
                                        <span class="mb-3 block text-heading">
                                            <span class="duration-200 group-hover:text-white">Starts at </span>
                                            <span class="text-purple duration-200 group-hover:text-yellow-600 font-bold">$3.75/mo*</span> 
                                        </span>
                                        <h5 class="mb-3 duration-200 group-hover:text-white">Web hosting</h5>
                                        <p class="text-neutral-500 text-base line-clamp-2 duration-200 group-hover:text-white">Easy, affordable, and includes a free domain for a year. Score!</p>       
                                    </div>
                                </div>
                                <div class="mt-7.5">
                                    <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-7.5 py-3.5 font-medium rounded-md text-sm group-hover:bg-white duration-400 group-hover:text-main-two-600 hosting-plan-btn" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Learn more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide h-full" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700" >
                            <div class="group hosting-plan-item ps-48-px pe-4 pt-90-px pb-9 hover:bg-main-600 h-full flex flex-col justify-between animation-item duration-300">
                                <div class="">
                                    <span class="">
                                        <img src="assets/images/icons/hosting-plan-icon2.png" alt="Icon" class="animate__swing">
                                    </span>
                                    <div class="mt-10">
                                        <span class="mb-3 block text-heading">
                                            <span class="duration-200 group-hover:text-white">Starts at </span>
                                            <span class="text-purple duration-200 group-hover:text-yellow-600 font-bold">$3.75/mo*</span> 
                                        </span>
                                        <h5 class="mb-3 duration-200 group-hover:text-white">WordPress hosting</h5>
                                        <p class="text-neutral-500 text-base line-clamp-2 duration-200 group-hover:text-white">Easy, affordable, and includes a free domain for a year. Score!</p>       
                                    </div>
                                </div>
                                <div class="mt-7.5">
                                    <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-7.5 py-3.5 font-medium rounded-md text-sm group-hover:bg-white duration-400 group-hover:text-main-two-600 hosting-plan-btn" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Learn more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide h-full" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                            <div class="group hosting-plan-item ps-48-px pe-4 pt-90-px pb-9 hover:bg-main-600 h-full flex flex-col justify-between animation-item duration-300">
                                <div class="">
                                    <span class="">
                                        <img src="assets/images/icons/hosting-plan-icon3.png" alt="Icon" class="animate__swing">
                                    </span>
                                    <div class="mt-10">
                                        <span class="mb-3 block text-heading">
                                            <span class="duration-200 group-hover:text-white">Starts at </span>
                                            <span class="text-purple duration-200 group-hover:text-yellow-600 font-bold">$3.75/mo*</span> 
                                        </span>
                                        <h5 class="mb-3 duration-200 group-hover:text-white">VPS hosting</h5>
                                        <p class="text-neutral-500 text-base line-clamp-2 duration-200 group-hover:text-white">Easy, affordable, and includes a free domain for a year. Score!</p>       
                                    </div>
                                </div>
                                <div class="mt-7.5">
                                    <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-7.5 py-3.5 font-medium rounded-md text-sm group-hover:bg-white duration-400 group-hover:text-main-two-600 hosting-plan-btn" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Learn more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide h-full" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900" >
                            <div class="group hosting-plan-item ps-48-px pe-4 pt-90-px pb-9 hover:bg-main-600 h-full flex flex-col justify-between animation-item duration-300">
                                <div class="">
                                    <span class="">
                                        <img src="assets/images/icons/hosting-plan-icon4.png" alt="Icon" class="animate__swing">
                                    </span>
                                    <div class="mt-10">
                                        <span class="mb-3 block text-heading">
                                            <span class="duration-200 group-hover:text-white">Starts at </span>
                                            <span class="text-purple duration-200 group-hover:text-yellow-600 font-bold">$3.75/mo*</span> 
                                        </span>
                                        <h5 class="mb-3 duration-200 group-hover:text-white">Dedicated hosting</h5>
                                        <p class="text-neutral-500 text-base line-clamp-2 duration-200 group-hover:text-white">Easy, affordable, and includes a free domain for a year. Score!</p>       
                                    </div>
                                </div>
                                <div class="mt-7.5">
                                    <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-7.5 py-3.5 font-medium rounded-md text-sm group-hover:bg-white duration-400 group-hover:text-main-two-600 hosting-plan-btn" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Learn more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide h-full" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" >
                            <div class="group hosting-plan-item ps-48-px pe-4 pt-90-px pb-9 hover:bg-main-600 h-full flex flex-col justify-between animation-item duration-300">
                                <div class="">
                                    <span class="">
                                        <img src="assets/images/icons/hosting-plan-icon2.png" alt="Icon" class="animate__swing">
                                    </span>
                                    <div class="mt-10">
                                        <span class="mb-3 block text-heading">
                                            <span class="duration-200 group-hover:text-white">Starts at </span>
                                            <span class="text-purple duration-200 group-hover:text-yellow-600 font-bold">$3.75/mo*</span> 
                                        </span>
                                        <h5 class="mb-3 duration-200 group-hover:text-white">WordPress hosting</h5>
                                        <p class="text-neutral-500 text-base line-clamp-2 duration-200 group-hover:text-white">Easy, affordable, and includes a free domain for a year. Score!</p>       
                                    </div>
                                </div>
                                <div class="mt-7.5">
                                    <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-7.5 py-3.5 font-medium rounded-md text-sm group-hover:bg-white duration-400 group-hover:text-main-two-600 hosting-plan-btn" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Learn more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="swiper-hosting-button-next w-14 h-14 border border-neutral-200 rounded-[50%] text-main-600 text-lg flex justify-center items-center hover:bg-main-600 hover:border-main-600 hover:text-white transition duration-200 absolute top-50 translate-middle-y z-99 start-100 ms-[7.5]">
                <i class="ph-bold ph-arrow-right"></i>
            </div>
            <div class="swiper-hosting-button-prev w-14 h-14 border border-neutral-200 rounded-[50%] text-main-600 text-lg flex justify-center items-center hover:bg-main-600 hover:border-main-600 hover:text-white transition duration-200 absolute top-50 translate-middle-y z-99 end-100 me-[7.5]">
                <i class="ph-bold ph-arrow-left"></i>
            </div>

            <div class="swiper-hosting-pagination lg:hidden flex items-center justify-center mt-6.5"></div>
        </div>
        
    </div>
</section>
<!-- =========================== Hosting plan section End =============================== -->