<!-- ================================ How it works section start ========================== -->
<section class="how-it-works-six py-120">
    <div class="container">
        <!-- Section Heading start -->
        <div class="section-heading max-w-780-px text-center mx-auto mb-6" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <span class="capitalize font-caveat font-bold mb-3 h5 text-olive-green">With the world's favorite
                CRM</span>
            <h2 class="text-heading">How It Works</h2>
        </div>
        <!-- Section Heading end -->

        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6" data-aos="fade-left" data-aos-duration="800" data-aos-delay="100">
                <div
                    class="how-it-works-six-item bg-white rounded-xl px-48-px py-54-px bg-white duration-300 animation-item border border-neutral-200 hover:border-main-two-600 hover:bg-neutral-100 common-shadow-thirty hover:shadow-none h-100 flex flex-col justify-between">
                    <div class="">
                        <h4 class="">01</h4>
                        <h4 class="mt-2">Create Account</h4>
                        <p class="mt-4 text-heading">Chatsonic understands voice commands and
                            responds just like Siri / Google Assistant.</p>
                    </div>
                    <div class="flex items-center justify-between gap-4 mt-80-px">
                        <div class="">
                            <img src="assets/images/shapes/curve-arrow-six.png" alt="Arrow"
                                class="left-right-animation">
                        </div>
                        <div class="">
                            <img src="assets/images/icons/how-it-works-six-icon1.png" alt="Icon"
                                class="animate__heartBeat">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-left" data-aos-duration="800" data-aos-delay="200">
                <div
                    class="how-it-works-six-item bg-white rounded-xl px-48-px py-54-px bg-white duration-300 animation-item border border-neutral-200 hover:border-main-two-600 hover:bg-neutral-100 common-shadow-thirty hover:shadow-none h-100 flex flex-col justify-between">
                    <div class="">
                        <h4 class="">02</h4>
                        <h4 class="mt-2">Connect Your Bank</h4>
                        <p class="mt-4 text-heading">Chatsonic understands voice commands and
                            responds just like Siri / Google Assistant.</p>
                    </div>
                    <div class="flex items-center justify-between gap-4 mt-80-px">
                        <div class="">
                            <img src="assets/images/shapes/curve-arrow-six.png" alt="Arrow"
                                class="left-right-animation">
                        </div>
                        <div class="">
                            <img src="assets/images/icons/how-it-works-six-icon2.png" alt="Icon"
                                class="animate__heartBeat">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">
                <div
                    class="how-it-works-six-item bg-white rounded-xl px-48-px py-54-px bg-white duration-300 animation-item border border-neutral-200 hover:border-main-two-600 hover:bg-neutral-100 common-shadow-thirty hover:shadow-none h-100 flex flex-col justify-between">
                    <div class="">
                        <h4 class="">03</h4>
                        <h4 class="mt-2">Accepting Payments</h4>
                        <p class="mt-4 text-heading">Chatsonic understands voice commands and
                            responds just like Siri / Google Assistant.</p>
                    </div>
                    <div class="flex items-center justify-between gap-4 mt-80-px">
                        <div class="">
                            <img src="assets/images/shapes/curve-arrow-six.png" alt="Arrow"
                                class="left-right-animation">
                        </div>
                        <div class="">
                            <img src="assets/images/icons/how-it-works-six-icon3.png" alt="Icon"
                                class="animate__heartBeat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ How it works section end ========================== -->