<!-- mega menu start -->
<div
    class="mega-menu p-6 rounded-lg scroll-sm nav-submenu absolute start-0 top-100 w-max bg-white rounded-md z-99">
    <div class="row g-4 row-cols-1 row-cols-lg-3 row-cols-xl-4">
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="relative border border-neutral-200 rounded-lg overflow-hidden">
                    <a href="index.html" class="d-block">
                        <img src="assets/images/thumbs/home-img1.png" alt="Home Page Image"
                            class="h-440-px w-full object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay absolute top-0 start-0 w-full h-100 flex justify-center items-center invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1 scale-08 group-hover:item-scale-1 rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons absolute top-0 start-0 w-full h-100 flex justify-center items-center flex-col gap-4 invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1">
                            <a href="index.html" target="_blank"
                                class="btn btn-main hover:style-one button--stroke active-scale-094 duration-100 inline-flex items-center justify-center gap-705 group active--translate-y-2 p-1 ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="w-12 h-12 bg-white text-main-600 text-xl rounded-circle flex justify-center items-center relative duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right rotate--45-deg group-hover:item-rotate-0-deg duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <a href="index.html"
                        class="text-heading hover:text-main-600 font-semibold text-md capitalize line-clamp-1">IT
                        Solution</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="relative border border-neutral-200 rounded-lg overflow-hidden">
                    <a href="index-2.html" class="d-block">
                        <img src="assets/images/thumbs/home-img2.png" alt="Home Page Image"
                            class="h-440-px w-full object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay absolute top-0 start-0 w-full h-100 flex justify-center items-center invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1 scale-08 group-hover:item-scale-1 rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons absolute top-0 start-0 w-full h-100 flex justify-center items-center flex-col gap-4 invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1">
                            <a href="index-2.html" target="_blank"
                                class="btn btn-main hover:style-one button--stroke active-scale-094 duration-100 inline-flex items-center justify-center gap-705 group active--translate-y-2 p-1 ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="w-12 h-12 bg-white text-main-600 text-xl rounded-circle flex justify-center items-center relative duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right rotate--45-deg group-hover:item-rotate-0-deg duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <a href="index-2.html"
                        class="text-heading hover:text-main-600 font-semibold text-md capitalize line-clamp-1">Web
                        Hosting</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="relative border border-neutral-200 rounded-lg overflow-hidden">
                    <a href="index-3.html" class="d-block">
                        <img src="assets/images/thumbs/home-img3.png" alt="Home Page Image"
                            class="h-440-px w-full object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay absolute top-0 start-0 w-full h-100 flex justify-center items-center invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1 scale-08 group-hover:item-scale-1 rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons absolute top-0 start-0 w-full h-100 flex justify-center items-center flex-col gap-4 invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1">
                            <a href="index-3.html" target="_blank"
                                class="btn btn-main hover:style-one button--stroke active-scale-094 duration-100 inline-flex items-center justify-center gap-705 group active--translate-y-2 p-1 ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="w-12 h-12 bg-white text-main-600 text-xl rounded-circle flex justify-center items-center relative duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right rotate--45-deg group-hover:item-rotate-0-deg duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <a href="index-3.html"
                        class="text-heading hover:text-main-600 font-semibold text-md capitalize line-clamp-1">Task
                        Management</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="relative border border-neutral-200 rounded-lg overflow-hidden">
                    <a href="index-4.html" class="d-block">
                        <img src="assets/images/thumbs/home-img4.png" alt="Home Page Image"
                            class="h-440-px w-full object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay absolute top-0 start-0 w-full h-100 flex justify-center items-center invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1 scale-08 group-hover:item-scale-1 rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons absolute top-0 start-0 w-full h-100 flex justify-center items-center flex-col gap-4 invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1">
                            <a href="index-4.html" target="_blank"
                                class="btn btn-main hover:style-one button--stroke active-scale-094 duration-100 inline-flex items-center justify-center gap-705 group active--translate-y-2 p-1 ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="w-12 h-12 bg-white text-main-600 text-xl rounded-circle flex justify-center items-center relative duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right rotate--45-deg group-hover:item-rotate-0-deg duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <a href="index-4.html"
                        class="text-heading hover:text-main-600 font-semibold text-md capitalize line-clamp-1">CRM
                        Software
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="relative border border-neutral-200 rounded-lg overflow-hidden">
                    <a href="index-5.html" class="d-block">
                        <img src="assets/images/thumbs/home-img5.png" alt="Home Page Image"
                            class="h-440-px w-full object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay absolute top-0 start-0 w-full h-100 flex justify-center items-center invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1 scale-08 group-hover:item-scale-1 rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons absolute top-0 start-0 w-full h-100 flex justify-center items-center flex-col gap-4 invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1">
                            <a href="index-5.html" target="_blank"
                                class="btn btn-main hover:style-one button--stroke active-scale-094 duration-100 inline-flex items-center justify-center gap-705 group active--translate-y-2 p-1 ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="w-12 h-12 bg-white text-main-600 text-xl rounded-circle flex justify-center items-center relative duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right rotate--45-deg group-hover:item-rotate-0-deg duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <a href="index-5.html"
                        class="text-heading hover:text-main-600 font-semibold text-md capitalize line-clamp-1">App
                        Landing</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="relative border border-neutral-200 rounded-lg overflow-hidden">
                    <a href="index-6.html" class="d-block">
                        <img src="assets/images/thumbs/home-img6.png" alt="Home Page Image"
                            class="h-440-px w-full object-fit-cover object-top">
                    </a>
                    <div class="d-lg-flex d-none">
                        <div
                            class="mega-menu-item__overlay absolute top-0 start-0 w-full h-100 flex justify-center items-center invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1 scale-08 group-hover:item-scale-1 rounded-lg pointer-event-none">
                        </div>
                        <div
                            class="mega-menu-item__buttons absolute top-0 start-0 w-full h-100 flex justify-center items-center flex-col gap-4 invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1">
                            <a href="index-6.html" target="_blank"
                                class="btn btn-main hover:style-one button--stroke active-scale-094 duration-100 inline-flex items-center justify-center gap-705 group active--translate-y-2 p-1 ps-8 rounded-pill group-item"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Live Preview</span>
                                <span
                                    class="w-12 h-12 bg-white text-main-600 text-xl rounded-circle flex justify-center items-center relative duration-500">
                                    <i
                                        class="ph-bold ph-arrow-right rotate--45-deg group-hover:item-rotate-0-deg duration-300"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-center">
                    <a href="index-6.html"
                        class="text-heading hover:text-main-600 font-semibold text-md capitalize line-clamp-1">Payment
                        Solution</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <div class="relative border border-neutral-200 rounded-lg overflow-hidden">
                    <span class="d-block">
                        <img src="assets/images/thumbs/coming-soon-img.png" alt="Home Page Image"
                            class="h-440-px w-full object-fit-cover object-top">
                    </span>
                </div>
                <div class="mt-4 text-center">
                    <span class="text-heading font-semibold text-md capitalize line-clamp-1">Home 7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mega menu end -->