<!-- ==================== Mobile Menu Start Here ==================== -->
<div class="mobile-menu lg:hidden block scroll-sm fixed bg-white w-[300px] h-screen overflow-y-auto p-6 z-999 -translate-x-full pb-68 ">

    <button type="button" class="close-button absolute end-0 top-0 me-2 mt-2 w-605 h-605 rounded-[50%] flex justify-center items-center text-neutral-900 bg-neutral-200 hover:bg-neutral-900 hover:text-white"> 
        <i class="ph ph-x"></i>
    </button>

    <div class="mobile-menu__inner">
        <a href="index.html" class="mobile-menu__logo">
            <img src="assets/images/logo/logo.png" alt="Logo">
        </a>
        <div class="mobile-menu__menu">
            @@include('../partials/_nav-menu.html', {
                "class" : "nav-menu--mobile block mt-8"
            })
        </div>
        <a href="register.html" class="btn btn-main-two hover-style-two button--stroke sm:hidden inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-8 rounded-[50rem] mt-6" data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">Sign Up Now</span>
        </a>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->