<!-- Nav menu Three Start -->
<ul class="nav-menu d-lg-flex items-center @@class">
    <li class="nav-menu__item has-submenu activePage">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-full">Home</a>
        @@include('../partials/_mega-menu.html')
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-full">Pages</a>
        <ul
            class="nav-submenu scroll-sm absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="pricing-plan.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Pricing
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="about.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    About Us
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="app-intigration.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    App Integration
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="intigration-details.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Integration Details
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="policy-privacy.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Privacy Policy
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="faq.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    FAQ
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="project-details.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Project Details
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="service-details.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Service Details
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-full">Portfolio</a>
        <ul
            class="nav-submenu scroll-sm absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="javascript:void(0)"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Portfolio
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-full">Shop</a>
        <ul
            class="nav-submenu scroll-sm absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="shop.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Shop
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="shop-details.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Shop Details
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="cart.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Cart
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="checkout.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Checkout
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 tw-pe-5 text-white tw-py-9 fw-semibold w-full">Blog</a>
        <ul
            class="nav-submenu scroll-sm absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md overflow-y-auto tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="blog.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Blog
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 relative">
                <a href="blog-details.html"
                    class="nav-submenu__link hover-bg-neutral-200 text-heading fw-semibold w-full d-block tw-py-2 tw-px-305 tw-rounded">
                    Blog Details
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="contact.html"
            class="nav-menu__link hover--translate-y-1 text-white tw-py-9 fw-semibold w-full">Contact</a>
    </li>
</ul>
<!-- Nav menu Three End  -->