<!-- Nav menu Three Start -->
<ul class="nav-menu lg:flex items-center @@class">
    <li class="nav-menu__item has-submenu activePage">
        <a href="javascript:void(0)"
            class="nav-menu__link pe-5 text-white lg:py-9 py-3 font-semibold w-full inline-block">Home</a>
        @@include('../partials/_mega-menu.html')
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link pe-5 text-white lg:py-9 py-3 font-semibold w-full inline-block">Pages</a>
        <ul
            class="nav-submenu scroll-sm lg:absolute static start-0 top-[100%] w-max bg-white rounded-md overflow-y-auto p-2 mt-0 lg:duration-200 z-99 lg:shadow-xl hidden lg:block">
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="pricing-plan.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Pricing
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="about.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    About Us
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="app-intigration.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    App Integration
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="intigration-details.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Integration Details
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="policy-privacy.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Privacy Policy
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="faq.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    FAQ
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="project-details.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Project Details
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="service-details.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Service Details
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link pe-5 text-white lg:py-9 py-3 font-semibold w-full inline-block">Portfolio</a>
        <ul
            class="nav-submenu scroll-sm lg:absolute static start-0 top-[100%] w-max bg-white rounded-md overflow-y-auto p-2 mt-0 lg:duration-200 z-99 lg:shadow-xl hidden lg:block">
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="javascript:void(0)"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Portfolio
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link pe-5 text-white lg:py-9 py-3 font-semibold w-full inline-block">Shop</a>
        <ul
            class="nav-submenu scroll-sm lg:absolute static start-0 top-[100%] w-max bg-white rounded-md overflow-y-auto p-2 mt-0 lg:duration-200 z-99 lg:shadow-xl hidden lg:block">
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="shop.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Shop
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="shop-details.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Shop Details
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="cart.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Cart
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="checkout.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Checkout
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu relative">
        <a href="javascript:void(0)"
            class="nav-menu__link pe-5 text-white lg:py-9 py-3 font-semibold w-full inline-block">Blog</a>
        <ul
            class="nav-submenu scroll-sm lg:absolute static start-0 top-[100%] w-max bg-white rounded-md overflow-y-auto p-2 mt-0 lg:duration-200 z-99 lg:shadow-xl hidden lg:block">
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="blog.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Blog
                </a>
            </li>
            <li class="nav-submenu__item block rounded duration-200 relative">
                <a href="blog-details.html"
                    class="nav-submenu__link hover:bg-neutral-200 text-heading font-semibold w-full block py-2 px-3.5 rounded">
                    Blog Details
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item">
        <a href="contact.html"
            class="nav-menu__link text-white lg:py-9 py-3 font-semibold w-full">Contact</a>
    </li>
</ul>
<!-- Nav menu Three End  -->