<!-- =============================== Offer section start ============================== -->
<section class="offer py-[80px] sm:py-[100px] lg:py-[120px] overflow-hidden">
  <div class="container">
    <div class="mb-13">
      <span
        class="py-1 px-7.5 bg-main-50 text-main-600 text-sm font-bold capitalize rounded-[50rem] mb-2.5">What
        We Offering</span>
      <div class="flex flex-lg-nowrap flex-wrap justify-between items-center">
        <div class="max-w-672-px">
          <h3 class="splitTextStyleOne leading-[1.4]">
            Provides Full-Cycle Custom IT Development Cervices.
          </h3>
        </div>
        <p class="splitTextStyleOne text-neutral-500 max-w-500-px">
          In today's competitive business, the demand for efficient and
          cost-effective IT solutions has never been more critical.
        </p>
      </div>
    </div>

    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="row gy-4">
          <div class="col-lg-12 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-duration="600">
            <div
              class="group-item relative rounded-3xl overflow-hidden z-10 h-full pt-15 bg-pink-dark px-4 lg:px-6 xl:px-8 2xl:px-10 pb-84-px duration-300">
              <span class="text-base font-semibold mb-2 text-pink">Excellent Performance</span>
              <h4 class="splitTextStyleOne mb-5 max-w-[218px]">
                IT Management Service
              </h4>
              <a href="service-details.html"
                class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9">
                <i class="ph-bold ph-arrow-up-right"></i>
              </a>
              <img src="assets/images/thumbs/offer-img1.png" alt="Image"
                class="duration-300 absolute bottom-0 end-0 -z-[1]">
            </div>
          </div>
          <div class="col-lg-12 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-duration="600">
            <div
              class="group-item relative rounded-3xl overflow-hidden z-10 h-full pt-15 bg-pink-lighter px-4 lg:px-6 xl:px-8 2xl:px-10 pb-136-px duration-300">
              <span class="text-base font-semibold mb-2 text-pink">Excellent Performance</span>
              <h4 class="splitTextStyleOne font-light mb-5 max-w-330-px">
                <span class="inline-block font-semibold">WowCommerce System Development</span>
              </h4>
              <a href="service-details.html"
                class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-pink-light text-2xl text-white hover:-translate-y-1 active--translate-y-scale-9">
                <i class="ph-bold ph-arrow-up-right"></i>
              </a>
              <img src="assets/images/thumbs/offer-img2.png" alt="Image"
                class="duration-300 absolute bottom-0 end-0 -z-[1]">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
        <div
          class="group-item relative rounded-3xl overflow-hidden z-10 pt-15 bg-main-50 px-4 lg:px-6 xl:px-8 2xl:px-10 pb-84-px duration-300 h-full">
          <span class="text-main-600 font-semibold mb-2">Excellent Performance</span>
          <h4 class="splitTextStyleOne mb-5 max-w-[218px]">
            Website Design & Development
          </h4>
          <a href="service-details.html"
            class="w-15 h-15 flex justify-center items-center rounded-[50%] text-white text-2xl bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9">
            <i class="ph-bold ph-arrow-up-right"></i>
          </a>
          <img src="assets/images/thumbs/offer-img3.png" alt="Image"
            class="duration-300 absolute bottom-0 end-0 -z-[1] mx-4 mb-12 d-md-block d-none">
        </div>
      </div>

      <div class="col-lg-4">
        <div class="row gy-4">
          <div class="col-lg-12 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-duration="600">
            <div
              class="group-item relative rounded-3xl overflow-hidden z-10 pt-15 h-full bg-purple-light px-4 lg:px-6 xl:px-8 2xl:px-10 pb-84-px duration-300">
              <span class="text-base font-semibold mb-2 text-purple">Excellent Performance</span>
              <h4 class="splitTextStyleOne mb-5 max-w-[218px]">
                CRM Software Solution
              </h4>
              <a href="service-details.html"
                class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9">
                <i class="ph-bold ph-arrow-up-right"></i>
              </a>
              <img src="assets/images/thumbs/offer-img4.png" alt="Image"
                class="duration-300 absolute bottom-0 end-0 -z-[1]">
            </div>
          </div>
          <div class="col-lg-12 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
            data-aos-duration="600">
            <div
              class="group-item relative rounded-3xl overflow-hidden z-10 pt-15 h-full bg-paste-light px-4 lg:px-6 xl:px-8 2xl:px-10 pb-136-px duration-300">
              <span class="text-base font-semibold mb-2 text-pink">Excellent Performance</span>
              <h4 class="splitTextStyleOne font-light mb-5 max-w-330-px">
                <span class="inline-block font-semibold">WowCommerce System Development</span>
              </h4>
              <a href="service-details.html"
                class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-paste text-2xl text-white hover:-translate-y-1 active--translate-y-scale-9">
                <i class="ph-bold ph-arrow-up-right"></i>
              </a>
              <img src="assets/images/thumbs/offer-img5.png" alt="Image"
                class="duration-300 absolute bottom-0 end-0 -z-[1]">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =============================== Offer section end ============================== -->