<!-- ============================ Offer Five section start ================================= -->
<section class="offer-five py-[120px]">
    <div class="container">
        <div class="row justify-center">
            <div class="col-xl-10">
                <div class="row gy-5 flex-wrap-reverse">
                    <div class="col-md-6">
                        <div class="pe-lg-5 flex h-full">
                            <img src="assets/images/thumbs/offer-five-thumb.png" alt="Thumbnail" class="w-full">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <div class="max-w-780-px text-start mx-auto">
                                <div class="bg-white py-2 px-7 rounded-[50rem] text-main-600 font-bold capitalize leading-none inline-flex items-center gap-2 mb-405 min-w-max common-shadow-twentyNine" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    what we offering
                                </div>
                                <h2 class="splitTextStyleOne text-heading capitalize leading-none">Why should you choose Sassly mobile app.</h2>
                                <p class="text-neutral-600 text-lg mt-605 splitTextStyleOne max-w-5 font-medium leading-145 max-w-570-px">Sassly-CRM in the past allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving pen</p>
                            </div>
                            <div class="mt-11 flex flex-col gap-7">
                                <div class="rounded-3xl border border-neutral-100 py-8 px-9 hover:bg-neutral-100 duration-300 flex align-items-start gap-605">
                                    <div class="">
                                        <img src="assets/images/icons/offer-five-icon1.png" alt="icon">
                                    </div>
                                    <div class="">
                                        <h6 class="mb-405 splitTextStyleOne">240K+ Download worldwide</h6>
                                        <p class="text-lg text-neutral-600 max-w-278-px leading-153 splitTextStyleOne">Analytics refers to the systematic collection interpretation.</p>
                                    </div>
                                </div>
                                <div class="rounded-3xl border border-neutral-100 py-8 px-9 hover:bg-neutral-100 duration-300 flex align-items-start gap-605">
                                    <div class="">
                                        <img src="assets/images/icons/offer-five-icon2.png" alt="icon">
                                    </div>
                                    <div class="">
                                        <h6 class="mb-405 splitTextStyleOne">Average 5 star rating</h6>
                                        <p class="text-lg text-neutral-600 max-w-278-px leading-153 splitTextStyleOne">Analytics refers to the systematic collection interpretation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Offer Five section End ================================= -->