<!-- ================================ Payment Method section start ======================== -->
<section class="payment-method py-[80px] sm:py-[100px] lg:py-[120px]">
    <div class="container">
        <div class="row gy-4 items-center">
            <div class="col-lg-6">
                <div class="">
                    <div class="">
                        <span class="capitalize font-caveat font-bold mb-3 h5 text-olive-green" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">With the world's
                            favorite
                            CRM</span>
                        <h2 class="text-heading capitalize splitTextStyleOne">Accept Every Major Payment Method
                        </h2>
                        <p class="text-neutral-600 text-lg mt-6 max-w-[570px]" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="300">Sassly-CRM in the past allowing you
                            to
                            focus
                            more on
                            your business
                            or
                            simply enjoy
                            your newfound legal time to reflect leaving pen-and-paper.</p>
                    </div>

                    <div class="mt-9 flex flex-col gap-4 ">
                        <div class="flex gap-4">
                            <div class="border border-neutral-200 rounded-lg max-w-[154px] max-h-[110px] flex items-center justify-center w-full h-full aspect-[1] hover:bg-neutral-100 duration-300 px-4 animation-item text-center"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                <img src="assets/images/thumbs/payment-method-img1.png" alt="Payment Method Image"
                                    class="animate__flipInY">
                            </div>
                            <div class="border border-neutral-200 rounded-lg max-w-[154px] max-h-[110px] flex items-center justify-center w-full h-full aspect-[1] hover:bg-neutral-100 duration-300 px-4 animation-item text-center"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                                <img src="assets/images/thumbs/payment-method-img2.png" alt="Payment Method Image"
                                    class="animate__flipInY">
                            </div>
                            <div class="border border-neutral-200 rounded-lg max-w-[154px] max-h-[110px] flex items-center justify-center w-full h-full aspect-[1] hover:bg-neutral-100 duration-300 px-4 animation-item text-center"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                <img src="assets/images/thumbs/payment-method-img3.png" alt="Payment Method Image"
                                    class="animate__flipInY">
                            </div>
                        </div>
                        <div class="flex gap-4 ps-13">
                            <div class="border border-neutral-200 rounded-lg max-w-[154px] max-h-[110px] flex items-center justify-center w-full h-full aspect-[1] hover:bg-neutral-100 duration-300 px-4 animation-item text-center"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                <img src="assets/images/thumbs/payment-method-img4.png" alt="Payment Method Image"
                                    class="animate__flipInY">
                            </div>
                            <div class="border border-neutral-200 rounded-lg max-w-[154px] max-h-[110px] flex items-center justify-center w-full h-full aspect-[1] hover:bg-neutral-100 duration-300 px-4 animation-item text-center"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                                <img src="assets/images/thumbs/payment-method-img5.png" alt="Payment Method Image"
                                    class="animate__flipInY">
                            </div>
                            <div class="border border-neutral-200 rounded-lg max-w-[154px] max-h-[110px] flex items-center justify-center w-full h-full aspect-[1] hover:bg-neutral-100 duration-300 px-4 animation-item text-center"
                                data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                <img src="assets/images/thumbs/payment-method-img6.png" alt="Payment Method Image"
                                    class="animate__flipInY">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="lg:ps-12">
                    <img src="assets/images/thumbs/payment-method-img.png" alt="Image"
                        class="rounded-3xl h-full w-full object-cover">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ Payment Method section end ======================== -->