<!-- ============================ Plan Execute Section Start ============================== -->
<section class="plan-execute py-[80px] sm:py-[100px] lg:py-[120px]">
    <div class="container max-w-1570-px">

        <div class="max-w-602-px text-center mx-auto mb-13">
            <div class="bg-white py-3 px-3.5 rounded-[50rem] font-medium capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max border border-spring-green" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="text-gradient-teal">
                    Up to <span class="text-yellow-600 text-stroke-yellow">70%</span> off managed cloud hosting
                </div>
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize capitalize">
                Plan, execute and 
                <span class="font-dm-serif fst-italic font-normal text-gradient-teal">track projects</span> 
                of any size
            </h2>
        </div>
        
        <div class="plan-execute-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="plan-execute-item">
                        <div class="rounded-2xl overflow-hidden">
                            <img src="assets/images/thumbs/plan-execute-img1.png" alt="thumbnail" class="w-full h-full object-cover">
                        </div>
                        <div class="mt-8 text-center">
                            <h6 class="mb-2.5">Custom templates</h6>
                            <p class="text-neutral-600 max-w-278-px mx-auto">Web hosting provides everything you idea online. From where your</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                    <div class="plan-execute-item">
                        <div class="rounded-2xl overflow-hidden">
                            <img src="assets/images/thumbs/plan-execute-img3.png" alt="thumbnail" class="w-full h-full object-cover">
                        </div>
                        <div class="mt-8 text-center">
                            <h6 class="mb-2.5">Collaboration tools</h6>
                            <p class="text-neutral-600 max-w-278-px mx-auto">Web hosting provides everything you idea online. From where your</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                    <div class="plan-execute-item">
                        <div class="rounded-2xl overflow-hidden">
                            <img src="assets/images/thumbs/plan-execute-img2.png" alt="thumbnail" class="w-full h-full object-cover">
                        </div>
                        <div class="mt-8 text-center">
                            <h6 class="mb-2.5">Operations teams</h6>
                            <p class="text-neutral-600 max-w-278-px mx-auto">Web hosting provides everything you idea online. From where your</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900">
                    <div class="plan-execute-item">
                        <div class="rounded-2xl overflow-hidden">
                            <img src="assets/images/thumbs/plan-execute-img4.png" alt="thumbnail" class="w-full h-full object-cover">
                        </div>
                        <div class="mt-8 text-center">
                            <h6 class="mb-2.5">Project Management</h6>
                            <p class="text-neutral-600 max-w-278-px mx-auto">Web hosting provides everything you idea online. From where your</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700">
                    <div class="plan-execute-item">
                        <div class="rounded-2xl overflow-hidden">
                            <img src="assets/images/thumbs/plan-execute-img3.png" alt="thumbnail" class="w-full h-full object-cover">
                        </div>
                        <div class="mt-8 text-center">
                            <h6 class="mb-2.5">Collaboration tools</h6>
                            <p class="text-neutral-600 max-w-278-px mx-auto">Web hosting provides everything you idea online. From where your</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plan-execute-pagination pagination-style-three pb-1 flex items-center justify-center mt-15"></div>
        </div>
    </div>
</section>
<!-- ============================ Plan Execute Section End ============================== -->