<!-- =========================== Powerful Feature section start =============================== -->
<section class="powerful-feature py-120">
    <div class="container max-w-1290-px">
        <div class="relative distraction__inner">
            <div
                class="max-w-602-px w-full text-center mx-auto absolute z-1 tw-start-50 translate-middle-x top-0 mt-5 pt-lg-5 pt-4">
                <div class="max-w-780-px mx-auto text-center tw-mb-10">
                    <span class="text-capitalize font-caveat fw-bold tw-mb-3 h5 text-olive-green" data-aos="fade-up"
                        data-aos-duration="800" data-aos-delay="100">with the world's favorite CRM</span>
                    <h2 class="text-heading text-capitalize splitTextStyleOne">Powerful Features for Modern Businesses
                    </h2>
                </div>
            </div>

            <div class="">
                <img src="assets/images/shapes/net-shape.png" alt="Net Shape" data-aos="zoom-in"
                    data-aos-duration="1500">
            </div>
            <div class="">
                <div class="distraction-icon one absolute z-1 animation-scalation">
                    <img src="assets/images/thumbs/powerful-feature-icon1.png" alt="Icon Image">
                </div>
                <div class="distraction-icon two absolute z-1 animation-upDown">
                    <img src="assets/images/thumbs/powerful-feature-icon2.png" alt="Icon Image">
                </div>
                <div class="distraction-icon three absolute z-1 animation-upDown animation-delay-1">
                    <img src="assets/images/thumbs/powerful-feature-icon3.png" alt="Icon Image">
                </div>
                <div class="distraction-icon four absolute z-1 animation-upDown animation-delay-2">
                    <img src="assets/images/thumbs/powerful-feature-icon4.png" alt="Icon Image">
                </div>
                <div class="distraction-icon five absolute z-1 animation-scalation animation-delay-1">
                    <img src="assets/images/thumbs/powerful-feature-icon5.png" alt="Icon Image">
                </div>
                <div class="distraction-icon six absolute z-1 animation-scalation animation-delay-2">
                    <img src="assets/images/thumbs/powerful-feature-icon6.png" alt="Icon Image">
                </div>
                <div class="distraction-icon seven absolute z-1">
                    <img src="assets/images/thumbs/powerful-feature-icon7.png" alt="Icon Image" class="">
                </div>
            </div>
        </div>
    </div>
</section>



<!-- =========================== Powerful Feature section end =============================== -->