<!-- ========================== Pricing plan six section start ============================ -->
<section class="pricing-plan-six pt-[80px] sm:pt-[100px] lg:pt-[120px] pb-17">
    <div class="container">
        <div class="max-w-[780px] mx-auto text-center mb-10">
            <span class="capitalize font-caveat font-bold mb-3 h5 text-olive-green" data-aos="fade-up"
                data-aos-duration="800" data-aos-delay="100">with the world's favorite CRM</span>
            <h2 class="text-heading capitalize splitTextStyleOne">Choose the Perfect Plan for
                Your Payment Needs</h2>
            <p class="text-neutral-600 text-lg mt-6" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="300">Sassly-CRM in the past allowing you to focus more on your business
                simply enjoy your newfound legal time to reflect leaving pen</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div
                    class="pricing-plan-six-item rounded-xl bg-white border border-neutral-200 px-44-px py-66-px hover:common-shadow-thirty duration-300 h-full">
                    <div class="mb-6 pb-6 border-bottom border-neutral-200">
                        <h5 class="font-bold" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Personal
                            Plan</h5>
                        <p class="text-neutral-500 mt-1" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="200">Customized anything in anytime</p>
                    </div>
                    <div class="">
                        <h2 class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">$1.99 <span
                                class="h6 font-semibold">/Yearly</span> </h2>
                        <div class="mt-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <a href="register.html"
                                class="hover:-translate-y-1 active--translate-y-scale-9 btn button--stroke flex items-center justify-center gap-5 group active--translate-y-2 px-9 py-5.5 font-semibold rounded-[50rem] btn-main hover:style-one common-shadow-inset-one text-heading hover:text-white "
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Start Free Trial</span>
                            </a>
                            <p class="font-heading text-heading  font-bold text-base text-center mt-2">Renews at
                                $9.88/month
                            </p>
                            <div class="mt-10 flex flex-col gap-6">
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Real-time tracking and notifications
                                    </p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Real-time analytics</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Drag and drop templates</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Project Management</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">24/7 email and chat support</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="pricing-plan-six-item rounded-xl bg-white border border-neutral-200 px-44-px py-66-px hover:common-shadow-thirty duration-300 h-full">
                    <div class="mb-6 pb-6 border-bottom border-neutral-200">
                        <h5 class="font-bold" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Personal
                            Plan</h5>
                        <p class="text-neutral-500 mt-1" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="200">Customized anything in anytime</p>
                    </div>
                    <div class="">
                        <h2 class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">$1.99 <span
                                class="h6 font-semibold">/Yearly</span> </h2>
                        <div class="mt-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <a href="register.html"
                                class="hover:-translate-y-1 active--translate-y-scale-9 btn button--stroke flex items-center justify-center gap-5 group active--translate-y-2 px-9 py-5.5 font-semibold rounded-[50rem] btn-main hover:style-one common-shadow-inset-one text-heading hover:text-white "
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Start Free Trial</span>
                            </a>
                            <p class="font-heading text-heading  font-bold text-base text-center mt-2">Renews at
                                $9.88/month
                            </p>
                            <div class="mt-10 flex flex-col gap-6">
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Real-time tracking and notifications
                                    </p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Real-time analytics</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Drag and drop templates</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Project Management</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">24/7 email and chat support</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="pricing-plan-six-item rounded-xl bg-white border border-neutral-200 px-44-px py-66-px hover:common-shadow-thirty duration-300 h-full">
                    <div class="mb-6 pb-6 border-bottom border-neutral-200">
                        <h5 class="font-bold" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Personal
                            Plan</h5>
                        <p class="text-neutral-500 mt-1" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="200">Customized anything in anytime</p>
                    </div>
                    <div class="">
                        <h2 class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">$1.99 <span
                                class="h6 font-semibold">/Yearly</span> </h2>
                        <div class="mt-8" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                            <a href="register.html"
                                class="hover:-translate-y-1 active--translate-y-scale-9 btn button--stroke flex items-center justify-center gap-5 group active--translate-y-2 px-9 py-5.5 font-semibold rounded-[50rem] btn-main hover:style-one common-shadow-inset-one text-heading hover:text-white "
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Start Free Trial</span>
                            </a>
                            <p class="font-heading text-heading  font-bold text-base text-center mt-2">Renews at
                                $9.88/month
                            </p>
                            <div class="mt-10 flex flex-col gap-6">
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Real-time tracking and notifications
                                    </p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Real-time analytics</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Drag and drop templates</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">Project Management</p>
                                </div>
                                <div class="flex items-center gap-5 animation-item aos-init aos-animate"
                                    data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <span
                                        class="w-8 h-8 rounded-[50%] bg-neutral-100 flex justify-center items-center text-heading text-base">
                                        <i class="ph-bold ph-check animate__heartBeat"></i>
                                    </span>
                                    <p class="font-semibold text-heading text-lg">24/7 email and chat support</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Pricing plan six section end ============================ -->