<!-- =============================== Pricing plan section start ============================ -->
<section class="pricing-plan py-[80px] sm:py-[100px] lg:py-[120px]">
    <div class="container">
        <div class="max-w-[672px] text-center mx-auto mb-12">
            <div class="bg-neutral-100 py-3 px-3.5 rounded-[50rem] text-heading font-medium capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <span class="w-205 h-205 bg-yellow-600 rounded-[50%]"></span>
                Up to <span class="text-yellow-600">70%</span> off managed cloud hosting
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize">Pick your perfect 
                <span class="font-dm-serif fst-italic font-normal">plan</span>
            </h2>
            <p class="text-neutral-500 mt-5 splitTextStyleOne max-w-[570px] mx-auto">In today's competitive business, the demand for efficient In today's competitive cost-effective IT solutions has never been more critic. business</p>

            <div class="text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                <ul class="animate-background-wrapper z-10 relative nav nav-pills active:text-white inline-flex bg-white common-shadow-four p-1 rounded-[50rem] mb-0 mt-7" id="pills-tabTwo" role="tablist">

                    <li class="background style-two"></li>
                    
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link w-full active:scale-094 rounded-[50rem] px-7.5 py-2.5 bg-transparent font-semibold text-neutral-600 hover:text-main-600 h-full line-clamp-1 active" id="pills-Monthly-tab" data-bs-toggle="pill" data-bs-target="#pills-Monthly" type="button" role="tab" aria-controls="pills-Monthly" aria-selected="true">Monthly</button>
                    </li>
                    <li class="nav-item flex-grow-1" role="presentation">
                        <button class="nav-link w-full active:scale-094 rounded-[50rem] px-7.5 py-2.5 bg-transparent font-semibold text-neutral-600 hover:text-main-600 h-full line-clamp-1" id="pills-Annually-tab" data-bs-toggle="pill" data-bs-target="#pills-Annually" type="button" role="tab" aria-controls="pills-Annually" aria-selected="false"> 
                            Annually
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="tab-content" id="pills-tabTwoContent">
            <div class="tab-pane fade show active" id="pills-Monthly" role="tabpanel" aria-labelledby="pills-Monthly-tab" tabindex="0">
                <div class="row gy-4">
                    <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <div class="pricing-item relative border border-neutral-300 p-7 rounded-2xl bg-white bg-white duration-300 hover:border-main-600">
                            <img src="assets/images/shapes/arrow-curve-main.png" alt="Arrow" class="absolute end-0 top-0 mt-15 me-16 pe-7.5 opacity-05">
                            
                            <div class="">
                                <div class="ps-2.5 pt-205">
                                    <span class="font-bold text-heading mb-1.5">
                                        <span class="text-main-600">85%</span> OFF
                                    </span>
                                    <h5 class="mb-8">Basic plan</h5>
                                    <div class="flex items-center justify-between gap-1 mb-5">
                                        <h2 class="mb-0">$<span class="current-price">1.99</span><span class="text-xl pricing-duration">/Monthly</span> </h2>
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input pricing-item-toggle" type="checkbox" role="switch">
                                        </div>
                                    </div>
                                    <span class="d-block font-bold text-main-600 mb-8">+2 months free</span>
                                </div>
        
                                <a href="pricing-plan.html" class="text-heading font-bold text-base w-full px-6 py-4 rounded-md border border-main-600 hover:text-white hover:bg-main-600 text-center hover:-translate-y-1 active:-translate-y-scale-9">
                                    See Plan & Pricing
                                </a>
                                <div class="ps-2.5 pt-205">
                                    <span class="text-heading mt-3">Renews at <span class="text-main-600">$9.88</span> /month</span>
                                    <span class="d-block h-px bg-neutral-100 my-6"></span>
            
                                    <ul class="feature-list flex flex-col gap-6">
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon4.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unmetered bandwidth </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon5.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free SSL certificate </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon6.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free domain included </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon7.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unlimited free SSL </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-12 flex justify-center">
                                <button type="button" class="see-all-btn flex items-center justify-center gap-3.5 text-main-600 font-bold hover:underline d-lg-flex items-center gap-3.5">
                                    See all features
                                    <i class="ph-bold ph-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700" >
                        <div class="pricing-item relative border border-neutral-300 p-7 rounded-2xl bg-white bg-white duration-300 hover:border-main-600">
                            <img src="assets/images/shapes/arrow-curve-main.png" alt="Arrow" class="absolute end-0 top-0 mt-15 me-16 pe-7.5">
                            
                            <div class="">
                                <div class="ps-2.5 pt-205">
                                    <span class="font-bold text-heading mb-1.5">
                                        <span class="text-main-600">85%</span> OFF
                                    </span>
                                    <h5 class="mb-8">Premium plan</h5>
                                    <div class="flex items-center justify-between gap-1 mb-5">
                                        <h2 class="mb-0">$<span class="current-price">10.99</span><span class="text-xl pricing-duration">/Monthly</span> </h2>
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input pricing-item-toggle" type="checkbox" role="switch">
                                        </div>
                                    </div>
                                    <span class="d-block font-bold text-main-600 mb-8">+2 months free</span>
                                </div>
        
                                <a href="pricing-plan.html" class="text-heading font-bold text-base w-full px-6 py-4 rounded-md border border-main-600 hover:text-white hover:bg-main-600 text-center hover:-translate-y-1 active:-translate-y-scale-9">
                                    See Plan & Pricing
                                </a>
                                <div class="ps-2.5 pt-205">
                                    <span class="text-heading mt-3">Renews at <span class="text-main-600">$9.88</span> /month</span>
                                    <span class="d-block h-px bg-neutral-100 my-6"></span>
            
                                    <ul class="feature-list flex flex-col gap-6">
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon4.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unmetered bandwidth </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon5.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free SSL certificate </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon6.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free domain included </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon7.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unlimited free SSL </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-12 flex justify-center">
                                <button type="button" class="see-all-btn flex items-center justify-center gap-3.5 text-main-600 font-bold hover:underline d-lg-flex items-center gap-3.5">
                                    See all features
                                    <i class="ph-bold ph-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                        <div class="pricing-item relative border border-neutral-300 p-7 rounded-2xl bg-white bg-white duration-300 hover:border-main-600">
                            <img src="assets/images/shapes/arrow-curve-main.png" alt="Arrow" class="absolute end-0 top-0 mt-15 me-16 pe-7.5 opacity-05">
                            
                            <div class="">
                                <div class="ps-2.5 pt-205">
                                    <span class="font-bold text-heading mb-1.5">
                                        <span class="text-main-600">85%</span> OFF
                                    </span>
                                    <h5 class="mb-8">Pro plan</h5>
                                    <div class="flex items-center justify-between gap-1 mb-5">
                                        <h2 class="mb-0">$<span class="current-price">20.99</span><span class="text-xl pricing-duration">/Monthly</span> </h2>
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input pricing-item-toggle" type="checkbox" role="switch">
                                        </div>
                                    </div>
                                    <span class="d-block font-bold text-main-600 mb-8">+2 months free</span>
                                </div>
        
                                <a href="pricing-plan.html" class="text-heading font-bold text-base w-full px-6 py-4 rounded-md border border-main-600 hover:text-white hover:bg-main-600 text-center hover:-translate-y-1 active:-translate-y-scale-9">
                                    See Plan & Pricing
                                </a>
                                <div class="ps-2.5 pt-205">
                                    <span class="text-heading mt-3">Renews at <span class="text-main-600">$9.88</span> /month</span>
                                    <span class="d-block h-px bg-neutral-100 my-6"></span>
            
                                    <ul class="feature-list flex flex-col gap-6">
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon4.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unmetered bandwidth </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon5.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free SSL certificate </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon6.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free domain included </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon7.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unlimited free SSL </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-12 flex justify-center">
                                <button type="button" class="see-all-btn flex items-center justify-center gap-3.5 text-main-600 font-bold hover:underline d-lg-flex items-center gap-3.5">
                                    See all features
                                    <i class="ph-bold ph-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Annually" role="tabpanel" aria-labelledby="pills-Annually-tab" tabindex="0"> 
                <div class="row gy-4">
                    <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <div class="pricing-item relative border border-neutral-300 p-7 rounded-2xl bg-white bg-white duration-300 hover:border-main-600">
                            <img src="assets/images/shapes/arrow-curve-main.png" alt="Arrow" class="absolute end-0 top-0 mt-15 me-16 pe-7.5 opacity-05">
                            
                            <div class="">
                                <div class="ps-2.5 pt-205">
                                    <span class="font-bold text-heading mb-1.5">
                                        <span class="text-main-600">85%</span> OFF
                                    </span>
                                    <h5 class="mb-8">Basic plan</h5>
                                    <div class="flex items-center justify-between gap-1 mb-5">
                                        <h2 class="mb-0">$<span class="current-price">19.90</span><span class="text-xl pricing-duration">/Yearly</span> </h2>
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input pricing-item-toggle" type="checkbox" role="switch">
                                        </div>
                                    </div>
                                    <span class="d-block font-bold text-main-600 mb-8">+2 months free</span>
                                </div>
        
                                <a href="pricing-plan.html" class="text-heading font-bold text-base w-full px-6 py-4 rounded-md border border-main-600 hover:text-white hover:bg-main-600 text-center hover:-translate-y-1 active:-translate-y-scale-9">
                                    See Plan & Pricing
                                </a>
                                <div class="ps-2.5 pt-205">
                                    <span class="text-heading mt-3">Renews at <span class="text-main-600">$9.88</span> /month</span>
                                    <span class="d-block h-px bg-neutral-100 my-6"></span>
            
                                    <ul class="feature-list flex flex-col gap-6">
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon4.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unmetered bandwidth </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon5.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free SSL certificate </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon6.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free domain included </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon7.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unlimited free SSL </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-12 flex justify-center">
                                <button type="button" class="see-all-btn flex items-center justify-center gap-3.5 text-main-600 font-bold hover:underline d-lg-flex items-center gap-3.5">
                                    See all features
                                    <i class="ph-bold ph-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700" >
                        <div class="pricing-item relative border border-neutral-300 p-7 rounded-2xl bg-white bg-white duration-300 hover:border-main-600">
                            <img src="assets/images/shapes/arrow-curve-main.png" alt="Arrow" class="absolute end-0 top-0 mt-15 me-16 pe-7.5">
                            
                            <div class="">
                                <div class="ps-2.5 pt-205">
                                    <span class="font-bold text-heading mb-1.5">
                                        <span class="text-main-600">85%</span> OFF
                                    </span>
                                    <h5 class="mb-8">Premium plan</h5>
                                    <div class="flex items-center justify-between gap-1 mb-5">
                                        <h2 class="mb-0">$<span class="current-price">109.90</span><span class="text-xl pricing-duration">/Yearly</span> </h2>
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input pricing-item-toggle" type="checkbox" role="switch">
                                        </div>
                                    </div>
                                    <span class="d-block font-bold text-main-600 mb-8">+2 months free</span>
                                </div>
        
                                <a href="pricing-plan.html" class="text-heading font-bold text-base w-full px-6 py-4 rounded-md border border-main-600 hover:text-white hover:bg-main-600 text-center hover:-translate-y-1 active:-translate-y-scale-9">
                                    See Plan & Pricing
                                </a>
                                <div class="ps-2.5 pt-205">
                                    <span class="text-heading mt-3">Renews at <span class="text-main-600">$9.88</span> /month</span>
                                    <span class="d-block h-px bg-neutral-100 my-6"></span>
            
                                    <ul class="feature-list flex flex-col gap-6">
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon4.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unmetered bandwidth </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon5.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free SSL certificate </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon6.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free domain included </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon7.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unlimited free SSL </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-12 flex justify-center">
                                <button type="button" class="see-all-btn flex items-center justify-center gap-3.5 text-main-600 font-bold hover:underline d-lg-flex items-center gap-3.5">
                                    See all features
                                    <i class="ph-bold ph-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                        <div class="pricing-item relative border border-neutral-300 p-7 rounded-2xl bg-white bg-white duration-300 hover:border-main-600">
                            <img src="assets/images/shapes/arrow-curve-main.png" alt="Arrow" class="absolute end-0 top-0 mt-15 me-16 pe-7.5 opacity-05">
                            
                            <div class="">
                                <div class="ps-2.5 pt-205">
                                    <span class="font-bold text-heading mb-1.5">
                                        <span class="text-main-600">85%</span> OFF
                                    </span>
                                    <h5 class="mb-8">Pro plan</h5>
                                    <div class="flex items-center justify-between gap-1 mb-5">
                                        <h2 class="mb-0">$<span class="current-price">209.90</span><span class="text-xl pricing-duration">/Yearly</span> </h2>
                                        <div class="form-check form-switch mb-0">
                                            <input class="form-check-input pricing-item-toggle" type="checkbox" role="switch">
                                        </div>
                                    </div>
                                    <span class="d-block font-bold text-main-600 mb-8">+2 months free</span>
                                </div>
        
                                <a href="pricing-plan.html" class="text-heading font-bold text-base w-full px-6 py-4 rounded-md border border-main-600 hover:text-white hover:bg-main-600 text-center hover:-translate-y-1 active:-translate-y-scale-9">
                                    See Plan & Pricing
                                </a>
                                <div class="ps-2.5 pt-205">
                                    <span class="text-heading mt-3">Renews at <span class="text-main-600">$9.88</span> /month</span>
                                    <span class="d-block h-px bg-neutral-100 my-6"></span>
            
                                    <ul class="feature-list flex flex-col gap-6">
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon4.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unmetered bandwidth </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon5.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free SSL certificate </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon6.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free domain included </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon7.svg" alt="">
                                            </span>
                                            <span class="text-heading">Unlimited free SSL </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon1.svg" alt="">
                                            </span>
                                            <span class="text-heading">Single website </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon2.svg" alt="">
                                            </span>
                                            <span class="text-heading">One-click WordPress installs </span>
                                        </li>
                                        <li class="flex items-center gap-3.5 font-medium">
                                            <span class="">
                                                <img src="assets/images/icons/pricing-icon3.svg" alt="">
                                            </span>
                                            <span class="text-heading">Free WordPress website transfer </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-12 flex justify-center">
                                <button type="button" class="see-all-btn flex items-center justify-center gap-3.5 text-main-600 font-bold hover:underline d-lg-flex items-center gap-3.5">
                                    See all features
                                    <i class="ph-bold ph-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Pricing plan section End ============================ -->