<!-- ====================================== Pricing Plan three start ==================================== -->
<section class="pricing-plan-three py-[80px] sm:py-[100px] lg:py-[120px]">
    <div class="container">
        <div class="max-w-[602px] text-center mx-auto mb-13">
            <div class="bg-white py-3 px-3.5 rounded-[50rem]! font-medium capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max border border-spring-green" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="text-gradient-teal">
                    Up to <span class="text-yellow-600 text-stroke-yellow">70%</span> off managed cloud hosting
                </div>
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize capitalize">
                flexible pricing
                <span class="font-dm-serif fst-italic font-normal text-gradient-teal">plan</span> 
                that include business
            </h2>
        </div>
        
        <div class="grid grid-cols-1 sm:grid-cols-12 gap-6">
            <div class="col-span-12 sm:col-span-6 xl:col-span-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="relative bg-neutral-100 px-7 py-16 bg-white hover:border-main-600">
                    <div class="">
                        <div class="ps-2.5">
                            <h5 class="mb-1">Basic plan</h5>
                            <p class="text-neutral-500">Customized anything in anytime</p>
                            <span class="block h-px bg-neutral-200 my-6"></span>
                            <div class="flex items-center justify-between gap-1 mb-10">
                                <h2 class="mb-0">$1.99<span class="text-xl font-medium">/Yearly</span> </h2>
                            </div>
                        </div>
                        <a href="login.html" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke flex items-center justify-center gap-5 group active:-translate-y-2 px-13 rounded-md py-6 font-bold" data-block="button">
                            <span class="button__flair"></span>
                            <div class="flex items-center gap-2 z-10">
                                <span class="button__label">Start Free Trial</span>
                            </div>
                        </a>
                        <span class="text-heading mt-3 text-center block font-medium">Renews at $9.88/month</span>

                        <div class="ps-2.5">
                            <div class="flex flex-col gap-5 mt-10">
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Real-time tracking and notifications</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="620" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Real-time analytics</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="640" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Drag and drop templates</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="660" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Project Management</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="680" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">24/7 email and chat support</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                <div class="relative bg-neutral-100 px-7 py-16 bg-white hover:border-main-600">
                    <div class="">
                        <div class="ps-2.5">
                            <h5 class="mb-1">Premium plan</h5>
                            <p class="text-neutral-500">Customized anything in anytime</p>
                            <span class="block h-px bg-neutral-200 my-6"></span>
                            <div class="flex items-center justify-between gap-1 mb-10">
                                <h2 class="mb-0">$9.99<span class="text-xl font-medium">/Yearly</span> </h2>
                            </div>
                        </div>
                        <a href="login.html" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke flex items-center justify-center gap-5 group active:-translate-y-2 px-13 rounded-md py-6 font-bold" data-block="button">
                            <span class="button__flair"></span>
                            <div class="flex items-center gap-2 z-10">
                                <span class="button__label">Start Free Trial</span>
                            </div>
                        </a>
                        <span class="text-heading mt-3 text-center block font-medium">Renews at $9.88/month</span>

                        <div class="ps-2.5">
                            <div class="flex flex-col gap-5 mt-10">
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Real-time tracking and notifications</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="620" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Real-time analytics</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="640" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Drag and drop templates</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="660" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Project Management</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="680" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">24/7 email and chat support</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900" >
                <div class="relative bg-neutral-100 px-7 py-16 bg-white hover:border-main-600">
                    <div class="">
                        <div class="ps-2.5">
                            <h5 class="mb-1">Pro plan</h5>
                            <p class="text-neutral-500">Customized anything in anytime</p>
                            <span class="block h-px bg-neutral-200 my-6"></span>
                            <div class="flex items-center justify-between gap-1 mb-10">
                                <h2 class="mb-0">$19.99<span class="text-xl font-medium">/Yearly</span> </h2>
                            </div>
                        </div>
                        <a href="login.html" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke flex items-center justify-center gap-5 group active:-translate-y-2 px-13 rounded-md py-6 font-bold" data-block="button">
                            <span class="button__flair"></span>
                            <div class="flex items-center gap-2 z-10">
                                <span class="button__label">Start Free Trial</span>
                            </div>
                        </a>
                        <span class="text-heading mt-3 text-center block font-medium">Renews at $9.88/month</span>

                        <div class="ps-2.5">
                            <div class="flex flex-col gap-5 mt-10">
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Real-time tracking and notifications</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="620" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Real-time analytics</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="640" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Drag and drop templates</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="660" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">Project Management</span>
                                </div>
                                <div class="flex items-center gap-3.5" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="680" >
                                    <span class="w-7 h-7 bg-main-50 rounded-[50%] flex justify-center items-center text-sm">
                                        <i class="text-gradient-teal ph-bold ph-check"></i>
                                    </span>
                                    <span class="text-heading font-semibold text-base">24/7 email and chat support</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================================== Pricing Plan three End ==================================== -->