<!-- ========================= Pricing plan five section start ============================= -->
<section class="pricing-five py-[80px] sm:py-[100px] lg:py-[120px] bg-white">
    <div class="container">
        <div class="max-w-[570px] text-start mb-10">
            <div class="bg-white py-2 px-7 rounded-[50rem] text-main-600 font-bold capitalize leading-none inline-flex items-center gap-2 mb-4.5 min-w-max common-shadow-twentyNine" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                Pricing Plan
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize leading-none">Affordable pricing plan for your business</h2>
        </div>
        

        <div class="swiper pricing-five-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="border border-neutral-200 rounded-xl relative p-44-px animation-item group-item group hover:border-main-600 duration-200 flex items-center gap-48-px">
                        <h3 class="absolute top-0 end-0 mt-10 me-10">$129.<span class="text-xl">99</span></h3>
                        <span class="w-16 h-16 bg-main-50 rounded-md flex justify-center items-center group-hover:bg-main-600 duration-200 flex-shrink-0">
                            <img src="assets/images/icons/pricing-five-icon1.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                        </span>
                        <div class="flex-grow-1">  
                            <span class="text-heading font-medium py-0.5 px-6 border border-neutral-600 rounded-[50rem] text-sm">20% off</span>
                            <h4 class="mt-4"> Weekly package </h4>
                            <p class="text-neutral-600 text-lg mt-3 font-medium max-w-[432px]">Subscription fee is $129.99 USD and automatically renews each year.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="border border-neutral-200 rounded-xl relative p-44-px animation-item group-item group hover:border-main-600 duration-200 flex items-center gap-48-px">
                        <h3 class="absolute top-0 end-0 mt-10 me-10">$329.<span class="text-xl">99</span></h3>
                        <span class="w-16 h-16 bg-main-50 rounded-md flex justify-center items-center group-hover:bg-main-600 duration-200 flex-shrink-0">
                            <img src="assets/images/icons/pricing-five-icon1.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                        </span>
                        <div class="flex-grow-1">  
                            <span class="text-heading font-medium py-0.5 px-6 border border-neutral-600 rounded-[50rem] text-sm">20% off</span>
                            <h4 class="mt-4">Monthly package</h4>
                            <p class="text-neutral-600 text-lg mt-3 font-medium max-w-[432px]">Subscription fee is $129.99 USD and automatically renews each year.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="border border-neutral-200 rounded-xl relative p-44-px animation-item group-item group hover:border-main-600 duration-200 flex items-center gap-48-px">
                        <h3 class="absolute top-0 end-0 mt-10 me-10">$629.<span class="text-xl">99</span></h3>
                        <span class="w-16 h-16 bg-main-50 rounded-md flex justify-center items-center group-hover:bg-main-600 duration-200 flex-shrink-0">
                            <img src="assets/images/icons/pricing-five-icon1.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                        </span>
                        <div class="flex-grow-1">  
                            <span class="text-heading font-medium py-0.5 px-6 border border-neutral-600 rounded-[50rem] text-sm">20% off</span>
                            <h4 class="mt-4">Yearly package</h4>
                            <p class="text-neutral-600 text-lg mt-3 font-medium max-w-[432px]">Subscription fee is $129.99 USD and automatically renews each year.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing-five-slider-pagination pagination-style-four pagination-style-five flex items-center justify-center gap-4 mt-15 pb-3"></div>
        </div>

        
        <!-- <div class="row gy-4">
            <div class="col-lg-6">
                <div class="border border-neutral-200 rounded-xl relative p-44-px animation-item group-item group hover:border-main-600 duration-200 flex items-center gap-48-px">
                    <h3 class="absolute top-0 end-0 mt-10 me-10">$129.<span class="text-xl">99</span></h3>
                    <span class="w-16 h-16 bg-main-50 rounded-md flex justify-center items-center group-hover:bg-main-600 duration-200 flex-shrink-0">
                        <img src="assets/images/icons/pricing-five-icon1.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                    </span>
                    <div class="flex-grow-1">  
                        <span class="text-heading font-medium py-0.5 px-6 border border-neutral-600 rounded-[50rem] text-sm">20% off</span>
                        <h4 class="mt-4"> Weekly package </h4>
                        <p class="text-neutral-600 text-lg mt-3 font-medium max-w-[432px]">Subscription fee is $129.99 USD and automatically renews each year.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border border-neutral-200 rounded-xl relative p-44-px animation-item group-item group hover:border-main-600 duration-200 flex items-center gap-48-px">
                    <h3 class="absolute top-0 end-0 mt-10 me-10">$329.<span class="text-xl">99</span></h3>
                    <span class="w-16 h-16 bg-main-50 rounded-md flex justify-center items-center group-hover:bg-main-600 duration-200 flex-shrink-0">
                        <img src="assets/images/icons/pricing-five-icon1.svg" alt="Icon" class="group-hover:item-text-invert transition duration-200 animate__heartBeat">
                    </span>
                    <div class="flex-grow-1">  
                        <span class="text-heading font-medium py-0.5 px-6 border border-neutral-600 rounded-[50rem] text-sm">20% off</span>
                        <h4 class="mt-4">Monthly package</h4>
                        <p class="text-neutral-600 text-lg mt-3 font-medium max-w-[432px]">Subscription fee is $129.99 USD and automatically renews each year.</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- ========================= Pricing plan five section End ============================= -->