<!-- =========================== Roadmap section start ========================== -->
<section class="py-[80px] sm:py-[100px] lg:py-[120px] section-bg-one">
    <div class="container max-w-1440-px">
        
        <!-- what we do Start -->
        <div class="bg-main-two-600 rounded-3xl overflow-hidden relative" id="roadmap-section">
            <div class="ps-74-px pe-6 ">
                <div class="flex flex-xl-nowrap flex-wrap gap-126-px">
                    <div class="max-w-432-px w-full flex-shrink-0">
                        <div class="pt-[80px] sm:pt-[100px] lg:pt-[120px] pb-9 relative">
                            <img src="assets/images/shapes/curve-arrow-white.png" alt="Arrow" class="absolute top-0 end-0 animate__wobble__two">
                            
                            <span class="py-1 px-7.5 bg-white-13 text-white text-sm font-semibold capitalize rounded-[50rem] mb-3">What we do</span>
                            <h3 class="splitTextStyleOne font-light leading-[1.4] text-white mb-6"> 
                                <span class="inline-block font-semibold">Working Roadmap</span> 
                            </h3>
                            <p class="splitTextStyleOne text-neutral-400 max-w-432-px">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                            <div class="mt-11 flex items-center gap-42-px flex-wrap">
                                <a href="register.html" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main hover:style-three button--stroke d-sm-inline-flex d-none items-center justify-center gap-5 group active--translate-y-2 px-56-px py-5 font-semibold rounded-[50rem]" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800"  data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Get Started</span>
                                </a>
                                <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                                    <div class="flex items-center gap-4">
                                        <div class="flex items-center">
                                            <div class="w-9 h-9 rounded-[50%] overflow-hidden duration-300 hover:scale-14 hover:z-9 relative z-2">
                                                <img src="assets/images/thumbs/client-img1.png" alt="Client Image" class="w-full h-full object-cover">
                                            </div>
                                            <div class="w-9 h-9 rounded-[50%] overflow-hidden duration-300 hover:scale-14 hover:z-9 relative -ms-10-px z-10">
                                                <img src="assets/images/thumbs/client-img2.png" alt="Client Image" class="w-full h-full object-cover">
                                            </div>
                                            <div class="w-9 h-9 rounded-[50%] overflow-hidden duration-300 hover:scale-14 hover:z-9 relative -ms-10-px">
                                                <img src="assets/images/thumbs/client-img3.png" alt="Client Image" class="w-full h-full object-cover">
                                            </div>
                                        </div>
                                        <span class="h5 counter text-white">2.3M+</span>
                                    </div>
                                    <p class="font-bold text-sm font-heading text-heading mt-2 counter text-white">5000+ Client reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-grow-1">
                        <div class="flex gap-3 flex-wrap">

                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-main-600 mt-7.5">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">01</span>
                                <img src="assets/images/icons/roadmap-icon1.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">Brainstorming</h6>
                            </div>

                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-dark-deep -mt-8-px">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">02</span>
                                <img src="assets/images/icons/roadmap-icon2.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">UX <br> Research</h6>
                            </div>

                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-sky-deep mt-5.5">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">03</span>
                                <img src="assets/images/icons/roadmap-icon3.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">Product Designing</h6>
                            </div>

                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-dark-deep -mt-28-px">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">04</span>
                                <img src="assets/images/icons/roadmap-icon4.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">Front-End Development</h6>
                            </div>

                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-dark-deep mt-8">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">05</span>
                                <img src="assets/images/icons/roadmap-icon5.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">Usability <br> Testing</h6>
                            </div>

                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-pink -mt-8-px">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">06</span>
                                <img src="assets/images/icons/roadmap-icon6.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">Back-End Development</h6>
                            </div>
                            
                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-main-600 mt-4">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">07</span>
                                <img src="assets/images/icons/roadmap-icon7.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">SEO Optimization</h6>
                            </div>

                            <div class="ball text-center rounded-[50%] w-180-px h-180-px w-180-px flex flex-col justify-center items-center relative animation-item bg-sky-deep -mt-28-px">
                                <span class="h-6 w-6 bg-sky rounded-[50%] text-white font-medium text-xs flex justify-center items-center absolute top-0 start-0 mt-6 ms-2">08</span>
                                <img src="assets/images/icons/roadmap-icon8.svg" alt="Icon" class="animate__swing">
                                <h6 class="text-base text-white mt-4 font-medium max-w-118-px mx-auto">Digital Marketing</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-9">
                <img src="assets/images/shapes/curve-line.png" alt="" class="w-full">
            </div>
        </div>
        <!-- what we do end -->

        <!-- Global Increase Start -->
         <div class="pt-[80px] sm:pt-[100px] lg:pt-[120px]">
            <h3 class="splitTextStyleOne font-light leading-[1.4] mb-14 text-center"> 
                <span class="inline-block ">We Makes Globally  </span> 
                <span class="inline-block font-semibold"> Growth & Increase  </span> 
                <span class="inline-block ">Revenue</span> 
            </h3>
            <div class="flex flex-wrap justify-center">

                <div class="min-h-184-px bg-main-600 py-4 px-4 rounded-[50rem] text-center max-w-388-px w-full" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <h3 class="h1 counter text-white mb-4 font-medium">$29k</h3>
                    <p class="text-white max-w-228-px mx-auto">Average revenue growth for per successful clients</p>
                </div>
                
                <div class="min-h-184-px bg-main-600 py-4 px-4 rounded-[50rem] max-w-514-px w-full flex items-center gap-5.5 justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <h3 class="h1 counter text-white mb-4 font-medium inline-flex items-center gap-4"> 
                        <img src="assets/images/icons/arrow-up-green.svg" alt=""> 
                        88%
                    </h3>
                    <p class="text-white max-w-194-px ">Average revenue growth for per successful clients</p>
                </div>

                <div class="min-h-184-px bg-white py-4 px-4 rounded-[50rem] max-w-388-px w-full flex items-center gap-5.5 justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <h3 class="h1 counter text-main-600 font-medium inline-flex items-center gap-4">3x</h3>
                    <div class="flex items-center gap-2">
                        <span class="text-main-two-600 text-2xl font-semibold ">//</span>
                        <p class="text-main-two-600 max-w-194-px "> Faster time to launch</p>
                    </div>
                </div>

                <div class="min-h-184-px bg-white py-4 px-4 rounded-[50rem] max-w-490-px w-full flex items-center gap-5.5 justify-center border border-main-50" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <h3 class="h1 counter text-main-600 font-medium inline-flex items-center gap-4">50%</h3>
                    <p class="text-main-two-600 max-w-194-px ">Effective in financial growth than before growth</p>
                </div>

                <div class="min-h-184-px bg-main-600 py-4 px-4 rounded-[50rem] text-center max-w-288-px w-full mt-1 flex flex-col justify-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <h3 class="h1 counter text-white font-medium">95%</h3>
                    <p class="text-white max-w-228-px mx-auto">Average positive review</p>
                </div>

                <div class="min-h-184-px bg-white py-4 px-4 rounded-[50rem] max-w-514-px w-full flex items-center gap-5.5 justify-center border border-main-50" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <h3 class="h1 counter text-main-600 font-medium inline-flex items-center gap-4">1.3m</h3>
                    <div class="flex items-center gap-2">
                        <p class="text-main-two-600 max-w-194-px ">Average revenue growth for per successful clients</p>
                    </div>
                </div>

            </div>
         </div>
        <!-- Global Increase End -->
    </div>
</section>
<!-- =========================== Roadmap section End ========================== -->