<!-- ============================= Search Domain Two Start ============================ -->
<section class="search-domain-two pt-[80px] sm:pt-[100px] lg:pt-[120px] pb-10 relative z-10">
    <div class="max-w-[1524px] mx-auto pt-5">
        <img src="assets/images/shapes/border-square.png" alt="Borders" class="absolute start-0 top-0 w-full h-full -z-[1]">

        <div class="container">
            <div class="row gy-5">
                <div class="col-sm-6" >
                    <div class="max-w-[444px] mx-auto text-center">
                        <div class="common-shadow-eight py-7 px-7.5 rounded-xl overflow-hidden">
                            <img src="assets/images/thumbs/search-domain-img2.png" alt="Thumb" class="w-full h-full object-cover">
                        </div>
                        <div class="mt-6.5">
                            <h5 class="mb-6 line-clamp-2">Launching a website is easier with AI</h5>
                            <a href="register.html" class="font-bold text-lg text-decoration-underline text-main-600 hover:text-yellow-600">Build your website today</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" >
                    <div class="max-w-[444px] mx-auto text-center">
                        <div class="common-shadow-eight py-7 px-7.5 rounded-xl overflow-hidden">
                            <img src="assets/images/thumbs/search-domain-img1.png" alt="Thumb" class="w-full h-full object-cover">
                        </div>
                        <div class="mt-6.5">
                            <h5 class="mb-6 line-clamp-2">Transfer your Domain Today</h5>
                            <a href="register.html" class="font-bold text-lg text-decoration-underline text-main-600 hover:text-yellow-600">Transfer domain</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="pt-[80px] sm:pt-[100px] lg:pt-[120px]">
                <div class="row gy-4 select-domain-wrapper">
                    <div class="col-md-5">
                        <div class="flex gap-3.5 flex-wrap">
                            <button type="button" class="domain-item-button common-shadow-nine flex-grow-1 min-h-[144px] rounded-lg text-center min-w-[144px] flex flex-col items-center justify-center animation-item" data-domain=".xyz">
                                <img src="assets/images/thumbs/search-domain-two-img1.png" alt="Logo" class="animate__wobble">
                                <span class="d-block text-heading mt-1.5 text-sm font-bold">$13.34/Yearly</span>
                            </button>
                            <button type="button" class="domain-item-button common-shadow-nine flex-grow-1 min-h-[144px] rounded-lg text-center min-w-[144px] flex flex-col items-center justify-center animation-item" data-domain=".shop">
                                <img src="assets/images/thumbs/search-domain-two-img2.png" alt="Logo" class="animate__wobble">
                                <span class="d-block text-heading mt-1.5 text-sm font-bold">$13.34/Yearly</span>
                            </button>
                            <button type="button" class="domain-item-button common-shadow-nine flex-grow-1 min-h-[144px] rounded-lg text-center min-w-[144px] flex flex-col items-center justify-center animation-item" data-domain=".icu">
                                <img src="assets/images/thumbs/search-domain-two-img3.png" alt="Logo" class="animate__wobble">
                                <span class="d-block text-heading mt-1.5 text-sm font-bold">$13.34/Yearly</span>
                            </button>
                            <button type="button" class="domain-item-button common-shadow-nine flex-grow-1 min-h-[144px] rounded-lg text-center min-w-[144px] flex flex-col items-center justify-center animation-item" data-domain=".site">
                                <img src="assets/images/thumbs/search-domain-two-img4.png" alt="Logo" class="animate__wobble">
                                <span class="d-block text-heading mt-1.5 text-sm font-bold">$13.34/Yearly</span>
                            </button>
                            <button type="button" class="domain-item-button common-shadow-nine flex-grow-1 min-h-[144px] rounded-lg text-center min-w-[144px] flex flex-col items-center justify-center animation-item" data-domain=".in">
                                <img src="assets/images/thumbs/search-domain-two-img5.png" alt="Logo" class="animate__wobble">
                                <span class="d-block text-heading mt-1.5 text-sm font-bold">$13.34/Yearly</span>
                            </button>
                            <button type="button" class="domain-item-button common-shadow-nine flex-grow-1 min-h-[144px] rounded-lg text-center min-w-[144px] flex flex-col items-center justify-center animation-item" data-domain=".gives">
                                <img src="assets/images/thumbs/search-domain-two-img6.png" alt="Logo" class="animate__wobble">
                                <span class="d-block text-heading mt-1.5 text-sm font-bold">$13.34/Yearly</span>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="ps-lg-5">
                            <div class=""  >
                                <span class="px-6 py-1 bg-purple text-white rounded-[50rem] font-medium mb-5">Find a new domain</span>
                                <h4 class="mb-7.5">Web Hosting that's fast and reliable.</h4>
                                <p class="text-neutral-500">In today's competitive business, the demand for efficient In today's competitive cost-effective IT solutions has never been more critic. business</p>
                            </div>
                            <form action="#" class="flex gap-6 flex-col flex-xl-row mt-8" >
                                <div class="relative flex-grow-1">
                                    <input type="text" class="py-4.5 px-7.5 pe-100-px bg-neutral-100 rounded-xl border-transparent placeholder-neutral-600 placeholder-18-px w-full" placeholder="Enter your desire domain name" required>
                                    <select class="select-domain form-control form-select w-auto border-0 py-1 pe-3.5 shadow-none form-select-arrow-end absolute end-0 top-50 translate-middle-y bg-transparent me-[7.5] font-semibold">
                                        <option value=".xyz">.xyz</option>
                                        <option value=".shop">.shop</option>
                                        <option value=".icu">.icu</option>
                                        <option value=".site">.site</option>
                                        <option value=".in">.in</option>
                                        <option value=".gives">.gives</option>
                                    </select>
                                </div>
                                <button type="submit" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover:style-one button--stroke items-center justify-center gap-5 group active:-translate-y-2 px-15 py-5.5 font-semibold" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Search</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- ============================= Search Domain Two End ============================ -->