<!-- ========================== Search Domain Start ============================== -->
<section class="search-domain relative z-1 -mt-170-px" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
    <img src="assets/images/shapes/hand-thumb.png" alt="Hand thumb" class="hand-thumb left-right-animation absolute start-0 top-0 mt-15">
    
    <div class="container">
        <div class="bg-white common-shadow-six pt-10 pb-16 px-88-px">
            <h3 class="text-center mb-4 capitalize splitTextStyleOne">Search and buy a <span class="text-yellow font-dm-serif fst-italic font-normal">domain</span> in minutes</h3>
            <div class="text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                <ul class="animate-background-wrapper z-1 relative nav nav-pills active-text-white inline-flex border border-neutral-200 rounded-pill mb-6" id="pills-tab" role="tablist">
                    
                    <li class="background"></li>
                    
                    <li class="nav-item flex-grow-1" role="presentation">
                      <button class="nav-link w-full active-scale-094 rounded-pill px-6 py-305 bg-transparent font-semibold text-heading hover:text-main-600 h-100 line-clamp-1 active" id="pills-FindNewDomain-tab" data-bs-toggle="pill" data-bs-target="#pills-FindNewDomain" type="button" role="tab" aria-controls="pills-FindNewDomain" aria-selected="true">Find New Domain</button>
                    </li>
                    <li class="nav-item flex-grow-1" role="presentation">
                      <button class="nav-link w-full active-scale-094 rounded-pill px-6 py-305 bg-transparent font-semibold text-heading hover:text-main-600 h-100 line-clamp-1" id="pills-GeneratedomainusingAI-tab" data-bs-toggle="pill" data-bs-target="#pills-GeneratedomainusingAI" type="button" role="tab" aria-controls="pills-GeneratedomainusingAI" aria-selected="false"> 
                        Generate domain using AI
                      </button>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-FindNewDomain" role="tabpanel" aria-labelledby="pills-FindNewDomain-tab" tabindex="0">
                    <div class="select-domain-wrapper ">
                        <form action="#" class="flex gap-6 flex-col flex-sm-row" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <div class="relative flex-grow-1">
                                <input type="text" class="py-405 px-705 pe-100-px bg-neutral-100 rounded-xl border-transparent placeholder-neutral-600 placeholder-18-px w-full" placeholder="Enter your desire domain name">
                                <select class="select-domain form-control form-select w-auto border-0 py-1 pe-305 shadow-none form-select-arrow-end absolute end-0 top-50 translate-middle-y bg-transparent me-705 font-semibold">
                                    <option value=".com">.com</option>
                                    <option value=".cloud">.cloud</option>
                                    <option value=".shop">.shop</option>
                                    <option value=".online">.online</option>
                                    <option value=".info">.info</option>
                                </select>
                            </div>
                            <button type="button" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main hover:style-one button--stroke items-center justify-center gap-5 group active--translate-y-2 px-15 py-505 font-semibold" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Search</span>
                            </button>
                        </form>
                        <div class="overflow-x-max-lg-auto scroll-sm scroll-sm-horizontal pb-sm-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <div class="mt-6 d-grid grid-col-5 min-w-max pb-1">
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end border-start" data-domain=".com">
                                    <img src="assets/images/thumbs/domain-img1.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".cloud">
                                    <img src="assets/images/thumbs/domain-img2.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$14.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".shop">
                                    <img src="assets/images/thumbs/domain-img3.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".online">
                                    <img src="assets/images/thumbs/domain-img4.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".info">
                                    <img src="assets/images/thumbs/domain-img5.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                            </div>
                        </div>

                        <div class="text-center text-heading font-medium mt-8" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            Already bought a domain? 
                            <a href="javascript:void(0)" class="font-bold text-decoration-underline text-heading hover:text-main-600">Transfer it?</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-GeneratedomainusingAI" role="tabpanel" aria-labelledby="pills-GeneratedomainusingAI-tab" tabindex="0"> 
                    <div class="select-domain-wrapper ">
                        <form action="#" class="flex gap-6 flex-col flex-sm-row" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <div class="relative flex-grow-1">
                                <input type="text" class="py-405 px-705 pe-100-px bg-neutral-100 rounded-xl border-transparent placeholder-neutral-600 placeholder-18-px w-full" placeholder="Enter your desire domain name" required>
                                <select class="select-domain form-control form-select w-auto border-0 py-1 pe-305 shadow-none form-select-arrow-end absolute end-0 top-50 translate-middle-y bg-transparent me-705 font-semibold">
                                    <option value=".com">.com</option>
                                    <option value=".cloud">.cloud</option>
                                    <option value=".shop">.shop</option>
                                    <option value=".online">.online</option>
                                    <option value=".info">.info</option>
                                </select>
                            </div>
                            <button type="submit" class="hover:-translate-y-1 active--translate-y-scale-9 btn btn-main hover:style-one button--stroke items-center justify-center gap-5 group active--translate-y-2 px-15 py-505 font-semibold" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">Search</span>
                            </button>
                        </form>
                        <div class="overflow-x-max-lg-auto scroll-sm scroll-sm-horizontal pb-sm-0" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <div class="mt-6 d-grid grid-col-5 min-w-max pb-1">
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end border-start" data-domain=".com">
                                    <img src="assets/images/thumbs/domain-img1.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".cloud">
                                    <img src="assets/images/thumbs/domain-img2.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$14.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".shop">
                                    <img src="assets/images/thumbs/domain-img3.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".online">
                                    <img src="assets/images/thumbs/domain-img4.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                                <button type="button" class="domain-item-button text-center py-205 px-5 border-bottom hover:common-shadow-four animation-item border-top border-neutral-200 border-end" data-domain=".info">
                                    <img src="assets/images/thumbs/domain-img5.png" alt="Domain Logo" class="animate__wobble">
                                    <span class="d-block text-neutral-600 mt-105 mb-1">Starting price</span>
                                    <span class="d-block text-neutral-700 mt-1 text-sm font-semibold">$13.34/Yearly</span>
                                </button>
                            </div>
                        </div>

                        <div class="text-center text-heading font-medium mt-8" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            Already bought a domain? 
                            <a href="javascript:void(0)" class="font-bold text-decoration-underline text-heading hover:text-main-600">Transfer it?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-11 text-heading font-medium flex items-center gap-4 justify-center flex-wrap" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
            <span class="">Our Customers say <span class="font-bold ms-2">Great</span> </span>
            <img src="assets/images/icons/ratings.svg" alt="" class="">
            <span class="">4.1 out of 5 based on 16,158 reviews</span>
            <div class="flex items-center gap-05">
                <img src="assets/images/icons/trustpilot-star.svg" alt="">
                <span class="font-bold">Trustpilot</span>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Search Domain End ============================== -->