<!-- ======================== Service Six section start ============================ -->
<section class="service-six section-box py-[120px] relative z-10">
    <div class="background-img bg-img absolute top-0 start-0 w-full h-full -z-[1]"
        data-background-image="assets/images/bg/service-six-bg.png"></div>

    <div class="container">
        <div class="max-w-620-px mx-auto text-center mb-10">
            <span class="capitalize font-caveat font-bold mb-3 h5 text-olive-green" data-aos="fade-up"
                data-aos-duration="800" data-aos-delay="100">with the world's favorite CRM</span>
            <h2 class="text-heading capitalize splitTextStyleOne">Powerful Features for
                Modern Businesses</h2>
            <p class="text-neutral-600 text-lg mt-6" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="300">Sassly-CRM in the past allowing you to focus more on your business
                simply enjoy your newfound legal time to reflect leaving pen</p>
        </div>

        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div
                    class="service-six-item bg-white rounded-3xl border border-neutral-200 hover:border-main-two-600 duration-300 p-44-px animation-item h-full flex flex-col justify-between">
                    <div class="">
                        <span class="">
                            <img src="assets/images/icons/service-six-icon1.png" alt="Icon" class="animate__wobble">
                        </span>
                        <h5 class="mt-8">Real-Time Dashboard</h5>
                        <p class="text-neutral-600 mt-6 text-lg">Optimize tracking across platforms
                            & product lines using multiple. </p>
                    </div>
                    <a href="service-details.html"
                        class="font-heading text-lg text-heading font-bold mt-9 flex items-center gap-4 hover:underline">
                        Read More
                        <img src="assets/images/icons/arrow-long.svg" alt="arrow icon">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div
                    class="service-six-item bg-white rounded-3xl border border-neutral-200 hover:border-main-two-600 duration-300 p-44-px animation-item h-full flex flex-col justify-between">
                    <div class="">
                        <span class="">
                            <img src="assets/images/icons/service-six-icon2.png" alt="Icon" class="animate__wobble">
                        </span>
                        <h5 class="mt-8">Recurring Billing</h5>
                        <p class="text-neutral-600 mt-6 text-lg">Optimize tracking across platforms
                            & product lines using multiple. </p>
                    </div>
                    <a href="service-details.html"
                        class="font-heading text-lg text-heading font-bold mt-9 flex items-center gap-4 hover:underline">
                        Read More
                        <img src="assets/images/icons/arrow-long.svg" alt="arrow icon">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div
                    class="service-six-item bg-white rounded-3xl border border-neutral-200 hover:border-main-two-600 duration-300 p-44-px animation-item h-full flex flex-col justify-between">
                    <div class="">
                        <span class="">
                            <img src="assets/images/icons/service-six-icon3.png" alt="Icon" class="animate__wobble">
                        </span>
                        <h5 class="mt-8">Multi-Currency Support</h5>
                        <p class="text-neutral-600 mt-6 text-lg">Optimize tracking across platforms
                            & product lines using multiple. </p>
                    </div>
                    <a href="service-details.html"
                        class="font-heading text-lg text-heading font-bold mt-9 flex items-center gap-4 hover:underline">
                        Read More
                        <img src="assets/images/icons/arrow-long.svg" alt="arrow icon">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div
                    class="service-six-item bg-white rounded-3xl border border-neutral-200 hover:border-main-two-600 duration-300 p-44-px animation-item h-full flex flex-col justify-between">
                    <div class="">
                        <span class="">
                            <img src="assets/images/icons/service-six-icon4.png" alt="Icon" class="animate__wobble">
                        </span>
                        <h5 class="mt-8">Refunds & Disputes</h5>
                        <p class="text-neutral-600 mt-6 text-lg">Optimize tracking across platforms
                            & product lines using multiple. </p>
                    </div>
                    <a href="service-details.html"
                        class="font-heading text-lg text-heading font-bold mt-9 flex items-center gap-4 hover:underline">
                        Read More
                        <img src="assets/images/icons/arrow-long.svg" alt="arrow icon">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div
                    class="service-six-item bg-white rounded-3xl border border-neutral-200 hover:border-main-two-600 duration-300 p-44-px animation-item h-full flex flex-col justify-between">
                    <div class="">
                        <span class="">
                            <img src="assets/images/icons/service-six-icon5.png" alt="Icon" class="animate__wobble">
                        </span>
                        <h5 class="mt-8">Payment Links & QR Code</h5>
                        <p class="text-neutral-600 mt-6 text-lg">Optimize tracking across platforms
                            & product lines using multiple. </p>
                    </div>
                    <a href="service-details.html"
                        class="font-heading text-lg text-heading font-bold mt-9 flex items-center gap-4 hover:underline">
                        Read More
                        <img src="assets/images/icons/arrow-long.svg" alt="arrow icon">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div
                    class="service-six-item bg-white rounded-3xl border border-neutral-200 hover:border-main-two-600 duration-300 p-44-px animation-item h-full flex flex-col justify-between">
                    <div class="">
                        <span class="">
                            <img src="assets/images/icons/service-six-icon6.png" alt="Icon" class="animate__wobble">
                        </span>
                        <h5 class="mt-8">Instant Notifications</h5>
                        <p class="text-neutral-600 mt-6 text-lg">Optimize tracking across platforms
                            & product lines using multiple. </p>
                    </div>
                    <a href="service-details.html"
                        class="font-heading text-lg text-heading font-bold mt-9 flex items-center gap-4 hover:underline">
                        Read More
                        <img src="assets/images/icons/arrow-long.svg" alt="arrow icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Service Six section End ============================ -->