<!-- ================================== Show-case section start ========================== -->
<section class="show-case py-[80px] sm:py-[100px] lg:py-[120px] bg-main-two-600 overflow-hidden">
    <div class="max-w-602-px mx-auto text-center mb-15">
        <span class="py-1 px-7.5 bg-white-13 text-white text-sm font-medium capitalize rounded-[50rem] mb-[2.5]">Work Showcase</span>
        <h3 class="font-light leading-[1.4] mb-9 text-white"> 
            <span class="splitTextStyleOne inline-block font-medium"> 
                <span class="font-semibold">Comprehensive IT Solution </span>
                <span class=""> Growth</span> 
                <span class="font-semibold">& Efficiency</span>
            </span>
        </h3>
    </div>
    
    <div class="show-case-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-full max-h-410-px overflow-hidden rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img1.png" alt="Image" class="w-full h-full object-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <a href="project-details.html" class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9 absolute top-0 end-0 me-8 mt-8 hidden opacity-0 group-hover:item-opacity-1 group-hover:item-visible scale-04 group-hover:item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="mt-8">
                        <span class="text-base font-medium text-white">Excellent Performance</span>
                        <h5 class="text-white mt-1">
                            <a href="project-details.html" class="hover:text-main-600 text-white line-clamp-1 hover:-translate-y-1">Mobile Application Development</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-full max-h-410-px overflow-hidden rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img2.png" alt="Image" class="w-full h-full object-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <a href="project-details.html" class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9 absolute top-0 end-0 me-8 mt-8 hidden opacity-0 group-hover:item-opacity-1 group-hover:item-visible scale-04 group-hover:item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="mt-8">
                        <span class="text-base font-medium text-white">Excellent Performance</span>
                        <h5 class="text-white mt-1">
                            <a href="project-details.html" class="hover:text-main-600 text-white line-clamp-1 hover:-translate-y-1">Cloud Computing System</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-full max-h-410-px overflow-hidden rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img3.png" alt="Image" class="w-full h-full object-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <a href="project-details.html" class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9 absolute top-0 end-0 me-8 mt-8 hidden opacity-0 group-hover:item-opacity-1 group-hover:item-visible scale-04 group-hover:item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="mt-8">
                        <span class="text-base font-medium text-white">Excellent Performance</span>
                        <h5 class="text-white mt-1">
                            <a href="project-details.html" class="hover:text-main-600 text-white line-clamp-1 hover:-translate-y-1">Mobile Application Development</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-full max-h-410-px overflow-hidden rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img4.png" alt="Image" class="w-full h-full object-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <a href="project-details.html" class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9 absolute top-0 end-0 me-8 mt-8 hidden opacity-0 group-hover:item-opacity-1 group-hover:item-visible scale-04 group-hover:item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="mt-8">
                        <span class="text-base font-medium text-white">Excellent Performance</span>
                        <h5 class="text-white mt-1">
                            <a href="project-details.html" class="hover:text-main-600 text-white line-clamp-1 hover:-translate-y-1">Creative UI/UX Designing</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-full max-h-410-px overflow-hidden rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img3.png" alt="Image" class="w-full h-full object-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <a href="project-details.html" class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9 absolute top-0 end-0 me-8 mt-8 hidden opacity-0 group-hover:item-opacity-1 group-hover:item-visible scale-04 group-hover:item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="mt-8">
                        <span class="text-base font-medium text-white">Excellent Performance</span>
                        <h5 class="text-white mt-1">
                            <a href="project-details.html" class="hover:text-main-600 text-white line-clamp-1 hover:-translate-y-1">Mobile Application Development</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-full max-h-410-px overflow-hidden rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img2.png" alt="Image" class="w-full h-full object-cover group-hover:item-scale-12 duration-300">
                        </a>
                        <a href="project-details.html" class="w-15 h-15 flex justify-center items-center rounded-[50%] bg-white text-2xl hover:bg-main-600 hover:text-white hover:-translate-y-1 active--translate-y-scale-9 absolute top-0 end-0 me-8 mt-8 hidden opacity-0 group-hover:item-opacity-1 group-hover:item-visible scale-04 group-hover:item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="mt-8">
                        <span class="text-base font-medium text-white">Excellent Performance</span>
                        <h5 class="text-white mt-1">
                            <a href="project-details.html" class="hover:text-main-600 text-white line-clamp-1 hover:-translate-y-1">Cloud Computing System</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== Show-case section End ========================== -->