<!-- ================================== Show-case section start ========================== -->
<section class="show-case py-120 bg-main-two-600 overflow-hidden">
    <div class="max-w-602-px mx-auto text-center tw-mb-15">
        <span class="tw-py-1 tw-px-705 bg-white-13 text-white tw-text-sm fw-medium text-capitalize rounded-pill tw-mb-205">Work Showcase</span>
        <h3 class="fw-light tw-leading-104 tw-mb-9 text-white"> 
            <span class="splitTextStyleOne d-inline-block fw-medium"> 
                <span class="fw-semibold">Comprehensive IT Solution </span>
                <span class=""> Growth</span> 
                <span class="fw-semibold">& Efficiency</span>
            </span>
        </h3>
    </div>
    
    <div class="show-case-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-100 tw-max-h-410-px overflow-hidden tw-rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img1.png" alt="Image" class="w-full h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                        </a>
                        <a href="project-details.html" class="tw-w-15 tw-h-15 flex justify-center items-center rounded-circle bg-white tw-text-2xl hover-bg-main-600 hover-text-white hover--translate-y-1 active--translate-y-scale-9 absolute top-0 tw-end-0 tw-me-8 tw-mt-8 hidden opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-scale-04 group-hover-item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="tw-mt-8">
                        <span class="tw-text-base fw-medium text-white">Excellent Performance</span>
                        <h5 class="text-white tw-mt-1">
                            <a href="project-details.html" class="hover-text-main-600 text-white line-clamp-1 hover--translate-y-1">Mobile Application Development</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-100 tw-max-h-410-px overflow-hidden tw-rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img2.png" alt="Image" class="w-full h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                        </a>
                        <a href="project-details.html" class="tw-w-15 tw-h-15 flex justify-center items-center rounded-circle bg-white tw-text-2xl hover-bg-main-600 hover-text-white hover--translate-y-1 active--translate-y-scale-9 absolute top-0 tw-end-0 tw-me-8 tw-mt-8 hidden opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-scale-04 group-hover-item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="tw-mt-8">
                        <span class="tw-text-base fw-medium text-white">Excellent Performance</span>
                        <h5 class="text-white tw-mt-1">
                            <a href="project-details.html" class="hover-text-main-600 text-white line-clamp-1 hover--translate-y-1">Cloud Computing System</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-100 tw-max-h-410-px overflow-hidden tw-rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img3.png" alt="Image" class="w-full h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                        </a>
                        <a href="project-details.html" class="tw-w-15 tw-h-15 flex justify-center items-center rounded-circle bg-white tw-text-2xl hover-bg-main-600 hover-text-white hover--translate-y-1 active--translate-y-scale-9 absolute top-0 tw-end-0 tw-me-8 tw-mt-8 hidden opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-scale-04 group-hover-item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="tw-mt-8">
                        <span class="tw-text-base fw-medium text-white">Excellent Performance</span>
                        <h5 class="text-white tw-mt-1">
                            <a href="project-details.html" class="hover-text-main-600 text-white line-clamp-1 hover--translate-y-1">Mobile Application Development</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-100 tw-max-h-410-px overflow-hidden tw-rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img4.png" alt="Image" class="w-full h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                        </a>
                        <a href="project-details.html" class="tw-w-15 tw-h-15 flex justify-center items-center rounded-circle bg-white tw-text-2xl hover-bg-main-600 hover-text-white hover--translate-y-1 active--translate-y-scale-9 absolute top-0 tw-end-0 tw-me-8 tw-mt-8 hidden opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-scale-04 group-hover-item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="tw-mt-8">
                        <span class="tw-text-base fw-medium text-white">Excellent Performance</span>
                        <h5 class="text-white tw-mt-1">
                            <a href="project-details.html" class="hover-text-main-600 text-white line-clamp-1 hover--translate-y-1">Creative UI/UX Designing</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-100 tw-max-h-410-px overflow-hidden tw-rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img3.png" alt="Image" class="w-full h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                        </a>
                        <a href="project-details.html" class="tw-w-15 tw-h-15 flex justify-center items-center rounded-circle bg-white tw-text-2xl hover-bg-main-600 hover-text-white hover--translate-y-1 active--translate-y-scale-9 absolute top-0 tw-end-0 tw-me-8 tw-mt-8 hidden opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-scale-04 group-hover-item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="tw-mt-8">
                        <span class="tw-text-base fw-medium text-white">Excellent Performance</span>
                        <h5 class="text-white tw-mt-1">
                            <a href="project-details.html" class="hover-text-main-600 text-white line-clamp-1 hover--translate-y-1">Mobile Application Development</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="group-item">
                    <div class="relative">
                        <a href="project-details.html" class="w-full h-100 tw-max-h-410-px overflow-hidden tw-rounded-28-px">
                            <img src="assets/images/thumbs/show-case-img2.png" alt="Image" class="w-full h-100 object-fit-cover group-hover-item-scale-12 tw-duration-300">
                        </a>
                        <a href="project-details.html" class="tw-w-15 tw-h-15 flex justify-center items-center rounded-circle bg-white tw-text-2xl hover-bg-main-600 hover-text-white hover--translate-y-1 active--translate-y-scale-9 absolute top-0 tw-end-0 tw-me-8 tw-mt-8 hidden opacity-0 group-hover-item-opacity-1 group-hover-item-visible tw-scale-04 group-hover-item-scale-1">
                            <i class="ph-bold ph-arrow-up-right"></i>
                        </a>
                    </div>
                    <div class="tw-mt-8">
                        <span class="tw-text-base fw-medium text-white">Excellent Performance</span>
                        <h5 class="text-white tw-mt-1">
                            <a href="project-details.html" class="hover-text-main-600 text-white line-clamp-1 hover--translate-y-1">Cloud Computing System</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== Show-case section End ========================== -->