<!-- ================================= Task Management Section Start ============================== -->
<section class="task-management bg-pink-more-light-half drag-rotate-element-section @@sectionClass">
    <div class="container">
        <div class="text-end -mb-[40px] relative z-2">
            <img src="assets/images/thumbs/laptop-man.png" alt="Image" class="me-[84px]">
        </div>

        <div class="bg-green-deep rounded-3xl bg-green-deep pt-10 md:pt-12 lg:pt-15 xl:pt-[68px] 2xl:pt-[100px] relative z-10">
            <img src="assets/images/shapes/hill-shape.png" alt="Hill Shape" class="absolute w-full h-full top-0 start-0 -z-[1]">
            <img src="assets/images/thumbs/task-management-img.png" alt="Image" class="absolute end-0 top-0 me-5 mt-5 lg:block hidden">
            
            <div class="mb-8 text-center max-w-[570px] mx-auto">
                <div class="py-3 px-3.5 rounded-[50rem]! font-medium capitalize leading-none! inline-flex items-center gap-2 mb-4.5 min-w-max text-white bg-[#ffffff21]" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <div class="">
                        Up to <span class="text-yellow-500 text-stroke-yellow">70%</span> off managed cloud hosting
                    </div>
                </div>
                <h3 class="splitTextStyleOne text-white font-bold">
                    Ready to revolutionize our service?
                </h3>

                <div class="@@singleBtn">
                    <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-13 rounded-0 py-6! font-bold mt-7" data-block="button">
                        <span class="button__flair"></span>
                        <div class="flex items-center gap-2 z-10">
                            <span class="button__label">Download for free</span>
                        </div>
                    </a>
                </div>
                <div class="@@multipleBtn">
                    <div class="flex items-center gap-4 justify-center flex-wrap">
                        <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn btn-main hover-style-one button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-7.5 rounded-2xl py-6 font-bold mt-7" data-block="button">
                            <span class="button__flair"></span>
                            <div class="flex items-center gap-2 z-10">
                                <span class="button__label">Get Started Trial</span>
                            </div>
                        </a>
                        <a href="javascript:void(0)" class="hover:-translate-y-1 active:-translate-y-scale-9 btn hover-style-two button--stroke inline-flex items-center justify-center gap-5 group active:-translate-y-2 px-7.5 rounded-2xl py-6 font-bold mt-7" data-block="button">
                            <span class="button__flair"></span>
                            <div class="flex items-center gap-2 z-10">
                                <span class="button__label">Get Started Trial</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="pt-8 text-center"> 
                <div class="myContainer relative flex flex-wrap items-center justify-center gap-6 pt-16 overflow-hidden w-full px-6">
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-white gradient-bg-six rounded-[50rem]!">Project management</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading bg-paste rounded-[50rem]!">Technology</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading gradient-bg-six rounded-[50rem]!">Technology</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading bg-yellow-500 rounded-[50rem]!">Project management</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading bg-orange-600 rounded-[50rem]!">Technology</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading gradient-bg-six rounded-[50rem]!">Technology</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading bg-orange-600 rounded-[50rem]!">Project management</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading gradient-bg-six rounded-[50rem]!">Technology</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading bg-paste rounded-[50rem]!">Project management</span>
                    <span class="drag-rotate-element cursor-grab min-w-max z-10 px-9 py-2 font-semibold text-heading bg-pink rounded-[50rem]!">Technology</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= Task Management Section End ============================== -->