<!-- ============================= Task manager Section start =============================== -->
<section class="task-manager pt-120">
    <div class="container">
        <div class="row gy-4 flex-wrap-reverse">
            <div class="col-lg-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                <div class="task-manager__thumb -ms-110-px">
                    <img src="assets/images/thumbs/task-manager-thumb.png" alt="Thumb">
                </div>
            </div>
            <div class="col-lg-6 ps-lg-5">
                <div class="task-manager__content">
                    <div class="bg-white py-3 px-305 rounded-pill font-medium capitalize leading-none inline-flex items-center gap-2 mb-405 min-w-max border border-spring-green" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <div class="text-gradient-teal">
                            Up to <span class="text-yellow text-stroke-yellow">70%</span> off managed cloud hosting
                        </div>
                    </div>
                    <h2 class="splitTextStyleOne text-heading capitalize">
                        Powerful & life-saving
                        <span class="font-dm-serif fst-italic font-normal text-gradient-teal">task manager</span> 
                    </h2>
                    <p class="splitTextStyleOne text-neutral-500 mt-8 max-w-570-px font-medium text-lg">Sassly-CRM in the past allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving pen</p>

                    <div class="mt-13 flex flex-col gap-12">
                        <div class="flex align-items-start gap-10 animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <span class="mt-105 animate__wobble">
                                <img src="assets/images/icons/task-manager-icon1.svg" alt="Icon">
                            </span>
                            <div class="">
                                <h5 class="mb-6">Automate Task Creation</h5>
                                <p class="text-neutral-600 max-w-432-px">In today's competitive business, the demand for efficient cost-effective IT solutions has never been more critic.</p>
                            </div>
                        </div>
                        <div class="flex align-items-start gap-10 animation-item" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800">
                            <span class="mt-105 animate__wobble">
                                <img src="assets/images/icons/task-manager-icon2.svg" alt="Icon">
                            </span>
                            <div class="">
                                <h5 class="mb-6">Simplify your daily routines</h5>
                                <p class="text-neutral-600 max-w-432-px">In today's competitive business, the demand for efficient cost-effective IT solutions has never been more critic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Task manager Section End =============================== -->