<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- phosphor Js -->
<script src="assets/js/phosphor-icon.js"></script>

<!-- GSAP js -->
<script src="assets/js/gsap.min.js"></script>
<!-- Scroll Trigger -->
<script src="assets/js/ScrollTrigger.min.js"></script>
<!-- ScrollSmoother -->
<script src="assets/js/ScrollSmoother.min.js"></script>
<!-- SplitText -->
<script src="assets/js/SplitText.min.js"></script>
<!-- custom GSAP -->
<script src="assets/js/custom-gsap.js"></script>

<!-- aos Js -->
<script src="assets/js/aos.js"></script>
<!-- counter up Js -->
<script src="assets/js/counterup.min.js"></script>
<!-- swiper Js -->
<script src="assets/js/swiper-bundle.min.js"></script>
<!-- Marquee js -->
<script src="assets/js/jquery.marquee.min.js"></script>
<!-- magnific js -->
<script src="assets/js/magnific-popup.min.js"></script>
<!-- flowbite -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>

<!-- main js -->
<script src="assets/js/main.js"></script>