<!-- ============================ Testimonials Six Section start ============================ -->
<section class="testimonials-six py-120 relative z-1">
    <div class="background-img bg-img absolute top-0 tw-start-0 w-full h-100 z-n1"
        data-background-image="assets/images/bg/testimonials-six-bg.png"></div>
    <div class="absolute top-50 translate-middle-y z-n1">
        <img src="assets/images/shapes/testimonials-six-shape.png" alt="Shape" class="animated-upDown">
    </div>

    <div class="container">
        <div class="max-w-570-px mx-auto text-center tw-mb-10">
            <span class="text-capitalize font-caveat fw-bold tw-mb-3 h5 text-olive-green" data-aos="fade-up"
                data-aos-duration="800" data-aos-delay="100">with the world's favorite CRM</span>
            <h2 class="text-heading text-capitalize splitTextStyleOne">What Businesses Say
                About services</h2>
            <p class="text-neutral-600 tw-text-lg tw-mt-6 fw-medium" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="300">Sassly-CRM in the past allowing you to focus more on your business
                simply enjoy your newfound legal time to reflect leaving pen</p>
        </div>
    </div>

    <div class="testimonials-six-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div
                    class="testimonials-four-item tw-py-54-px tw-rounded-3xl tw-duration-300 common-shadow-13 bg-white">
                    <div class="">
                        <div
                            class="tw-px-54-px flex items-center tw-gap-2 flex-wrap tw-pb-705 border-bottom border-neutral-200">
                            <h6 class="fw-bold tw-duration-300">
                                Robert J. Hare/
                            </h6>
                            <span class="tw-text-sm text-heading fw-medium tw-duration-300">Graphics
                                Designer</span>
                        </div>
                        <div class="tw-px-54-px tw-pt-705">
                            <p class="text-heading h5 font-body tw-duration-300 tw-leading-18">
                                Sasstech hires great people from a widely variety
                                of backgrounds, which simply makes our compan
                                stronger, and we couldn't be prouder of that.
                                elevating your optimizing Business Growth.
                            </p>
                            <div class="flex items-center tw-gap-1 tw-mt-12">
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonials-four-item tw-py-54-px tw-rounded-3xl tw-duration-300 common-shadow-13 bg-white">
                    <div class="">
                        <div
                            class="tw-px-54-px flex items-center tw-gap-2 flex-wrap tw-pb-705 border-bottom border-neutral-200">
                            <h6 class="fw-bold tw-duration-300">
                                Robiul Hasan /
                            </h6>
                            <span class="tw-text-sm text-heading fw-medium tw-duration-300">Front End Developer</span>
                        </div>
                        <div class="tw-px-54-px tw-pt-705">
                            <p class="text-heading h5 font-body tw-duration-300 tw-leading-18">
                                Sasstech hires great people from a widely variety
                                of backgrounds, which simply makes our compan
                                stronger, and we couldn't be prouder of that.
                                elevating your optimizing Business Growth.
                            </p>
                            <div class="flex items-center tw-gap-1 tw-mt-12">
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonials-four-item tw-py-54-px tw-rounded-3xl tw-duration-300 common-shadow-13 bg-white">
                    <div class="">
                        <div
                            class="tw-px-54-px flex items-center tw-gap-2 flex-wrap tw-pb-705 border-bottom border-neutral-200">
                            <h6 class="fw-bold tw-duration-300">
                                Mehedi Mohammad /
                            </h6>
                            <span class="tw-text-sm text-heading fw-medium tw-duration-300">UX/UI Designer</span>
                        </div>
                        <div class="tw-px-54-px tw-pt-705">
                            <p class="text-heading h5 font-body tw-duration-300 tw-leading-18">
                                Sasstech hires great people from a widely variety
                                of backgrounds, which simply makes our compan
                                stronger, and we couldn't be prouder of that.
                                elevating your optimizing Business Growth.
                            </p>
                            <div class="flex items-center tw-gap-1 tw-mt-12">
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div
                    class="testimonials-four-item tw-py-54-px tw-rounded-3xl tw-duration-300 common-shadow-13 bg-white">
                    <div class="">
                        <div
                            class="tw-px-54-px flex items-center tw-gap-2 flex-wrap tw-pb-705 border-bottom border-neutral-200">
                            <h6 class="fw-bold tw-duration-300">
                                Robert J. Hare/
                            </h6>
                            <span class="tw-text-sm text-heading fw-medium tw-duration-300">Graphics
                                Designer</span>
                        </div>
                        <div class="tw-px-54-px tw-pt-705">
                            <p class="text-heading h5 font-body tw-duration-300 tw-leading-18">
                                Sasstech hires great people from a widely variety
                                of backgrounds, which simply makes our compan
                                stronger, and we couldn't be prouder of that.
                                elevating your optimizing Business Growth.
                            </p>
                            <div class="flex items-center tw-gap-1 tw-mt-12">
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                                <span class="tw-leading-none text-warning tw-text-xl"><i
                                        class="ph-fill ph-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Testimonials Six Section end ============================ -->