<!-- ============================ Testimonials Four section start ============================= -->
<section class="testimonials-four py-[80px] sm:py-[100px] lg:py-[120px] relative z-10">
    <img src="assets/images/bg/mash-gradient-bg5.png" alt="Gradient BG" class="absolute start-0 top-0 w-full h-full -z-[1]">
    
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="">
                    <div class="mb-10">
                        <h4 class="mb-2 font-bold line-clamp-1 font-caveat capitalize text-crm">with the world's favorite CRM</h4>
                        <h2 class="splitTextStyleOne text-white capitalize">
                            improve customer relationships today
                        </h2>
                        <p class="splitTextStyleOne text-neutral-300 mt-8 max-w-[570px] font-normal text-lg">Sassly-CRM in the past allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving pen</p>
                    </div>
                    <div class="mt-12 flex items-center gap-4.5 sm:flex-nowrap flex-wrap">
                        <div class="rounded-xl bg-white-06 py-2.5 px-5 flex items-center gap-4">
                            <span>
                                <img src="assets/images/icons/testimonials-four-icon1.png" alt="Icon">
                            </span>
                            <div class="">
                                <div class="flex items-center gap-0.5">
                                    <span class="text-orange-600 text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-orange-600 text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-orange-600 text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-orange-600 text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-orange-600 text-lg"><i class="ph-fill ph-star"></i></span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <span class="text-xs text-white font-bold">4.3</span>
                                    <span class="text-xs text-white font-normal">score, 9 reviews</span>
                                </div>
                            </div>
                        </div>
                        <div class="rounded-xl bg-white-06 py-2.5 px-5 flex items-center gap-4">
                            <span>
                                <img src="assets/images/icons/testimonials-four-icon2.png" alt="Icon">
                            </span>
                            <div class="">
                                <div class="flex items-center gap-0.5">
                                    <span class="text-green text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-green text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-green text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-green text-lg"><i class="ph-fill ph-star"></i></span>
                                    <span class="text-green text-lg"><i class="ph-fill ph-star"></i></span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <span class="text-xs text-white font-bold">4.3</span>
                                    <span class="text-xs text-white font-normal">score, 9 reviews</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials-four-slider swiper relative">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <div class="bg-white rounded-2xl common-shadow-twentySix box-layer mb-12">
                                <div class="box-layer-two p-54-px rounded-2xl bg-white">
                                    <span class="mb-5 animate-left-right animation-delay-3 duration-200">
                                        <img src="assets/images/thumbs/website-owner-img1.png" alt="Logo" class="animate__flipInY">
                                    </span>
                                    <p class="text-heading h3 font-medium font-body leading-[1.53] animate-left-right animation-delay-2 duration-200">“Sasstech hires great people from a widely variety of backgrounds, which simply makes our compan stronger, and we couldn't be prouder of that.”</p>
                                    <span class="block h-px bg-neutral-200 my-6"></span>
                                    <div class="flex items-center justify-between animate-left-right animation-delay-3">
                                        <div class="flex items-center gap-6 duration-200">
                                            <div class="h-[84px] w-[84px] rounded-[50%]">
                                                <img src="assets/images/thumbs/testimonials-short-img1.png" alt="Image" class="w-full h-full object-cover">
                                            </div>
                                            <div class="">
                                                <h6 class="mb-2">Robiul Hasan</h6>
                                                <span class="text-neutral-600"> 
                                                    <span class="font-semibold text-blue">CEO</span>
                                                    and Founder
                                                </span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <img src="assets/images/icons/ratings.svg" alt="Rating" class="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <div class="bg-white rounded-2xl common-shadow-twentySix box-layer mb-12">
                                <div class="box-layer-two p-54-px rounded-2xl bg-white">
                                    <span class="mb-5 animate-left-right animation-delay-3 duration-200">
                                        <img src="assets/images/thumbs/website-owner-img2.png" alt="Logo" class="animate__flipInY">
                                    </span>
                                    <p class="text-heading h3 font-medium font-body leading-[1.53] animate-left-right animation-delay-2 duration-200">“Sasstech hires great people from a wide range of backgrounds, which simply strengthens our company, and we couldn't be prouder of that,” the company says.</p>
                                    <span class="block h-px bg-neutral-200 my-6"></span>
                                    <div class="flex items-center justify-between animate-left-right animation-delay-3">
                                        <div class="flex items-center gap-6 duration-200">
                                            <div class="h-[84px] w-[84px] rounded-[50%]">
                                                <img src="assets/images/thumbs/testimonials-short-img2.png" alt="Image" class="w-full h-full object-cover">
                                            </div>
                                            <div class="">
                                                <h6 class="mb-2">John Doe</h6>
                                                <span class="text-neutral-600"> 
                                                    <span class="font-semibold text-blue">CEO</span>
                                                    and Founder
                                                </span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <img src="assets/images/icons/ratings.svg" alt="Rating" class="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                            <div class="bg-white rounded-2xl common-shadow-twentySix box-layer mb-12">
                                <div class="box-layer-two p-54-px rounded-2xl bg-white">
                                    <span class="mb-5 animate-left-right animation-delay-3 duration-200">
                                        <img src="assets/images/thumbs/website-owner-img3.png" alt="Logo" class="animate__flipInY">
                                    </span>
                                    <p class="text-heading h3 font-medium font-body leading-[1.53] animate-left-right animation-delay-2 duration-200">"Sasstech brings together talented individuals from diverse backgrounds, strengthening our company in the best way possible.</p>
                                    <span class="block h-px bg-neutral-200 my-6"></span>
                                    <div class="flex items-center justify-between animate-left-right animation-delay-3">
                                        <div class="flex items-center gap-6 duration-200">
                                            <div class="h-[84px] w-[84px] rounded-[50%]">
                                                <img src="assets/images/thumbs/testimonials-short-img3.png" alt="Image" class="w-full h-full object-cover">
                                            </div>
                                            <div class="">
                                                <h6 class="mb-2">James anderson</h6>
                                                <span class="text-neutral-600"> 
                                                    <span class="font-semibold text-blue">CEO</span>
                                                    and Founder
                                                </span>
                                            </div>
                                        </div>
                                        <div class="">
                                            <img src="assets/images/icons/ratings.svg" alt="Rating" class="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="w-[84px] h-[84px] rounded-[50%] bg-white flex flex-col gap-2 justify-center items-center absolute end-0 top-50 translate-middle-y z-2 common-shadow-twentyFour me-16">
                    <button type="button" class="text-lg leading-none text-heading hover:text-main-600 px-2 pt-2" id="testimonials-four-next">
                        <i class="ph-bold ph-caret-up"></i>
                    </button>
                    <button type="button" class="text-lg leading-none text-heading hover:text-main-600 px-2 pb-2" id="testimonials-four-prev">
                        <i class="ph-bold ph-caret-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Testimonials Four section End ============================= -->



