<!-- ============================ Testimonials section start ============================= -->
<section class="testimonials py-120 bg-neutral-50 relative z-1">
    <img src="assets/images/shapes/faq-bg.png" alt="" class="absolute start-0 top-0 w-full h-100 z-n1">
    
    <div class="container">
        <div class="max-w-602-px mx-auto text-center mb-15">
            <span class="py-1 px-705 bg-neutral-100 text-sm fw-medium text-capitalize rounded-pill mb-205">Work Showcase</span>
            <h3 class="splitTextStyleOne fw-light leading-104 mb-9 flex gap-2"> 
                <span class="d-inline-block fw-medium"> 
                    <span class="">What </span>
                    <span class="fw-semibold"> Our Client </span>
                    <span class=""> Say</span> 
                    <span class="fw-semibold">About Us</span>
                </span>
            </h3>
        </div>

        <div class="flex gap-6 testimonials-item-wrapper flex-wrap">
            <!-- Testimonials Item Start -->
            <div class="testimonials-item cursor-pointer bg-white rounded-28-px border border-neutral-100">
                <div class="current-content">
                    <div class="max-h-397-px overflow-hidden text-center">
                        <img src="assets/images/thumbs/testimonials-img1.png" alt="Image" class="">
                    </div>
                    <div class="py-8 px-4 text-center">
                        <h6 class="mb-2">Webcly jhonson</h6>
                        <span class="text-neutral-600 fw-medium text-sm"> 
                            <span class="fw-semibold text-neutral-600">Tung Phan -</span>
                            Ceo and Founder
                        </span>
                    </div>
                </div>
        
                <div class="hidden-content px-56-px py-76-px">
                    <div class="">
                        <span class="mb-6 animate-left-right animation-delay-02 duration-200">
                            <img src="assets/images/icons/ratings.svg" alt="" class="">
                        </span>
                        <div class="border-bottom border-neutral-200 pb-10 mb-8">
                            <p class="testimonials-item__desc h5 text-heading fw-medium leading-153 animate-left-right animation-delay-03 duration-200 line-clamp-4">“SassTech hires great people from a widely variety of backgrounds, which simply makes our compan stronger, and we couldn't be prouder of that. elevating your optimizing Business  Growth.”</p>
                        </div>
                    </div>
                    <div class="flex items-center gap-6 animate-left-right animation-delay-04 duration-200">
                        <div class="h-84-px w-84-px rounded-circle">
                            <img src="assets/images/thumbs/testimonials-short-img1.png" alt="Image" class="w-full h-100 object-fit-cover">
                        </div>
                        <div class="">
                            <h6 class="mb-2">Webcly jhonson</h6>
                            <span class="text-neutral-600"> 
                                <span class="fw-semibold text-neutral-600">Tung Phan - </span>
                                and Founder
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials Item End -->
        
            <!-- Testimonials Item Start -->
            <div class="testimonials-item cursor-pointer bg-white rounded-28-px border border-neutral-100 active">
                <div class="current-content">
                    <div class="max-h-397-px overflow-hidden text-center">
                        <img src="assets/images/thumbs/testimonials-img3.png" alt="Image" class="">
                    </div>
                    <div class="py-8 px-4 text-center">
                        <h6 class="mb-2">James anderson </h6>
                        <span class="text-neutral-600 fw-medium text-sm"> 
                            <span class="fw-semibold text-main-600">CEO -</span>
                            and Founder
                        </span>
                    </div>
                </div>
        
                <div class="hidden-content px-56-px py-76-px">
                    <div class="">
                        <span class="mb-6 animate-left-right animation-delay-02 duration-200">
                            <img src="assets/images/icons/ratings.svg" alt="" class="">
                        </span>
                        <div class="border-bottom border-neutral-200 pb-10 mb-8">
                            <p class="testimonials-item__desc h5 text-heading fw-medium leading-153 animate-left-right animation-delay-03 duration-200 line-clamp-4">“SassTech hires great people from a widely variety of backgrounds, which simply makes our compan stronger, and we couldn't be prouder of that. elevating your optimizing Business  Growth.”</p>
                        </div>
                    </div>
                    <div class="flex items-center gap-6 animate-left-right animation-delay-04 duration-200">
                        <div class="h-84-px w-84-px rounded-circle">
                            <img src="assets/images/thumbs/testimonials-short-img3.png" alt="Image" class="w-full h-100 object-fit-cover">
                        </div>
                        <div class="">
                            <h6 class="mb-2">James anderson</h6>
                            <span class="text-neutral-600"> 
                                <span class="fw-semibold text-main-600">CEO</span>
                                and Founder
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials Item End -->
        
            <!-- Testimonials Item Start -->
            <div class="testimonials-item cursor-pointer bg-white rounded-28-px border border-neutral-100">
                <div class="current-content">
                    <div class="max-h-397-px overflow-hidden text-center">
                        <img src="assets/images/thumbs/testimonials-img2.png" alt="Image" class="">
                    </div>
                    <div class="py-8 px-4 text-center">
                        <h6 class="mb-2">John Doe</h6>
                        <span class="text-neutral-600 fw-medium text-sm"> 
                            <span class="fw-semibold text-neutral-600">Developer -</span>
                            Web Developer
                        </span>
                    </div>
                </div>
        
                <div class="hidden-content px-56-px py-76-px">
                    <div class="">
                        <span class="mb-6 animate-left-right animation-delay-02 duration-200">
                            <img src="assets/images/icons/ratings.svg" alt="" class="">
                        </span>
                        <div class="border-bottom border-neutral-200 pb-10 mb-8">
                            <p class="testimonials-item__desc h5 text-heading fw-medium leading-153 animate-left-right animation-delay-03 duration-200 line-clamp-4">“SassTech hires great people from a widely variety of backgrounds, which simply makes our compan stronger, and we couldn't be prouder of that. elevating your optimizing Business  Growth.”</p>
                        </div>
                    </div>
                    <div class="flex items-center gap-6 animate-left-right animation-delay-04 duration-200">
                        <div class="h-84-px w-84-px rounded-circle">
                            <img src="assets/images/thumbs/testimonials-short-img2.png" alt="Image" class="w-full h-100 object-fit-cover">
                        </div>
                        <div class="">
                            <h6 class="mb-2">Webcly jhonson</h6>
                            <span class="text-neutral-600 fw-medium text-sm"> 
                                <span class="fw-semibold text-neutral-600">Developer -</span>
                                Web Developer
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials Item End -->
        </div>

    </div>
</section>
<!-- ============================ Testimonials section End ============================= -->



