<!-- =================================== Testimonials Five section start =================================== -->
<section class="py-[80px] sm:py-[100px] lg:py-[120px] bg-black">
    <div class="text-center mx-auto pb-15 max-w-548-px">
        <div class="bg-white py-2 px-7 rounded-[50rem] text-main-600 font-bold capitalize leading-none inline-flex items-center gap-2 mb-[4.5] min-w-max common-shadow-twentyNine" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" > what we offering
        </div>
        <h2 class="splitTextStyleOne text-white capitalize leading-none">Trusted CRM tools by the happy users</h2>
    </div>

    <div class="">

        <div class="swiper testimonials-five-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="">
                        <div class="common-shadow-ten rounded-2xl p-60-px bg-white h-full animation-item">
                            <div class="flex items-center justify-between">
                                <div class="">
                                    <h5 class="mb-2 capitalize">william camel</h5>
                                    <span class="text-neutral-500 font-medium">Head of Design at Zazoo </span>
                                </div>
                                <div class="">
                                    <img src="assets/images/icons/ratings.svg" alt="Star Rating">
                                </div>
                            </div>
                            <h4 class="max-w-288-px mt-8 mb-9">I had a great experience with printSpace!</h4>
                            <p class="text-neutral-600 text-2xl leading-[1.53]">Good Time is very good in what they're doing and more than happy to challenge and push you to think about your decisions both from usable</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="">
                        <div class="common-shadow-ten rounded-2xl p-60-px bg-white h-full animation-item">
                            <div class="flex items-center justify-between">
                                <div class="">
                                    <h5 class="mb-2 capitalize">Robiul Hasan</h5>
                                    <span class="text-neutral-500 font-medium">Head of Design at Zazoo </span>
                                </div>
                                <div class="">
                                    <img src="assets/images/icons/ratings.svg" alt="Star Rating">
                                </div>
                            </div>
                            <h4 class="max-w-288-px mt-8 mb-9">I had a great experience with printSpace!</h4>
                            <p class="text-neutral-600 text-2xl leading-[1.53]">Good Time is very good in what they're doing and more than happy to challenge and push you to think about your decisions both from usable</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="">
                        <div class="common-shadow-ten rounded-2xl p-60-px bg-white h-full animation-item">
                            <div class="flex items-center justify-between">
                                <div class="">
                                    <h5 class="mb-2 capitalize">John Doe</h5>
                                    <span class="text-neutral-500 font-medium">Head of Design at Zazoo </span>
                                </div>
                                <div class="">
                                    <img src="assets/images/icons/ratings.svg" alt="Star Rating">
                                </div>
                            </div>
                            <h4 class="max-w-288-px mt-8 mb-9">I had a great experience with printSpace!</h4>
                            <p class="text-neutral-600 text-2xl leading-[1.53]">Good Time is very good in what they're doing and more than happy to challenge and push you to think about your decisions both from usable</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600">
                    <div class="">
                        <div class="common-shadow-ten rounded-2xl p-60-px bg-white h-full animation-item">
                            <div class="flex items-center justify-between">
                                <div class="">
                                    <h5 class="mb-2 capitalize">John Smith</h5>
                                    <span class="text-neutral-500 font-medium">Head of Design at Zazoo </span>
                                </div>
                                <div class="">
                                    <img src="assets/images/icons/ratings.svg" alt="Star Rating">
                                </div>
                            </div>
                            <h4 class="max-w-288-px mt-8 mb-9">I had a great experience with printSpace!</h4>
                            <p class="text-neutral-600 text-2xl leading-[1.53]">Good Time is very good in what they're doing and more than happy to challenge and push you to think about your decisions both from usable</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials-five-slider-pagination pagination-style-four flex items-center justify-center gap-6 mt-15 pb-3"></div>
        </div>
    </div>
</section>
<!-- =================================== Testimonials Five section End =================================== -->


