<!-- ========================== Top header two start =============================== -->
<div class="pt-3 pb-4 absolute top-0 start-0 end-0 w-full z-991">
    <div class="container max-w-[1290px]">
        <div class="flex items-center justify-between gap-4 flex-wrap">

            <div class="flex items-center gap-2 sm:flex hidden">
                <span class="text-white text-base flex leading-none">
                    <i class="ph-bold ph-envelope-simple"></i>
                </span>
                <span class="text-neutral-300 font-medium text-sm">example@gmail.com</span>
            </div>

            <div class="flex items-center gap-2 lg:flex hidden">
                <span class="text-white text-base flex leading-none">
                    <i class="ph-bold ph-tag"></i>
                </span>
                <span class="text-neutral-300 font-medium text-sm">Hosting Flash Sale: Starting at $2.59/mo for a limited time</span>
            </div>

            <div class="flex items-center gap-7.5 justify-between justify-content-sm-start flex-sm-grow-0 flex-grow-1">
                <div class="flex items-center gap-2">
                    <span class="text-white text-base flex leading-none">
                        <i class="ph-bold ph-chat"></i>
                    </span>
                    <a href="live-chat.html" class="text-neutral-300 font-medium text-sm hover:text-white">Live Chat</a>
                </div>
                <div class="flex items-center gap-2">
                    <span class="text-white text-base flex leading-none">
                        <i class="ph-bold ph-user"></i>
                    </span>
                    <a href="login.html" class="text-neutral-300 font-medium text-sm hover:text-white">Login</a>
                </div>

                <div class="group-item has-submenu has-submenu--arrow-end relative">
                    <a href="javascript:void(0)" class="selected-text text-neutral-300 font-medium text-sm hover:text-white pe-4.5">US Dollar </a>
                    <ul class="selectable-text-list invisible opacity-0 group-hover:item-visible group-hover:item-opacity-1 transition duration-200 bg-neutral-700 py-4 flex flex-col gap-1 shadow rounded-md absolute top-100 end-0 w-[140px] z-99 max-h-[260px] overflow-y-auto scroll-sm">
                        <li>
                            <a href="javascript:void(0)" class="text-neutral-300 font-medium text-sm hover:text-white transition px-4"> 
                                US Dollar
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="text-neutral-300 font-medium text-sm hover:text-white transition px-4"> 
                                British Pound
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="text-neutral-300 font-medium text-sm hover:text-white transition px-4"> 
                                Japanese Yen
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="text-neutral-300 font-medium text-sm hover:text-white transition px-4"> 
                                Swiss Franc
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="text-neutral-300 font-medium text-sm hover:text-white transition px-4"> 
                                Canadian Dollar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ========================== Top header two end =============================== -->