<!-- ========================== Top Header Start ============================== -->
<div class="bg-main-600 py-205 d-sm-block d-none">
    <div class="container">
        <div class="flex justify-center">
            <p class="text-white bg-white-13 d-inline-block py-1 px-5 rounded-pill font-normal">We're introducing an exceptionally crafted UI/UX template on ThemeForest, designed to deliver outstanding conversion results!</p>
        </div>
    </div>
</div>
<!-- ========================== Top Header End ============================== -->