<!-- ============================== Top Features Section start ============================== -->
<div class="border-top border-neutral-100 tw-py-4 common-shadow-one">
  <div class="container">
    <div class="top-features-slider overflow-hidden left-right-gradient relative">
      <div class="flex items-center tw-gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading fw-medium tw-text-base">Perfect solution for success</span>
      </div>
      <div class="flex items-center tw-gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading fw-medium tw-text-base">Excellence in tailored IT Srvices</span>
      </div>
      <div class="flex items-center tw-gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading fw-medium tw-text-base">Elevate your brand sasstech</span>
      </div>
      <div class="flex items-center tw-gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading fw-medium tw-text-base">Achieve business golas solution</span>
      </div>
      <div class="flex items-center tw-gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading fw-medium tw-text-base">Innnovation in every presence</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================== Top Features Section end ============================== -->