<!-- ============================== Top Features Section start ============================== -->
<div class="border-t border-t border-neutral-100 py-4 common-shadow-one bg-white">
  <div class="container">
    <div class="top-features-slider overflow-hidden left-right-gradient relative flex whitespace-nowrap">
      <div class="flex items-center gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading font-medium">Perfect solution for success</span>
      </div>
      <div class="flex items-center gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading font-medium">Excellence in tailored IT Srvices</span>
      </div>
      <div class="flex items-center gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading font-medium">Elevate your brand sasstech</span>
      </div>
      <div class="flex items-center gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading font-medium">Achieve business golas solution</span>
      </div>
      <div class="flex items-center gap-4">
        <img src="assets/images/icons/chart-icon.svg" alt="Icon">
        <span class="text-heading font-medium">Innnovation in every presence</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================== Top Features Section end ============================== -->