<!-- ========================= Website Owner section start =============================== -->
<section class="website-owner pb-120 relative z-1">
    <img src="assets/images/shapes/moon-shape.png" alt="Moon Shape" class="absolute top-50 tw-start-50 translate-middle z-n1">
    
    <div class="container">
        <div class="flex items-center justify-between tw-gap-6 tw-mb-12">
            <div class="max-w-672-px">
                <div class="bg-neutral-200 tw-py-3 tw-px-305 rounded-pill text-heading fw-medium text-capitalize tw-leading-none inline-flex items-center tw-gap-2 tw-mb-405 min-w-max" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                    <span class="tw-w-205 tw-h-205 bg-yellow rounded-circle"></span>
                    Up to <span class="text-yellow">70%</span> off managed cloud hosting
                </div>
                <h2 class="splitTextStyleOne text-heading text-capitalize"> Trusted by 3+ million website owners
                    <span class="font-dm-serif fst-italic fw-normal"> worldwide </span>
                </h2>
            </div>
            <div class="" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                <p class="splitTextStyleOne text-neutral-500 tw-mt-8 max-w-490-px fw-medium">In today's competitive business, the demand for efficient In today's competitive  cost-effective IT solutions has never been more critic.</p>
            </div>
        </div>
        
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="row gy-4">
                    <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <div class="common-shadow-ten tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item">
                            <span class="tw-mb-5">
                                <img src="assets/images/thumbs/website-owner-img1.png" alt="Logo" class="animate__flipInY">
                            </span>
                            <div class="">
                                <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews  from our sales and customer support  teams using close. Even our co- sales founders are very happy. We get absolutely raving reviews from our Even our co- founders are very happy for services </p>
                                <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                                <div class="flex items-center justify-between">
                                    <div class="">
                                        <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                                        <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                                    </div>
                                    <div class="inline-flex items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill">
                                        <span class="text-white fw-bold tw-text-sm">4.9</span>
                                        <span class="text-white flex">
                                            <img src="assets/images/icons/star.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                        <div class="common-shadow-ten tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item">
                            <span class="tw-mb-5">
                                <img src="assets/images/thumbs/website-owner-img2.png" alt="Logo" class="animate__flipInY">
                            </span>
                            <div class="">
                                <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews from our sales and customer support teams using close. Even our co</p>
                                <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                                <div class="flex items-center justify-between">
                                    <div class="">
                                        <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                                        <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                                    </div>
                                    <div class="inline-flex items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill">
                                        <span class="text-white fw-bold tw-text-sm">4.9</span>
                                        <span class="text-white flex">
                                            <img src="assets/images/icons/star.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row gy-4">
                    <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700" >
                        <div class="common-shadow-ten tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item">
                            <span class="tw-mb-5">
                                <img src="assets/images/thumbs/website-owner-img3.png" alt="Logo" class="animate__flipInY">
                            </span>
                            <div class="">
                                <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews from our sales and customer support teams using close. Even our co-founders are very happy.</p>
                                <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                                <div class="flex items-center justify-between">
                                    <div class="">
                                        <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                                        <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                                    </div>
                                    <div class="inline-flex items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill">
                                        <span class="text-white fw-bold tw-text-sm">4.9</span>
                                        <span class="text-white flex">
                                            <img src="assets/images/icons/star.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="700" >
                        <div class="common-shadow-ten tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item">
                            <span class="tw-mb-5">
                                <img src="assets/images/thumbs/website-owner-img4.png" alt="Logo" class="animate__flipInY">
                            </span>
                            <div class="">
                                <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews  from our sales and customer support  teams using close. Even our co- sales founders are very happy. We get absolutely raving reviews from our </p>
                                <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                                <div class="flex items-center justify-between">
                                    <div class="">
                                        <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                                        <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                                    </div>
                                    <div class="inline-flex items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill">
                                        <span class="text-white fw-bold tw-text-sm">4.9</span>
                                        <span class="text-white flex">
                                            <img src="assets/images/icons/star.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row gy-4">
                    <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                        <div class="common-shadow-ten tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item">
                            <span class="tw-mb-5">
                                <img src="assets/images/thumbs/website-owner-img5.png" alt="Logo" class="animate__flipInY">
                            </span>
                            <div class="">
                                <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews  from our sales and customer support  teams using close. Even our co- sales founders are very happy. We get absolutely raving reviews from our Even our co- founders are very happy for services</p>
                                <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                                <div class="flex items-center justify-between">
                                    <div class="">
                                        <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                                        <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                                    </div>
                                    <div class="inline-flex items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill">
                                        <span class="text-white fw-bold tw-text-sm">4.9</span>
                                        <span class="text-white flex">
                                            <img src="assets/images/icons/star.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800" >
                        <div class="common-shadow-ten tw-rounded-2xl tw-p-10 tw-pe-9 bg-white h-100 animation-item">
                            <span class="tw-mb-5">
                                <img src="assets/images/thumbs/website-owner-img6.png" alt="Logo" class="animate__flipInY">
                            </span>
                            <div class="">
                                <p class="text-neutral-500 tw-text-xl">We get absolutely raving reviews from our sales and customer support teams using close. Even our compa</p>
                                <span class="d-block tw-h-px bg-neutral-100 tw-my-6"></span>
                                <div class="flex items-center justify-between">
                                    <div class="">
                                        <h6 class="tw-text-lg tw-mb-205">Rudra Ghosh</h6>
                                        <span class="text-neutral-500"> Founder & CEO <span class="text-main-600">Dulalix</span> </span>
                                    </div>
                                    <div class="inline-flex items-center tw-gap-1 bg-main-600 tw-py-05 tw-px-3 rounded-pill">
                                        <span class="text-white fw-bold tw-text-sm">4.9</span>
                                        <span class="text-white flex">
                                            <img src="assets/images/icons/star.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tw-mt-13 text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900" >
            <a href="javascript:void(0)" class="hover--translate-y-1 active--translate-y-scale-9 btn btn-main hover-style-one button--stroke tw-gap-5 group active--translate-y-2 tw-px-17 rounded-pill tw-py-505 fw-medium" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">Read More Story</span>
            </a>
        </div>
        
    </div>
</section>
<!-- ========================= Website Owner section End =============================== -->