<!-- ================================== Work process five section start ================================== -->
<section class="work-process-five py-[80px] sm:py-[100px] lg:py-[120px]">
    <div class="container">
        <div class="text-center mx-auto pb-15">
            <div class="bg-white py-2 px-7 rounded-[50rem]! text-main-600 font-bold capitalize leading-none! inline-flex items-center gap-2 mb-4.5 min-w-max common-shadow-twentyNine" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" > what we offering
            </div>
            <h2 class="splitTextStyleOne text-heading capitalize leading-none!">Simplifying your investment journey</h2>
        </div>
        
        <div class="relative mt-17 stair-bg rounded-[28px]">
            <div class="px-4 lg:px-6 xl:px-8 2xl:px-10 flex pt-14 gradient-bg-eight rounded-[28px] relative md:flex-nowrap flex-wrap gap-6">
                <div class="max-w-[780px] mx-auto">
                    <div class="text-center ">
                        <div class="bg-transparent border border-blue text-blue py-2 px-7 rounded-[50rem]! font-bold capitalize leading-none! inline-flex items-center gap-2 mb-4.5 min-w-max common-shadow-twentyEight" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                            what we offering
                        </div>
                        <h2 class="splitTextStyleOne text-heading capitalize leading-none! max-w-[500px] mx-auto">Sign up and secure your account</h2>
                        <p class="text-neutral-600 text-xl mt-6.5 splitTextStyleOne mx-auto font-medium leading-[1.45] max-w-[548px]">In today's competitive business, the demand for efficient and cost-effective IT solutions has never been more critical.</p>
                    </div>

                    <div class="mt-[80px] flex justify-between relative z-10 gap-2 pb-10">
                        <span class="w-full--40-px h-px bg-white absolute start-[50%] translate-x-[-50%] translate-y-[-50%]-x top-0 -z-[1] mt-2"></span>
                        
                        <div class="text-center">
                            <span class="w-4.5 h-4.5 bg-deep-green rounded-[50%]"></span>
                            <span class="text-heading font-semibold block mt-4 capitalize">Sign up</span>
                        </div>
                        <div class="text-center">
                            <span class="w-4.5 h-4.5 rounded-[50%] bg-white common-shadow-twentyEight"></span>
                            <span class="text-heading font-semibold block mt-4 capitalize">investment goals</span>
                        </div>
                        <div class="text-center">
                            <span class="w-4.5 h-4.5 rounded-[50%] bg-main-600"></span>
                            <span class="text-heading font-semibold block mt-4 capitalize">start investing</span>
                        </div>
                    </div>
                </div>
    
                <div class="flex flex-col justify-end">
                    <img src="assets/images/thumbs/work-process-five-thumb.png" alt="Thumbnail" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1200">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================== Work process five section End ================================== -->