<!-- ============================ Work place team section start ============================ -->
<section class="workplace-team py-[80px] sm:py-[100px] lg:py-[120px] gradient-bg-five relative z-10">
    <img src="assets/images/shapes/curve-way.png" alt="Shape" class="absolute start-0 bottom-0 -z-[1] w-full">
    
    <div class="container">
        <div class="mb-8 text-center max-w-[570px] mx-auto">
            <div class="bg-white py-3 px-3.5 rounded-[50rem]! font-medium capitalize leading-none! inline-flex items-center gap-2 mb-4.5 min-w-max border border-spring-green" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" >
                <div class="text-gradient-teal">
                    Up to <span class="text-yellow-600 text-stroke-yellow">70%</span> off managed cloud hosting
                </div>
            </div>
            <h2 class="splitTextStyleOne text-white">
                Essential for
                <span class="font-dm-serif fst-italic font-normal">workplaces.</span> 
                Great for any team.
            </h2>
            <p class="splitTextStyleOne text-neutral-300 mt-8 max-w-[570px] font-medium text-lg">Sassly-CRM in the past allowing you to focus more on your business simply enjoy your newfound legal time to reflect leaving pen</p>
        </div>

        <div class="border border-white-01 rounded-2xl sm:p-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="900">
            <div class="background-img bg-img rounded-2xl bg-position-top-center" data-background-image="assets/images/shapes/dashboard-screen.png">
                <div class="p-7 pt-16 flex gap-13 flex-lg-row flex-col">

                    <!-- Sidebar Start -->
                    <div class="bg-neutral-100 rounded-2xl p-4 max-w-[330px] flex-shrink-0">
                        <div class="ps-4 pt-2 mb-10 pb-10">
                            <a href="index.html" class="">
                                <img src="assets/images/logo/logo-two.png" alt="Logo">
                            </a>
                        </div>
                        <div class="">
                            <div class="nav flex-col gradient-bg nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link animation-item py-5.5 px-9 text-lg font-bold text-heading rounded-xl flex items-center gap-4 active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                    <span class="icon active:white animate__heartBeat">
                                        <img src="assets/images/icons/workplace-tab-icon1.svg" alt="Icon">
                                    </span>
                                    All Teams
                                </button>
                                <button class="nav-link animation-item py-5.5 px-9 text-lg font-bold text-heading rounded-xl flex items-center gap-4" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                    <span class="icon active:white animate__heartBeat">
                                        <img src="assets/images/icons/workplace-tab-icon2.svg" alt="Icon">
                                    </span>
                                    Security
                                </button>
                                <button class="nav-link animation-item py-5.5 px-9 text-lg font-bold text-heading rounded-xl flex items-center gap-4" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">
                                    <span class="icon active:white animate__heartBeat">
                                        <img src="assets/images/icons/workplace-tab-icon3.svg" alt="Icon">
                                    </span>
                                    Technology
                                </button>
                                <button class="nav-link animation-item py-5.5 px-9 text-lg font-bold text-heading rounded-xl flex items-center gap-4" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                    <span class="icon active:white animate__heartBeat">
                                        <img src="assets/images/icons/workplace-tab-icon4.svg" alt="Icon">
                                    </span>
                                    Infrastructure
                                </button>
                                <button class="nav-link animation-item py-5.5 px-9 text-lg font-bold text-heading rounded-xl flex items-center gap-4" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                    <span class="icon active:white animate__heartBeat">
                                        <img src="assets/images/icons/workplace-tab-icon5.svg" alt="Icon">
                                    </span>
                                    Engineering
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar End -->

                    <!-- Contents Start -->
                    <div class="flex-grow-1">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                                <div class="rounded-2xl">
                                    <img src="assets/images/thumbs/workplace-tab-thumb.png" alt="Thumbs" class="w-full h-full">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                                <div class="rounded-2xl">
                                    <img src="assets/images/thumbs/workplace-tab-thumb.png" alt="Thumbs" class="w-full h-full">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
                                <div class="rounded-2xl">
                                    <img src="assets/images/thumbs/workplace-tab-thumb.png" alt="Thumbs" class="w-full h-full">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                                <div class="rounded-2xl">
                                    <img src="assets/images/thumbs/workplace-tab-thumb.png" alt="Thumbs" class="w-full h-full">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                                <div class="rounded-2xl">
                                    <img src="assets/images/thumbs/workplace-tab-thumb.png" alt="Thumbs" class="w-full h-full">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Contents End -->
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- ============================ Work place team section End ============================ -->

