@import "tailwindcss";
/* Font Family*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Vidaloka&display=swap");
/* ========================= Variable Css Start ======================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap");

@theme {
  --color-heading: oklch(0.21 0.09 282.79);

  --color-main-50: #eef4ff;
  --color-main-100: #dbe7ff;
  --color-main-200: #bcd3ff;
  --color-main-300: #8fb3ff;
  --color-main-400: #5f8cff;
  --color-main-500: #3367ff;
  --color-main-600: #1351d8; /* main */
  --color-main-700: #0f3fa8;
  --color-main-800: #0d3385;
  --color-main-900: #0c2b6b;
  --color-main-950: #081a42;

  --color-main-two-50: #f2f1f8;
  --color-main-two-100: #e4e2f1;
  --color-main-two-200: #c9c6e3;
  --color-main-two-300: #a7a1d1;
  --color-main-two-400: #8077bb;
  --color-main-two-500: #4f4794;
  --color-main-two-600: #150e3e; /* base */
  --color-main-two-700: #120c36;
  --color-main-two-800: #0e0a2b;
  --color-main-two-900: #0b0821;
  --color-main-two-950: #070515;

  --color-heading: #150e3e;
}

img {
  @apply max-w-full;
}

p {
  @apply leading-[2];
}

.container {
  @apply max-w-[1400px] w-full mx-auto px-4;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @apply leading-[1.2];
}

h1,
.h1 {
  font-size: clamp(2.125rem, -0.0733rem + 5.5vw, 4.4375rem);
}

h2,
.h2 {
  font-size: clamp(1.875rem, 0.7133rem + 2.8846vw, 3.75rem);
}

h3,
.h3 {
  font-size: clamp(1.75rem, 0.3353rem + 2.1661vw, 3rem);
}

h4,
.h4 {
  font-size: clamp(1.5rem, 0.5569rem + 1.444vw, 1.875rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.2rem + 0.722vw, 1.5rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.769rem + 0.6813vw, 1.25rem);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  @apply text-[inherit] duration-200 leading-[inherit];
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: var(--main-600);
}

a {
  transition: 0.2s ease-in-out;
}

button {
  @apply cursor-pointer;
}

/* Custom Classes start */
.bg-black {
  @apply bg-[#1c1c1c];
}

.bg-green {
  @apply bg-[#00b67a];
}

.bg-pink {
  @apply bg-[#fd1774];
}

.bg-pink-dark {
  @apply bg-[#f5f5f8];
}

.bg-pink-light {
  @apply bg-[#f97289];
}

.bg-pink-lighter {
  @apply bg-[#f9728924];
}

.bg-sky {
  @apply bg-[#41a5fa];
}

.bg-sky-deep {
  @apply bg-[#1b89aa];
}

.bg-dark-deep {
  @apply bg-[#31336b];
}

.bg-purple-600-light {
  @apply bg-[#f5f5f8];
}

.bg-paste {
  @apply bg-[#3af062];
}

.bg-paste-light {
  @apply bg-[#3af0622b];
}

.bg-spring-green {
  @apply bg-[#30e87a];
}

.bg-goldenrod {
  @apply bg-[#d19d3d17];
}

.bg-deep-green {
  @apply bg-[#0a8a22];
}

.section-bg-one {
  @apply bg-[#f5f5f8];
}

.section-bg-two {
  @apply bg-[#f3f8f8];
}

.section-bg-three {
  @apply bg-[#f0f0fc];
}

.bg-pink-more-light {
  @apply bg-[#fbf6ee];
}
/* Custom Classes end */

/* Box Shadow start */
.common-shadow-one {
  @apply shadow-[0_8px_22px_0px_rgba(0,0,0,0.04)];
}

.common-shadow-two {
  @apply shadow-[0_30px_50px_0px_#12111614];
}

.common-shadow-three {
  @apply shadow-[9px_-2px_19px_9px_rgba(0,0,0,0.02)];
}

.common-shadow-four {
  @apply shadow-[0px_4px_15px_0px_rgba(0,0,0,0.09)];
}

.common-shadow-five {
  @apply shadow-[0px_10px_100px_0px_rgba(0,0,0,0.05)];
}

.common-shadow-six {
  @apply shadow-[0px_4px_30px_0px_#364F8314];
}

.common-shadow-seven {
  @apply shadow-[0px_4px_32px_0px_#0000000A];
}

.common-shadow-eight {
  @apply shadow-[0px_4px_32px_10px_#0000000D];
}

.common-shadow-nine {
  @apply shadow-[0px_4px_21px_0px_#00000012];
}

.common-shadow-ten {
  @apply shadow-[0px_4px_18px_0px_#0000000D];
}

.common-shadow-eleven {
  @apply shadow-[0_30px_50px_0px_#0106141F];
}

.common-shadow-twelve {
  @apply shadow-[0_10px_30px_0px_#3955781A];
}

.common-shadow-thirteen {
  @apply shadow-[0px_12px_23px_0px_#3D3E4114];
}

.common-shadow-fourteen {
  @apply shadow-[0px_10px_60px_0px_#8D8D8D1A];
}

.common-shadow-fifteen {
  @apply shadow-[0px_4px_25px_0px_#00000014];
}

.common-shadow-sixteen {
  @apply shadow-[0px_13px_19px_-2px_#2021240A];
}

.common-shadow-seventeen {
  @apply shadow-[0px_7px_29px_0px_#0000000F];
}

.common-shadow-eighteen {
  @apply shadow-[0px_4px_8px_0px_#0000000D];
}

.common-shadow-nineteen {
  @apply shadow-[0px_4px_21px_0px_#0000000D];
}

.common-shadow-twenty {
  @apply shadow-[0px_10px_15px_0px_#DDDDDD26];
}

.common-shadow-twentyOne {
  @apply shadow-[0px_4px_30px_0px_#025A451A];
}

.common-shadow-twentyTwo {
  @apply shadow-[0px_5.22px_19.84px_0px_#0000001F];
}

.common-shadow-twentyThree {
  @apply shadow-[0px_4px_12px_0px_#0000000F];
}

.common-shadow-twentyFour {
  @apply shadow-[0px_20px_50px_0px_#20212424];
}

.common-shadow-twentyFive {
  @apply shadow-[0px_20px_20px_0px_#2021241A];
}

.common-shadow-twentySix {
  @apply shadow-[0px_4px_42px_0px_#00000024];
}

.common-shadow-twentySeven {
  @apply shadow-[0px_6px_17px_0px_#0000000D];
}

.common-shadow-twentyEight {
  @apply shadow-[0px_4px_11px_0px_#0000000D];
}

.common-shadow-twentyNine {
  @apply shadow-[0px_4px_4px_0px_#0000000D];
}

.common-shadow-thirty {
  @apply shadow-[7px_7px_0px_#164333];
}

/* Inset shadow */
.common-shadow-inset-one {
  @apply shadow-[-2px_-2px_2px_0px_#070D1D4D_inset];
}

/* Hover shadows */
.hover-common-shadow-four:hover {
  @apply shadow-[0px_4px_15px_0px_rgba(0,0,0,0.09)];
}

.hover-common-shadow-fourteen:hover {
  @apply shadow-[0px_10px_60px_0px_#8D8D8D1A];
}

.hover-common-shadow-sixteen:hover {
  @apply shadow-[0px_14px_31px_-2px_#2021241A];
}

.hover-common-shadow-thirty:hover {
  @apply shadow-[7px_7px_0px_#164333];
}

.hover-shadow-none:hover {
  @apply shadow-none;
}
/* Box Shadow end */

/* ========================== Button Css Start =============== */
.button__label {
  @apply relative text-center transition-colors duration-[50ms] ease-[cubic-bezier(0.645,0.045,0.355,1)];
}

.button--stroke:hover {
  @apply text-[#0e100f];
}

.button--stroke::after {
  content: "";
  @apply absolute inset-0 border-2 border-[#fffce1] rounded-[inherit] pointer-events-none;
}

.button--stroke .button__flair {
  @apply scale-0 origin-top-left;
}

.button--stroke .button__label {
  @apply transition-colors duration-150 ease-[cubic-bezier(0.645,0.045,0.355,1)];
}

.button__flair {
  @apply absolute inset-0 pointer-events-none;
}

.button__flair::before {
  content: "";
  @apply absolute top-0 left-0 w-[200%] aspect-square bg-[#fffce1] rounded-full 
         -translate-x-1/2 -translate-y-1/2 pointer-events-none;
}

.btn {
  @apply border-0 text-white leading-[1] ps-8 py-4.5 relative overflow-hidden rounded-md z-[1] duration-200;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
  @apply !shadow-none;
}

.btn-main {
  @apply bg-main-600 !text-white;
}

.btn-main.button--stroke::after {
  @apply border-transparent;
}

.btn-main-two {
  @apply bg-main-two-600 !text-white;
}

.btn-main-two.button--stroke::after {
  @apply border-transparent;
}

.btn-white {
  @apply bg-white !text-heading;
}

.btn-white:hover {
  @apply !text-white;
}

.btn-white.button--stroke::after {
  @apply border-transparent;
}

.hover-style-one:hover.button--stroke::after,
.hover-style-one:active.button--stroke::after {
  @apply border-transparent;
}

.hover-style-one .button__flair::before {
  @apply bg-main-two-600;
}

.hover-style-two:hover.button--stroke::after,
.hover-style-two:active.button--stroke::after {
  @apply border-transparent;
}

.hover-style-two .button__flair::before {
  @apply bg-main-600;
}

.hover-style-three:hover,
.hover-style-three:active {
  @apply !text-heading;
}

.hover-style-three:hover.button--stroke::after,
.hover-style-three:active.button--stroke::after {
  @apply border-transparent;
}

.hover-style-three .button__flair::before {
  @apply bg-white;
}

.hover-style-five:hover,
.hover-style-five:active {
  @apply !text-heading;
}

.hover-style-five:hover.button--stroke::after,
.hover-style-five:active.button--stroke::after {
  @apply border-transparent;
}

.hover-style-five .button__flair::before {
  @apply bg-orange-600;
}

.btn-orange-outline {
  @apply border-orange-600 text-orange-600;
}
/* =========================== Button Css End =================== */

/* Menu CSS start */
.nav-submenu {
  @apply min-w-[190px] lg:transition-all lg:duration-[400ms] lg:ease-in-out;
}

@media (min-width: 1024px) {
  .nav-submenu {
    @apply max-h-[400px] overflow-y-auto invisible opacity-0 scale-y-0 origin-top;
  }
}

.mega-menu {
  @apply top-full
    start-0
    w-full
    bg-white
    z-[99]
    max-h-[540px]
    overflow-y-auto
    overflow-x-hidden
    shadow-[0_20px_30px_rgba(0,0,0,0.2)];
}

.has-submenu:hover .nav-submenu {
  @apply visible opacity-100 scale-y-100;
}

.has-submenu > a {
  @apply relative;
}

.has-submenu > a::before {
  @apply absolute content-["\e136"] end-0 top-[50%] translate-y-[-50%] font-["Phosphor"] font-bold text-neutral-400 text-xs duration-300;
}

.has-submenu.activePage > a,
.has-submenu.activePage > a::before {
  @apply text-main-600;
}
.has-submenu:hover a::before {
  @apply translate-y-[-50%] rotate-[360deg];
}

.header.fixed-header {
  @apply fixed z-[9] top-0 w-full start-0;
  animation: slideDown 0.35s ease-out;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Menu Css end */

/* Top Feature section css start */
.top-features-slider > div {
  @apply inline-flex items-center gap-4 ms-8;
}

.js-marquee {
  @apply flex items-center gap-6 md:gap-8 lg:gap-10 xl:gap-12 2xl:gap-[68px];
}

.left-right-gradient::before,
.left-right-gradient::after {
  @apply absolute w-[48px] h-full start-0 top-0 z-[2] content-[''] bg-gradient-to-r from-white to-transparent;
}
.left-right-gradient::after {
  @apply start-auto end-0 scale-x-[-1];
}
/* Top Feature section css End */

/* Banner section css Start */
.clip-path-one {
  clip-path: polygon(0 0, 75% 0%, 100% 23%, 100% 100%, 0 100%, 0% 50%);
}
/* Banner section css End */

/* About section css Start */
.circle-border::before {
  @apply absolute content-[""] border w-[calc(100%-50px)] h-[calc(100%-50px)]  border-[#ffffff26] rounded-[50%] top-[50%] start-[50%] translate-x-[-50%] translate-y-[-50%];
}

.radial-progress {
  @apply h-auto max-w-[140px] rotate-[0deg] w-full;
}

.radial-progress circle {
  @apply fill-none stroke-[#fff] stroke-[6];
}

.radial-progress circle.incomplete {
  @apply opacity-[0.1];
}

.radial-progress circle.complete {
  @apply stroke-main-600;
  stroke-dasharray: 219.9114857513;
  stroke-dashoffset: 219.9114857513;
  transition: stroke-dashoffset 1.25s ease-out;
  stroke-linecap: round;
}

.radial-progress text {
  @apply fill-white translate-x-[0px] translate-y-[80px] rotate-[-90deg];
  text-anchor: middle;
}

.gradient-bg-one {
  @apply bg-gradient-to-b from-[rgba(19,81,216,0.07)] to-[rgba(245,245,248,0.32)];
}

/* About section css End */

/* FAQ section css Start */
.accordion-item:has(button[aria-expanded="true"]) {
  @apply bg-white border-s border-[5px]! border-t-0! border-e-0! border-b-0! border-main-600 rounded-xl;
}
/* FAQ section css End */

/* Testimonials section css Start */
.testimonials-item.active .hidden-content {
  @apply block;
}

.testimonials-item.active .current-content {
  @apply hidden;
}
.testimonials-item.active {
  flex: 2.2;
}
/* Testimonials section css End */

/* Footer One section css Start */
.gradient-overlay::before {
  @apply absolute content-[""] w-full h-full start-0 top-0 bg-linear-to-t from-[#000000] to-[#0000003e];
}
/* Footer One section css End */

/* ============================ Home Two Start ============================= */
.home-two .home-two-header {
  @apply absolute;
}

.home-two .home-two-header.fixed-header {
  @apply fixed mt-0 bg-white z-[999];
}

.banner-two {
  @apply pt-[148px];
}

@media (min-width: 992px) {
  .banner-two {
    @apply pb-[180px];
  }
}
.banner-two__inner {
  @apply py-[152px];
}

.gradient-bg-two {
  background: linear-gradient(
    131.31deg,
    #0b163f 12.26%,
    #0d1c5d 48.46%,
    #301996 91.93%
  );
}

.home-two .btn-main {
  background: linear-gradient(
    270deg,
    #2b85d6 0.5%,
    #254be5 49%,
    #195afb 98.5%
  ) !important;
}

.home-two:root {
  --urbanist: "Urbanist", serif;
  --dm-serif: "DM Serif Display", serif;
  --heading-one: clamp(2.125rem, -0.0733rem + 5.5vw, 4.375rem);
  --heading-two: clamp(1.875rem, 0.7133rem + 2.8846vw, 3.125rem);
  --heading-three: clamp(1.75rem, 0.3353rem + 2.1661vw, 1.875rem);
  --heading-four: clamp(1.5rem, 0.5569rem + 1.444vw, 1.875rem);
  --heading-five: clamp(1.125rem, 1.2rem + 0.722vw, 1.5rem);
  --heading-six: clamp(1rem, 0.769rem + 0.6813vw, 1.25rem);
  --purple-h: 255;
  --purple-s: 77%;
  --purple-l: 57%;
  --purple: var(--purple-h) var(--purple-s) var(--purple-l);
  --heading-color: #150e3d;
}

.home-two h1 {
  font-family: var(--urbanist);
}

.home-two h1,
.home-two .h1,
.home-two h2,
.home-two .h2,
.home-two h3,
.home-two .h3,
.home-two h4,
.home-two .h4,
.home-two h5,
.home-two .h5,
.home-two h6,
.home-two .h6 {
  color: var(--heading-color);
}

.home-two h1,
.home-two .h1 {
  font-size: var(--heading-one);
}

.home-two h2,
.home-two .h2 {
  font-size: var(--heading-two);
}

.home-two h3,
.home-two .h3 {
  font-size: var(--heading-three);
}

.home-two h4,
.home-two .h4 {
  font-size: var(--heading-four);
}

.home-two h5,
.home-two .h5 {
  font-size: var(--heading-five);
}

.home-two h6,
.home-two .h6 {
  font-size: var(--heading-six);
}

.home-two .font-dm-serif {
  font-family: var(--dm-serif);
}

.home-two .text-heading {
  color: var(--heading-color);
}

/* ============================ Home Two End ============================= */
