@import "tailwindcss";
/* Font Family*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Vidaloka&display=swap");
/* ========================= Variable Css Start ======================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap");

@theme {
  --color-heading: oklch(0.21 0.09 282.79);

  --color-main-50: #eef4ff;
  --color-main-100: #dbe7ff;
  --color-main-200: #bcd3ff;
  --color-main-300: #8fb3ff;
  --color-main-400: #5f8cff;
  --color-main-500: #3367ff;
  --color-main-600: #1351d8; /* main */
  --color-main-700: #0f3fa8;
  --color-main-800: #0d3385;
  --color-main-900: #0c2b6b;
  --color-main-950: #081a42;

  --color-main-two-50: #f2f1f8;
  --color-main-two-100: #e4e2f1;
  --color-main-two-200: #c9c6e3;
  --color-main-two-300: #a7a1d1;
  --color-main-two-400: #8077bb;
  --color-main-two-500: #4f4794;
  --color-main-two-600: #150e3e; /* base */
  --color-main-two-700: #120c36;
  --color-main-two-800: #0e0a2b;
  --color-main-two-900: #0b0821;
  --color-main-two-950: #070515;

  --heading-one: clamp(2.125rem, -0.0733rem + 5.5vw, 4.4375rem);
  --heading-two: clamp(1.875rem, 0.7133rem + 2.8846vw, 3.75rem);
  --heading-three: clamp(1.75rem, 0.3353rem + 2.1661vw, 3rem);
  --heading-four: clamp(1.5rem, 0.5569rem + 1.444vw, 1.875rem);
  --heading-five: clamp(1.125rem, 1.2rem + 0.722vw, 1.5rem);
  --heading-six: clamp(1rem, 0.769rem + 0.6813vw, 1.25rem);
}

img {
  @apply max-w-full;
}

p {
  @apply leading-[2];
}

.container {
  @apply max-w-[1400px] w-full mx-auto px-4;
}

/* a,
span {
  @apply inline-block;
} */


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply leading-[1.2]'
    /* font-family: var(--heading-font);
    color: var(--black);
    line-height: 1.2;
    font-weight: 700; */
}

h1,
.h1 {
  font-size: var(--heading-one);
}

h2,
.h2 {
  font-size: var(--heading-two);
}

h3,
.h3 {
  font-size: var(--heading-three);
}

h4,
.h4 {
  font-size: var(--heading-four);
}

h5,
.h5 {
  font-size: var(--heading-five);
}

h6,
.h6 {
  font-size: var(--heading-six);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  transition: 0.2s linear;
  line-height: inherit;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
  color: var(--main-600);
}

/* Custom Classes start */
.bg-black {
  @apply bg-[#1c1c1c];
}

.bg-green {
  @apply bg-[#00b67a];
}

.bg-pink {
  @apply bg-[#fd1774];
}

.bg-pink-dark {
  @apply bg-[#f5f5f8];
}

.bg-pink-light {
  @apply bg-[#f97289];
}

.bg-pink-lighter {
  @apply bg-[#f9728924];
}

.bg-sky {
  @apply bg-[#41a5fa];
}

.bg-sky-deep {
  @apply bg-[#1b89aa];
}

.bg-dark-deep {
  @apply bg-[#31336b];
}

.bg-purple-600-light {
  @apply bg-[#f5f5f8];
}

.bg-paste {
  @apply bg-[#3af062];
}

.bg-paste-light {
  @apply bg-[#3af0622b];
}

.bg-spring-green {
  @apply bg-[#30e87a];
}

.bg-goldenrod {
  @apply bg-[#d19d3d17];
}

.bg-deep-green {
  @apply bg-[#0a8a22];
}

.section-bg-one {
  @apply bg-[#f5f5f8];
}

.section-bg-two {
  @apply bg-[#f3f8f8];
}

.section-bg-three {
  @apply bg-[#f0f0fc];
}

.bg-pink-more-light {
  @apply bg-[#fbf6ee];
}
/* Custom Classes end */

/* Menu CSS start */
.nav-submenu {
  @apply min-w-[190px]
    invisible
    opacity-0
    scale-y-0
    origin-top
    transition-all
    duration-[400ms]
    ease-in-out
    shadow-[0_10px_15px_-3px_rgba(0,0,0,0.1),0_4px_6px_-4px_rgba(0,0,0,0.1)];
}

/* Desktop only (992px is custom, not Tailwind default) */
@media (min-width: 992px) {
  .nav-submenu {
    @apply max-h-[400px] overflow-y-auto;
  }
}

.mega-menu {
  @apply absolute
    top-full
    left-0
    w-full
    bg-white
    z-[99]
    max-h-[540px]
    overflow-y-auto
    overflow-x-hidden
    shadow-[0_20px_30px_rgba(0,0,0,0.2)];
}

.has-submenu:hover .nav-submenu {
  @apply visible opacity-100 scale-y-100;
}

.top-features-slider > div {
  @apply inline-flex items-center gap-4 ms-8;
}
.js-marquee {
  @apply flex items-center gap-6 md:gap-8 lg:gap-10 xl:gap-12 2xl:gap-[68px];
}
/* Menu Css end */
